Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add figure tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add Typography page for Voorbeeld Theme
  packages/voorbeeld-design-tokens/documentation/typography.mdx
  packages/voorbeeld-design-tokens/package.json
  packages/voorbeeld-design-tokens/src/font.js
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

style: add subtle drop target
  packages/theme-toolkit/src/DropTarget.css
  packages/theme-toolkit/src/DropTarget.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add Voorbeeld Theme typography editor page
  packages/theme-toolkit/src/FontDropTarget.tsx
  packages/voorbeeld-design-tokens/documentation/typography.mdx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add wakamai-fondue build
  packages/theme-toolkit/src/vendor/wakamai-fondue.d.ts
  packages/theme-toolkit/src/vendor/wakamai-fondue.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add new Utrecht components
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Paragraph component
  packages/voorbeeld-design-tokens/documentation/paragraph/ams-paragraph.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Button component
  packages/voorbeeld-design-tokens/documentation/button/ams-button.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Utrecht Mark component
  packages/voorbeeld-design-tokens/documentation/mark/utrecht-mark.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Utrecht Code component
  packages/voorbeeld-design-tokens/documentation/code/utrecht-code.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Breadcrumb component
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/ams-breadcrumb.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Utrecht Superscript component
  packages/voorbeeld-design-tokens/documentation/superscript/utrecht-superscript.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Blockquote component
  packages/voorbeeld-design-tokens/documentation/blockquote/ams-blockquote.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Utrecht Code Block component
  packages/voorbeeld-design-tokens/documentation/code-block/utrecht-code-block.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: restore Rotterdam and Utrecht component collage
  packages/storybook/config/main.ts
  packages/storybook/src/rotterdam/components.stories.mdx
  packages/storybook/src/rotterdam/components.stories.ts
  packages/storybook/src/utrecht/components.stories.mdx
  packages/storybook/src/utrecht/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Heading component
  packages/voorbeeld-design-tokens/documentation/heading/ams-heading.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Utrecht Subscript component
  packages/voorbeeld-design-tokens/documentation/subscript/utrecht-subscript.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Unordered List component
  packages/voorbeeld-design-tokens/documentation/unordered-list/ams-unordered-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Accordion component
  packages/voorbeeld-design-tokens/documentation/accordion/ams-accordion.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade to new Utrecht component library
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/basis-design-tokens/package.json
  proprietary/hoeksche-waard-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add Amsterdam Skip Link component
  packages/voorbeeld-design-tokens/documentation/skip-link/ams-skip-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Link component
  packages/voorbeeld-design-tokens/documentation/link/ams-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Utrecht Heading component
  packages/voorbeeld-design-tokens/documentation/heading/utrecht-heading.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Amsterdam Ordered List component
  packages/voorbeeld-design-tokens/documentation/ordered-list/ams-ordered-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add theme migration script
  packages/storybook/config/main.ts
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/DesignTokensMigration.tsx
  packages/theme-toolkit/src/DropTarget.css
  packages/theme-toolkit/src/DropTarget.tsx
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
  packages/theme-toolkit/src/bin/migrate-theme.ts
  packages/theme-toolkit/src/migrate-theme.test.ts
  packages/theme-toolkit/src/migrate-theme.ts
  packages/theme-toolkit/src/util.ts
  packages/voorbeeld-design-tokens/documentation/dashboard.mdx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add Den Haag en Utrecht alert kleuren
  packages/storybook/src/theme-builder/ThemeBuilderDenhaag.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderUtrecht.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add empty alert states to Amsterdam
  packages/storybook/src/theme-builder/ThemeBuilderAmsterdam.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add @nl-design-system-candidate/paragraph-react
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-design-system-candidate-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  packages/voorbeeld-design-tokens/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add <StyleDictionaryStyle> component
  .changeset/light-tables-pretend.md
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/StyleDictionaryStyle.test.tsx
  packages/theme-toolkit/src/StyleDictionaryStyle.tsx
  packages/theme-toolkit/src/style-dictionary.d.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

test/draft: expandable section tokens in json geplakt...
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
Due: none

opnieuw proberen
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
Due: none

feat: add NORA tokens
  .changeset/bright-waves-attack.md
  npmpackagejsonlint.config.cjs
  pnpm-lock.yaml
  proprietary/nora-design-tokens /LICENSE.md
  proprietary/nora-design-tokens /README.md
  proprietary/nora-design-tokens /documentation/color.mdx
  proprietary/nora-design-tokens /documentation/components.stories.ts
  proprietary/nora-design-tokens /documentation/design-tokens.mdx
  proprietary/nora-design-tokens /documentation/readme.mdx
  proprietary/nora-design-tokens /figma/figma.tokens.json
  proprietary/nora-design-tokens /package.json
  proprietary/nora-design-tokens /src/config.json
  proprietary/nora-design-tokens /src/custom.scss
  proprietary/nora-design-tokens /src/font.js
  proprietary/nora-design-tokens /src/index.scss
  proprietary/nora-design-tokens /style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
