Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: patch `@dynamize/color-utilities` to work with modern `moduleResolution`
  package.json
  patches/@dynamize__color-utilities@1.0.11.patch
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: show fallback fonts in expandable region
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.test.tsx
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/components-react/design-tokens-table-react/src/FontFamilyDetails.tsx
  packages/tokens-lib/src/font-family.test.ts
  packages/tokens-lib/src/font-family.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: improve design tokens table
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/DesignTokensTable.css
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/TokenTypeIcon.tsx
  packages/theme-toolkit/src/community-design-tokens.d.ts
  packages/theme-toolkit/src/token-type.ts
  packages/theme-toolkit/src/util.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add samples of font-family and cursor
  packages/theme-toolkit/src/CursorSample.css
  packages/theme-toolkit/src/CursorSample.tsx
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/FontFamilySample.css
  packages/theme-toolkit/src/FontFamilySample.tsx
  packages/theme-toolkit/src/SubtleBadge.css
  packages/theme-toolkit/src/SubtleBadge.tsx
  packages/theme-toolkit/src/TokenTypeIcon.tsx
  packages/theme-toolkit/src/token-type.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add checkmark to verified design tokens
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.test.tsx
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/tokens-lib/package.json
  packages/tokens-lib/src/ExampleTokensCSS.ts
  packages/tokens-lib/src/community-tokens.ts
  packages/voorbeeld-design-tokens/documentation/design-tokens.mdx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add fluid font-size scale to voorbeeld-theme
  packages/storybook/config/preview.ts
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/src/fluid.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove scss files
  proprietary/basic-theme-design-tokens/src/_responsive.scss
  proprietary/basic-theme-design-tokens/src/custom.scss
  proprietary/basic-theme-design-tokens/src/index.scss
Due: none

refactor: add value dollar sign and right value name
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add basis typography scale to voorbeeld tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

refactor: remove unnecessary comma from voorbeeld tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Wijzigingen tijdens samenwerkdag 4 november
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add lux login link tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: added font tokens and changed focus state to focus-visible
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add token set for nora-anchor-nav
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

some todo tokens deleted, some renamed to utrecht prefix
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add tokens for nora-anchor-nav component
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

docs: add changeset for nora-design-tokens update
  .changeset/nora-design-tokens-update.md
Due: markdownlint, prettier --check

feat: add tokens for nora-link-overview
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

refactor: move nora-breadcrumbs-tools-bar
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

docs(release): design system packages
  .changeset/nora-design-tokens-update.md
  proprietary/nora-design-tokens/CHANGELOG.md
  proprietary/nora-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Changed spacing token naming and values
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@68ef1f9dfecbecea53e61e0639f9025977eab716 🚀
  project.json
Due: none

refactor: animal find-replacen met t-shirt sizes
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add fluid space scale
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/src/fluid.scss
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
