Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

style: calendar tokens utrecht community component (#1325)
  .changeset/utrecht-calendar-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Update margin for form field labels to align with design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add gap between form fields to match design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for radio buttons in openforms to match design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for checkboxes in openforms to match design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Refactor styles for radio and checkbox fields in openforms to align with design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Update margin bottom for openforms-title to align with design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Update margin and font size for openforms-summary heading 2 to align with design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Update gap and font size for openforms-summary to align with design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Update selector for openforms-summary item key with fieldset to align with design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add placeholder content for empty openforms-summary item values
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Update selector for empty openforms-summary item values
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add padding and border to openforms-summary statement checkboxes
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add external link icon to footer links for better accessibility
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Convert to W3C DTCG format, read more at https://docs.tokens.studio/convert-to-dtcg-format
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Convert to W3C DTCG format,
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Convert to W3C DTCG format (#1327)
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: navigation bar tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: navigation bar tokens utrecht community component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/navigation-bar-tokens.md
Due: markdownlint, prettier --check

value of block padding adjusted
  packages/start-design-tokens/figma/start.tokens.json
Due: none

value of block padding adjusted - voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: navigation bar tokens utrecht community component (#1328)
  .changeset/navigation-bar-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/ams-calendar-tokens-voorbeeld.md
  .changeset/ams-calendar-tokens.md
  .changeset/ams-date-input.md
  .changeset/ams-description-list.md
  .changeset/ams-heading-token-fix.md
  .changeset/amsterdam-description-list-voorbeeld.md
  .changeset/navigation-bar-tokens.md
  .changeset/utrecht-calendar-tokens.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: action tokens den haag community components
  packages/start-design-tokens/figma/start.tokens.json
Due: none

update
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: password input tokens amsterdam community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

change value of `*.invalid.hover.box-shadow`
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix box-shadow value order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: form fieldset tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

value update
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: action tokens den haag community components - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/denhaag-action-tokens.md
Due: markdownlint, prettier --check

update changeset
  .changeset/denhaag-action-tokens.md
Due: markdownlint, prettier --check

style: action tokens den haag community components (#1329)
  .changeset/denhaag-action-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: date input box shadow value
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: date input box shadow value - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/date-input-box-shadow.md
Due: markdownlint, prettier --check

fix: date input box shadow value (#1333)
  .changeset/date-input-box-shadow.md
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check
