Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: add `@lerna-lite/publish` dependency
  package.json
  pnpm-lock.yaml
  proprietary/nijmegen-design-tokens/src/generated/figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: ignore generated source code in Prettier and ESLint
  .eslintignore
  .prettierignore
Due: none

build: make playroom package private
  packages/playroom/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: use `pickBy` to generate object
  packages/storybook/package.json
  packages/storybook/src/generate-component-pages/page-template.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: make "example theme" default theme
  packages/storybook/src/generate-component-pages/page-template.ts
  packages/theme-switcher/package.json
  packages/theme-switcher/src/generate-json.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: accessible labels
  packages/storybook/src/examples/forms/toegankelijk-label.stories.mdx
Due: none

build: use utility for `mkdir -p`
  proprietary/rotterdam-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Skiplink tokens
  packages/example-theme/figma/example.tokens.json
Due: none

Skiplink tokens (#414)
  packages/example-theme/figma/example.tokens.json
Due: none

Skip-link ipv Skiplink
  packages/example-theme/figma/example.tokens.json
Due: none

Volgorde en 'Skip-link' (#415)
  packages/example-theme/figma/example.tokens.json
Due: none

kleur toegevoegd
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/color.tokens.json
Due: none

font aan link toegevoegd
  proprietary/overheidnl-design-tokens/src/component/utrecht/link.tokens.json
Due: none

feat: textbox aan storybook
  proprietary/overheidnl-design-tokens/src/component/utrecht/textbox.tokens.json
Due: none

style: amsterdam theme improvements
  package-lock.json
Due: none

feat: textbox invalid
  proprietary/overheidnl-design-tokens/src/config.json
Due: none

feat: select storybook
  proprietary/overheidnl-design-tokens/src/component/utrecht/form-select.tokens.json
Due: none

textbox font
  proprietary/overheidnl-design-tokens/src/component/utrecht/textbox.tokens.json
Due: none

fix: radio button is nu volledig volgens figma amsterdam
  proprietary/amsterdam-design-tokens/src/component/utrecht/radio-button.tokens.json
Due: none

feat: Rotterdam radio button is nu volgens hun figma toegevoegd
  proprietary/rotterdam-design-tokens/src/component/utrecht/radio-button.tokens.json
  proprietary/rotterdam-design-tokens/src/config.json
  proprietary/rotterdam-design-tokens/src/index.scss
Due: none

alert varianten toegevoegd
  packages/theme-toolkit/src/component-stories-utrecht.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

storybook updated
  proprietary/overheidnl-design-tokens/src/config.json
Due: none

kleuren toegevoegd
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/color.tokens.json
Due: none

focus tokens
  proprietary/overheidnl-design-tokens/src/common/focus.tokens.json
Due: none

feat: alert tokens
  proprietary/overheidnl-design-tokens/src/component/utrecht/alert.tokens.json
Due: none

font family toegevoegd
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-5.token.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-6.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/paragraph.tokens.json
Due: none

Create example.tokens.json
  proprietary/nijmegen-design-tokens/figma/example.tokens.json
Due: none

build: use utility for `cp -R`
  package.json
  packages/theme-switcher/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: 1overheid design tokens
  pnpm-lock.yaml
  proprietary/1overheid-design-tokens/LICENSE.md
  proprietary/1overheid-design-tokens/README.md
  proprietary/1overheid-design-tokens/documentation/color.stories.mdx
  proprietary/1overheid-design-tokens/documentation/components.stories.mdx
  proprietary/1overheid-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/1overheid-design-tokens/documentation/readme.stories.mdx
  proprietary/1overheid-design-tokens/figma/example.tokens.json
  proprietary/1overheid-design-tokens/package.json
  proprietary/1overheid-design-tokens/src/_responsive.scss
  proprietary/1overheid-design-tokens/src/config.json
  proprietary/1overheid-design-tokens/src/custom.scss
  proprietary/1overheid-design-tokens/src/font.js
  proprietary/1overheid-design-tokens/src/font.scss
  proprietary/1overheid-design-tokens/src/index.scss
  proprietary/1overheid-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Eerste koppeling.
  proprietary/1-overheid-design-tokens/figma/example.tokens.json
Due: none

Utrecht changes
  packages/example-theme/figma/example.tokens.json
Due: none

Naamswijziging voorbeeld -> p1o, toevoeging eerste eigen kleurengroep, groep verwijderd bij wijze van test.
  proprietary/1overheid-design-tokens/figma/example.tokens.json
Due: none

Kleurenpalet van 1overheid geimplementeerd in opzet nlds,
  proprietary/1overheid-design-tokens/figma/example.tokens.json
Due: none

Email input tijdelijke tokens
  packages/example-theme/figma/example.tokens.json
Due: none

Email input tijdelijke tokens (#421)
  packages/example-theme/figma/example.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
