Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Test
  packages/voorbeeld-design-tokens/figma/example.tokens.json
Due: none

fix: Fix typo
  proprietary/example-design-tokens/README.md
Due: markdownlint, prettier --check

fix: restore "voorbeeld theme" in Storybook
  packages/storybook/config/main.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Update example.tokens.json
  packages/voorbeeld-design-tokens/figma/example.tokens.json
Due: none

chore: fix broken references
  packages/voorbeeld-design-tokens/figma/example.tokens.json
Due: none

chore: delete conflicting tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld-tokens.json
Due: none

fix: px values for tokens
  packages/voorbeeld-design-tokens/figma/example.tokens.json
Due: none

Pink
  packages/voorbeeld-design-tokens/figma/example.tokens.json
Due: none

style: prettier
  proprietary/noordwijk-design-tokens/src/component/utrecht/extra-tokens/table.tokens.json
  proprietary/noordwijk-design-tokens/src/font.scss
Due: none

style: lint-fix
  proprietary/noordwijk-design-tokens/src/brand/noordwijk/color.tokens.json
  proprietary/noordwijk-design-tokens/src/brand/noordwijk/typography.tokens.json
  proprietary/noordwijk-design-tokens/src/component/conduction/pagination.tokens.json
  proprietary/noordwijk-design-tokens/src/component/utrecht/code.tokens.json
  proprietary/noordwijk-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/noordwijk-design-tokens/src/component/utrecht/list.tokens.json
Due: none

Update voorbeeld-tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld-tokens.json
Due: none

feat: added roboto font
  proprietary/noordwijk-design-tokens/package.json
  proprietary/noordwijk-design-tokens/src/font.js
  proprietary/noordwijk-design-tokens/src/font.scss
  proprietary/noordwijk-design-tokens/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Rename example.tokens.json to voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Test me nieuwe json naam
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Delete packages/voorbeeld-design-tokens/figma/voorbeeld-tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld-tokens.json
Due: none

build: fix workspace and font dependencies
  packages/storybook/config/preview.js
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/noordwijk-design-tokens/src/font.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: split form-input and textbox tokens
  proprietary/noordwijk-design-tokens/src/component/utrecht/extra-tokens/form-input.tokens.json
  proprietary/noordwijk-design-tokens/src/component/utrecht/extra-tokens/textbox.tokens.json
  proprietary/noordwijk-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/noordwijk-design-tokens/src/component/utrecht/textbox.tokens.json
Due: none

build: fixed wrong token name
  proprietary/noordwijk-design-tokens/src/component/utrecht/form-input.tokens.json
Due: none

add: badge-counter and tabs tokense
  proprietary/noordwijk-design-tokens/src/component/conduction/tabs.tokens.json
  proprietary/noordwijk-design-tokens/src/component/utrecht/badge-counter.tokens.json
  proprietary/noordwijk-design-tokens/src/component/utrecht/extra-tokens/badge-counter.tokens.json
Due: none

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
