Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Text spacing fix
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@9c140cda131062c8dfe1264a9c9195cce9475126 🚀
  iframe.html
  main.b098f0e8.iframe.bundle.js
  main.ca71fdf2.iframe.bundle.js
  main.ca71fdf2.iframe.bundle.js.LICENSE.txt
  playroom/168.2b94247fc9fe063b9588.js
  playroom/168.7da88268f4115b0db8df.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  package-lock.json
  packages/example-theme/package.json
  packages/playroom/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/themes@3b808cf33277e334513fc2d6673441fa3faea8cc 🚀
  iframe.html
  main.a3c64c70.iframe.bundle.js
  main.a3c64c70.iframe.bundle.js.LICENSE.txt
  main.ca71fdf2.iframe.bundle.js
  playroom/168.6f8545fca4d35bf14348.js
  playroom/168.7da88268f4115b0db8df.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: integrate haarlem theme into theme switcher
  packages/theme-switcher/src/generate-json.js
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update haarlem theme wip
  proprietary/haarlem-design-tokens/src/brand/amsterdam/color.tokens.json
  proprietary/haarlem-design-tokens/src/brand/amsterdam/typography.tokens.json
  proprietary/haarlem-design-tokens/src/brand/haarlem/color.tokens.json
  proprietary/haarlem-design-tokens/src/brand/haarlem/typography.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/checkbox.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/form-field-description.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/radio-button.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/search-bar.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/textbox.tokens.json
Due: none

docs: enable the haarlem theme on storybook
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: integrate new component into storybook via theme-toolkit
  packages/theme-toolkit/src/component-stories-util.js
  packages/theme-toolkit/src/component-stories-utrecht.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update haarlem theme
  package-lock.json
  package.json
  packages/theme-toolkit/src/component-stories-utrecht.jsx
  proprietary/haarlem-design-tokens/src/component/utrecht/alert.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/heading1.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/heading2.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/heading3.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/heading4.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/haarlem-design-tokens/src/config.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Nogmaals
  packages/example-theme/figma/example.tokens.json
Due: none

Token update 24 jan (#302)
  packages/example-theme/figma/example.tokens.json
Due: none

feat: update haarlem theme
  proprietary/haarlem-design-tokens/src/common/focus.tokens.json
  proprietary/haarlem-design-tokens/src/common/space.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/button-group.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/checkbox.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/form-field.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/form-fieldset.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/heading1.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/heading2.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/heading3.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/page-content.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/page-header.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/page.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/radio-button.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/select.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/separator.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/unordered-list.tokens.json
  proprietary/haarlem-design-tokens/src/font.scss
Due: none

style: add font for Haarlem
  packages/storybook/config/preview.js
  proprietary/haarlem-design-tokens/src/font.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: align forms elements with figma
  proprietary/haarlem-design-tokens/src/component/utrecht/button-group.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/form-fieldset.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/form-label.tokens.json
Due: none

Ordered List
  packages/example-theme/figma/example.tokens.json
Due: none

Ordered List en Groningen bug (#318)
  packages/example-theme/figma/example.tokens.json
Due: none

Unordered List
  packages/example-theme/figma/example.tokens.json
Due: none

Unordered List (#319)
  packages/example-theme/figma/example.tokens.json
Due: none
