Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: update style-dictionary.test which tests for voorbeeld-token button properties
  packages/theme-toolkit/src/style-dictionary.test.ts
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use new token structure
  packages/voorbeeld-design-tokens/documentation/color.mdx
  packages/voorbeeld-design-tokens/documentation/typography.mdx
  pnpm-lock.yaml
Due: none

Remove name token
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: case-card-update
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add ams page-footer tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Page number navigation underline
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: todo breadcrumb tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: fix start-design tokens build
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: column-gap naam en waarde
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix: tokenset skip-link position
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

waarden van basis-tokens pointer-target en form-control omgezet naar relatieve notaties
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: remove cyclic dependency
  packages/tokens-lib/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: add ams page-header tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: todo progress list naam aanpassing naar column-gap
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: disable test to fix build
  packages/theme-toolkit/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Action 2 in dark mode naar blauwe tint
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: color-scheme-dark setup
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: update storybook and build for color-scheme-dark
  packages/voorbeeld-design-tokens/documentation/component-tokens.stories.ts
  packages/voorbeeld-design-tokens/documentation/components.stories.ts
  packages/voorbeeld-design-tokens/style-dictionary.mjs
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: disable test to fix build
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: task-list icon color
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: xdescribe --> describe.skip
  packages/theme-toolkit/src/style-dictionary.test.ts
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

add unit to 0 values
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Revert "feat: add ams page-footer tokens"
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Revert "feat: add ams page-header tokens"
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: remove extra enter in json
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs(release): design system packages
  .changeset/abuse-tape-tent.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add ma navigation-bar tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/art-touch-will.md
Due: markdownlint, prettier --check

feat: add ma navigation-bar tokens (#1085)
  .changeset/art-touch-will.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

fix: change version bump to minor
  .changeset/art-touch-will.md
Due: markdownlint, prettier --check

fix: change version bump in change log MA tokens (#1087)
  .changeset/art-touch-will.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/art-touch-will.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1086)
  .changeset/art-touch-will.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: update border tokens of navigation-bar
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/like-code-safe.md
Due: markdownlint, prettier --check

fix: update border tokens of navigation-bar (#1088)
  .changeset/like-code-safe.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/like-code-safe.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1089)
  .changeset/like-code-safe.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

deel van inverse colors toegevoegd
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
