Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/themes@a25ae6c1b48774c1ab774de046d0ffcbaa6a8ae9 🚀
  iframe.html
  main.b1cb7708.iframe.bundle.js
  main.b1cb7708.iframe.bundle.js.LICENSE.txt
  main.b1cb7708.iframe.bundle.js.map
  main.cee605a2.iframe.bundle.js
  main.cee605a2.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

:sparkles: Add open-forms to the NL DS theme switcher
  packages/theme-switcher/src/generate-json.js
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

:sparkles: Add open-forms design tokens to documentation
  documentation/open-forms/README.md
  documentation/open-forms/color.stories.mdx
  documentation/open-forms/config.json
  documentation/open-forms/readme.stories.mdx
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

build: allow node 18
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: update the design tokens cdn url
  documentation/utrecht/config.json
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@1bb3e614966a134b1f382160b01ae5eb463427d2 🚀
  iframe.html
  main.b1cb7708.iframe.bundle.js
  main.b1cb7708.iframe.bundle.js.map
  main.c42bee41.iframe.bundle.js
  main.c42bee41.iframe.bundle.js.LICENSE.txt
  main.c42bee41.iframe.bundle.js.map
  project.json
  vendors~main.2626d615.iframe.bundle.js
  vendors~main.2626d615.iframe.bundle.js.map
  vendors~main.92a3e9e8.iframe.bundle.js
  vendors~main.92a3e9e8.iframe.bundle.js.LICENSE.txt
  vendors~main.92a3e9e8.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@a0db247108bb37c43aacad25e8d7f75b40ee9788 🚀
  iframe.html
  main.c42bee41.iframe.bundle.js
  main.c42bee41.iframe.bundle.js.map
  main.d728228c.iframe.bundle.js
  main.d728228c.iframe.bundle.js.LICENSE.txt
  main.d728228c.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: improve component stories
  documentation/denhaag/config.json
  documentation/utrecht/config.json
  packages/theme-toolkit/src/ComponentStories.jsx
  packages/theme-toolkit/src/CustomStory.jsx
  packages/theme-toolkit/src/component-stories-util.js
  packages/theme-toolkit/src/component-stories-utrecht.jsx
  proprietary/amsterdam-design-tokens/documentation/components.stories.mdx
  proprietary/amsterdam-design-tokens/src/config.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/config.json
  proprietary/borne-design-tokens/src/config.json
  proprietary/buren-design-tokens/src/config.json
  proprietary/demodam-design-tokens/src/config.json
  proprietary/drechterland-design-tokens/src/config.json
  proprietary/duiven-design-tokens/src/config.json
  proprietary/enkhuizen-design-tokens/src/config.json
  proprietary/groningen-design-tokens/src/config.json
  proprietary/haarlemmermeer-design-tokens/src/config.json
  proprietary/hoorn-design-tokens/src/config.json
  proprietary/horstaandemaas-design-tokens/src/config.json
  proprietary/leidschendam-voorburg-design-tokens/src/config.json
  proprietary/nijmegen-design-tokens/src/config.json
  proprietary/noordoostpolder-design-tokens/src/config.json
  proprietary/provincie-zuid-holland-design-tokens/documentation/components.stories.mdx
  proprietary/provincie-zuid-holland-design-tokens/src/config.json
  proprietary/rotterdam-design-tokens/src/config.json
  proprietary/stedebroec-design-tokens/src/config.json
  proprietary/tilburg-design-tokens/src/config.json
  proprietary/venray-design-tokens/src/config.json
  proprietary/vught-design-tokens/src/config.json
  proprietary/westervoort-design-tokens/src/config.json
  proprietary/zevenaar-design-tokens/src/config.json
  proprietary/zwolle-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@f23d423e9788a047b768057f8138e6a2088d466e 🚀
  iframe.html
  main.3041e921.iframe.bundle.js
  main.3041e921.iframe.bundle.js.LICENSE.txt
  main.3041e921.iframe.bundle.js.map
  main.d728228c.iframe.bundle.js
  main.d728228c.iframe.bundle.js.map
  project.json
  vendors~main.92a3e9e8.iframe.bundle.js
  vendors~main.92a3e9e8.iframe.bundle.js.map
  vendors~main.d15c133b.iframe.bundle.js
  vendors~main.d15c133b.iframe.bundle.js.LICENSE.txt
  vendors~main.d15c133b.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: prefetch the theme stylesheets for more immediate UI
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: patch and minor updates npm dependencies
  package-lock.json
  package.json
  packages/theme-toolkit/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: add denhaag react components
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add denhaag components
  documentation/denhaag/config.json
  documentation/utrecht/config.json
  packages/theme-toolkit/src/ComponentStories.jsx
  packages/theme-toolkit/src/component-stories-denhaag.jsx
  packages/theme-toolkit/src/component-stories-util.js
  proprietary/provincie-zuid-holland-design-tokens/documentation/components.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@5ea850f3b7fa532d96893552c3d23ff3ccdf1eda 🚀
  iframe.html
  main.00219458.iframe.bundle.js
  main.00219458.iframe.bundle.js.LICENSE.txt
  main.00219458.iframe.bundle.js.map
  main.a4e1c8ce.iframe.bundle.js
  main.a4e1c8ce.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add first few component overview pages
  documentation/components/ComponentPage.jsx
  documentation/components/utrecht-button.stories.mdx
  documentation/components/utrecht-heading-1.stories.mdx
  documentation/components/utrecht-heading-2.stories.mdx
  documentation/components/utrecht-heading-3.stories.mdx
  documentation/components/utrecht-heading-4.stories.mdx
  documentation/components/utrecht-heading-5.stories.mdx
  documentation/components/utrecht-heading-6.stories.mdx
  documentation/components/utrecht-ordered-list.stories.mdx
  documentation/components/utrecht-paragraph.stories.mdx
  documentation/components/utrecht-select.stories.mdx
  documentation/components/utrecht-separator.stories.mdx
  documentation/components/utrecht-table.stories.mdx
  documentation/components/utrecht-textarea.stories.mdx
  documentation/components/utrecht-textbox.stories.mdx
  documentation/components/utrecht-unordered-list.stories.mdx
  packages/theme-toolkit/src/component-stories-utrecht.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@87c99ab6089e40e776d79b26a434980cdbd3c9a7 🚀
  iframe.html
  main.00219458.iframe.bundle.js
  main.00219458.iframe.bundle.js.map
  main.49622dde.iframe.bundle.js
  main.49622dde.iframe.bundle.js.LICENSE.txt
  main.49622dde.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: ignore updates for utrecht packages
  .ncurc.patch.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: patch updates
  package-lock.json
  package.json
  packages/theme-toolkit/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: minor updates
  package-lock.json
  package.json
  packages/theme-toolkit/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update major packages
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: add html-validate ignore file
  .htmlvalidateignore
Due: none

ci: remove eslint packages from the ignore files for major udpates
  .github/dependabot.yml
  .ncurc.major.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update eslint packages
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: remove deprecated function-calc-no-invalid method from stylelint
  .stylelintrc.json
Due: none

ci: remove stylelint packages from the ignore files for major udpates
  .github/dependabot.yml
  .ncurc.major.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update stylelint packages
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
