Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: added Epe theme
  packages/storybook/config/preview.js
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: added Dinkelland theme
  packages/storybook/config/preview.js
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: noordwijk
  proprietary/noordwijk-design-tokens/src/brand/noordwijk/color.tokens.json
Due: none

refactor: dinkelland stories
  proprietary/dinkelland-design-tokens/src/config.json
Due: none

refactor: noordwijk stories
  proprietary/noordwijk-design-tokens/src/config.json
Due: none

refactor: epe stories
  proprietary/epe-design-tokens/src/config.json
Due: none

feat: added Leiden theme
  packages/storybook/config/preview.js
  pnpm-lock.yaml
  proprietary/tubbergen-design-tokens/src/index.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: removed .scss
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: reset version
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: added tubbergen to preview
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: added design-tokens for conduction components
  proprietary/rotterdam-design-tokens/src/component/conduction/card-header.tokens.json
  proprietary/rotterdam-design-tokens/src/component/conduction/card-wrapper.tokens.json
  proprietary/rotterdam-design-tokens/src/component/conduction/pagination.tokens.json
  proprietary/rotterdam-design-tokens/src/component/conduction/select.tokens.json
  proprietary/rotterdam-design-tokens/src/component/conduction/tabs.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/alert.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/code.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/extra-tokens/alert.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/extra-tokens/badge-counter.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/extra-tokens/button.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/extra-tokens/icon.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/extra-tokens/page-footer.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/extra-tokens/page-header.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/extra-tokens/table.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/list.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/page-header.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/page.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/rotterdam-design-tokens/src/config.json
Due: none

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Update na videos
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Na video
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Add step marker tokens
  proprietary/buren-design-tokens/src/component/den-haag/step-marker.tokens.json
Due: none

Add steps component and first version of Buren tokens for that component
  package.json
  proprietary/buren-design-tokens/src/component/utrecht/button.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets

Add steps component and first version of Buren tokens for that component
  package.json
  packages/storybook/config/preview.js
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.jsx
  packages/theme-toolkit/src/component-stories-util.js
  pnpm-lock.yaml
  proprietary/buren-design-tokens/src/component/den-haag/process-steps.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/buren-design-tokens/src/config.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Use latest Den Haag components to avoid needing file component
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Demo time
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Demo test
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

demo time
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

build: avoid `@gemeente-denhaag/components-react` because of side effects in Utrecht components
  package.json
  packages/storybook/config/preview.js
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.jsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
