Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

WIP
  proprietary/sittard-geleen-design-tokens/documentation/component-tokens.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/font.scss
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Bold.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-BoldItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Heavy.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-HeavyItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Light.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-LightItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Medium.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-MediumItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Regular.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-RegularItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-SemiBold.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-SemiBoldItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/index.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: update Checkbox tokens Utrecht community component (#1573)
  .changeset/checkbox-todo-utrecht.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Upgrade to changesets v3 (and changesets/action@v2)
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Upgrade to changesets v3 (and changesets/action@v2) (#1574)
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

style: update Text Input tokens Utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/textinput-todo-utrecht.md
Due: markdownlint, prettier --check

fix: disable the colorSchemeDarkPreprocessor for start theme
  packages/start-design-tokens/style-dictionary.mjs
Due: none

style: update Text Input tokens Utrecht community component (#1577)
  .changeset/textinput-todo-utrecht.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

style: update Text Area tokens Utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/textarea-todo-utrecht.md
Due: markdownlint, prettier --check

docs: add start thema (#1291)
  .changeset/good-buckets-wink.md
  packages/start-design-tokens/documentation/color.mdx
  packages/start-design-tokens/documentation/component-tokens.stories.ts
  packages/start-design-tokens/documentation/components.stories.ts
  packages/start-design-tokens/documentation/design-tokens.mdx
  packages/start-design-tokens/documentation/readme.mdx
  packages/start-design-tokens/documentation/typography.mdx
  packages/start-design-tokens/package.json
  packages/start-design-tokens/src/font.js
  packages/start-design-tokens/style-dictionary.mjs
  packages/storybook/config/preview.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: update Text Area tokens Utrecht community component (#1578)
  .changeset/textarea-todo-utrecht.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/accordion-todo-utrecht.md
  .changeset/changelog-edit-new.md
  .changeset/changelog.edtis.1800.md
  .changeset/checkbox-todo-utrecht.md
  .changeset/good-buckets-wink.md
  .changeset/pagination-number-styling.md
  .changeset/textarea-todo-utrecht.md
  .changeset/textinput-todo-utrecht.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

add sittard-geleen theme tokens
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/README.md
  proprietary/sittard-geleen-design-tokens/documentation/color.mdx
  proprietary/sittard-geleen-design-tokens/documentation/component-tokens.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/design-tokens.mdx
  proprietary/sittard-geleen-design-tokens/documentation/readme.mdx
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/_responsive.scss
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/custom.scss
  proprietary/sittard-geleen-design-tokens/src/font.mjs
  proprietary/sittard-geleen-design-tokens/src/font.scss
  proprietary/sittard-geleen-design-tokens/src/index.scss
  proprietary/sittard-geleen-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: import changelog to ma theme, start theme, voorbeeld theme storybooks
  packages/ma-design-tokens/documentation/changelog.mdx
  packages/start-design-tokens/documentation/changelog.mdx
  packages/voorbeeld-design-tokens/documentation/changelog.mdx
Due: none

chore: remove unused import
  packages/ma-design-tokens/documentation/changelog.mdx
  packages/start-design-tokens/documentation/changelog.mdx
  packages/voorbeeld-design-tokens/documentation/changelog.mdx
Due: none

style: removed button token utrecht
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/aap-noot-mies.md
Due: markdownlint, prettier --check

chore: import changelog to ma theme, start theme, voorbeeld theme storybooks (#1579)
  packages/ma-design-tokens/documentation/changelog.mdx
  packages/start-design-tokens/documentation/changelog.mdx
  packages/voorbeeld-design-tokens/documentation/changelog.mdx
Due: none

style: removed side navigation token den haag
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/side-nav-none.md
Due: markdownlint, prettier --check

Apply suggestion from @Robbert
  .changeset/side-nav-none.md
Due: markdownlint, prettier --check

fix: removed side navigation token den haag
  .changeset/side-nav-none.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/side-nav-none.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

- Update from 15.2 to 20.0 - Adjusted lineheigt-md to 175% - Added breakpoint and max width lay-out
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

docs(release): design system packages (#1582)
  .changeset/side-nav-none.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

add sittard-geleen theme tokens
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/README.md
  proprietary/sittard-geleen-design-tokens/documentation/color.mdx
  proprietary/sittard-geleen-design-tokens/documentation/component-tokens.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/readme.mdx
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/_responsive.scss
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/custom.scss
  proprietary/sittard-geleen-design-tokens/src/font.mjs
  proprietary/sittard-geleen-design-tokens/src/font.scss
  proprietary/sittard-geleen-design-tokens/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Create custom.scss
  proprietary/zaanstad-design-tokens/src/custom.scss
Due: none

add changeset
  .changeset/fix-voor-tekst.md
Due: markdownlint, prettier --check

Update custom.scss
  proprietary/zaanstad-design-tokens/src/custom.scss
Due: none

new build v1.0-alpha.5
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.5.scss
  proprietary/leiden-design-tokens/src/of-test-v1.0-alpha.5.scss
Due: none

chore: remove todo-icon-only-button tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: remove todo-icon-only-button tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: remove todo-icon-only-button tokens - Mooi & Anders
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/icon-only-button.md
Due: markdownlint, prettier --check
