Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

style: breadcrumb navigation tokens amsterdam community component - Voorbeeld (#1278)
  .changeset/breadcrumb-navigation-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

status-badge
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: status badge tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: status badge tokens utrecht community component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/status-badge-tokens.md
Due: markdownlint, prettier --check

add changeset
  .changeset/status-badge-tokens-voorbeeld.md
Due: markdownlint, prettier --check

style: status badge tokens utrecht community component (#1279)
  .changeset/status-badge-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

style: status badge tokens utrecht community component - Voorbeeld (#1280)
  .changeset/status-badge-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

changelog-edits/5.0.1
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/5.2.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/5.2.2
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/6.0.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/6.1.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

style: add padding tokens for icon only variant
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: add padding tokens for icon only variant - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

changelog-edits/6.2.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

add changeset
  .changeset/button-icon-only-tokens-voorbeeld.md
Due: markdownlint, prettier --check

add changeset
  .changeset/style/button-icon-only-tokens.md
Due: markdownlint, prettier --check

add changeset
  .changeset/button-icon-only-tokens.md
Due: markdownlint, prettier --check

Delete .changeset/style/button-icon-only-tokens.md
  .changeset/style/button-icon-only-tokens.md
Due: markdownlint, prettier --check

changelog-edits/6.3.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

style: add padding tokens for icon only variant (#1281)
  .changeset/button-icon-only-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

changelog-edits/6.4.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/6.5.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

docs(release): design system packages
  .changeset/breadcrumb-navigation-tokens-voorbeeld.md
  .changeset/breadcrumb-navigation-tokens.md
  .changeset/button-icon-only-tokens-voorbeeld.md
  .changeset/button-icon-only-tokens.md
  .changeset/navigation-list-tokens-voorbeeld.md
  .changeset/navigation-list-tokens.md
  .changeset/status-badge-tokens-voorbeeld.md
  .changeset/status-badge-tokens.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

changelog-edits/6.6.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

docs(release): design system packages (#1276)
  .changeset/breadcrumb-navigation-tokens-voorbeeld.md
  .changeset/breadcrumb-navigation-tokens.md
  .changeset/button-icon-only-tokens-voorbeeld.md
  .changeset/button-icon-only-tokens.md
  .changeset/navigation-list-tokens-voorbeeld.md
  .changeset/navigation-list-tokens.md
  .changeset/status-badge-tokens-voorbeeld.md
  .changeset/status-badge-tokens.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

groningen.color.accent voor nieuwe componenten
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/todo
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

style: no border-width candidate button subtle
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: no border-width candidate button subtle - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/border-width-button-voorbeeld.md
Due: markdownlint, prettier --check

add changeset
  .changeset/border-width-button.md
Due: markdownlint, prettier --check
