Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Links, paragraph, table, textbox en unordered list aangepast naar Leidschendam
  proprietary/leidschendam-voorburg-design-tokens/src/component/utrecht/link.style-dictionary.json
  proprietary/leidschendam-voorburg-design-tokens/src/component/utrecht/paragraph.style-dictionary.json
  proprietary/leidschendam-voorburg-design-tokens/src/component/utrecht/separator.style-dictionary.json
  proprietary/leidschendam-voorburg-design-tokens/src/component/utrecht/table.style-dictionary.json
  proprietary/leidschendam-voorburg-design-tokens/src/component/utrecht/textbox.style-dictionary.json
  proprietary/leidschendam-voorburg-design-tokens/src/component/utrecht/unordered-list.style-dictionary.json
Due: none

Kleuren en tekststyling horstaandemaas
  proprietary/horstaandemaas-design-tokens/src/brand/horstaandemaas/color.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/brand/horstaandemaas/typography.style-dictionary.json
Due: none

Article en badge weggehaald gezien niet op de site. Button, document en form toegevoegd
  proprietary/horstaandemaas-design-tokens/src/brand/horstaandemaas/color.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/article.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/badge-counter.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/badge-data.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/badge-status.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/badge.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/document.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/form-input.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/form-label.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/form-select.style-dictionary.json
Due: none

fix: configure theme class names
  proprietary/bodegraven-reeuwijk-design-tokens/style-dictionary.config.json
  proprietary/borne-design-tokens/style-dictionary.config.json
  proprietary/drechterland-design-tokens/style-dictionary.config.json
  proprietary/dso-toolkit-design-tokens/style-dictionary.config.json
  proprietary/duiven-design-tokens/style-dictionary.config.json
  proprietary/enkhuizen-design-tokens/style-dictionary.config.json
  proprietary/groningen-design-tokens/style-dictionary.config.json
  proprietary/haarlemmermeer-design-tokens/style-dictionary.config.json
  proprietary/horstaandemaas-design-tokens/style-dictionary.config.json
  proprietary/leidschendam-voorburg-design-tokens/style-dictionary.config.json
  proprietary/noordoostpolder-design-tokens/style-dictionary.config.json
  proprietary/rotterdam-design-tokens/style-dictionary.config.json
  proprietary/stedebroec-design-tokens/style-dictionary.config.json
  proprietary/tilburg-design-tokens/style-dictionary.config.json
  proprietary/venray-design-tokens/style-dictionary.config.json
  proprietary/vught-design-tokens/style-dictionary.config.json
  proprietary/westervoort-design-tokens/style-dictionary.config.json
  proprietary/zevenaar-design-tokens/style-dictionary.config.json
  proprietary/zwolle-design-tokens/style-dictionary.config.json
Due: none

fix: correct path for `npm run start`
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: component examples in Storybook
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/components.js
  proprietary/bodegraven-reeuwijk-design-tokens/documentation/components.stories.mdx
  proprietary/borne-design-tokens/documentation/components.stories.mdx
  proprietary/drechterland-design-tokens/documentation/components.stories.mdx
  proprietary/duiven-design-tokens/documentation/components.stories.mdx
  proprietary/enkhuizen-design-tokens/documentation/components.stories.mdx
  proprietary/groningen-design-tokens/documentation/components.stories.mdx
  proprietary/haarlemmermeer-design-tokens/documentation/components.stories.mdx
  proprietary/horstaandemaas-design-tokens/documentation/components.stories.mdx
  proprietary/leidschendam-voorburg-design-tokens/documentation/components.stories.mdx
  proprietary/noordoostpolder-design-tokens/documentation/components.stories.mdx
  proprietary/rotterdam-design-tokens/documentation/components.stories.mdx
  proprietary/stedebroec-design-tokens/documentation/components.stories.mdx
  proprietary/tilburg-design-tokens/documentation/components.stories.mdx
  proprietary/venray-design-tokens/documentation/components.stories.mdx
  proprietary/vught-design-tokens/documentation/components.stories.mdx
  proprietary/westervoort-design-tokens/documentation/components.stories.mdx
  proprietary/zevenaar-design-tokens/documentation/components.stories.mdx
  proprietary/zwolle-design-tokens/documentation/components.stories.mdx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: readme in Storybook
  documentation/util.js
  packages/storybook/config/main.js
  proprietary/bodegraven-reeuwijk-design-tokens/documentation/color.stories.mdx
  proprietary/bodegraven-reeuwijk-design-tokens/documentation/readme.stories.mdx
  proprietary/borne-design-tokens/documentation/color.stories.mdx
  proprietary/borne-design-tokens/documentation/readme.stories.mdx
  proprietary/drechterland-design-tokens/documentation/color.stories.mdx
  proprietary/drechterland-design-tokens/documentation/readme.stories.mdx
  proprietary/duiven-design-tokens/documentation/color.stories.mdx
  proprietary/duiven-design-tokens/documentation/readme.stories.mdx
  proprietary/enkhuizen-design-tokens/documentation/color.stories.mdx
  proprietary/enkhuizen-design-tokens/documentation/readme.stories.mdx
  proprietary/groningen-design-tokens/documentation/color.stories.mdx
  proprietary/groningen-design-tokens/documentation/readme.stories.mdx
  proprietary/haarlemmermeer-design-tokens/documentation/color.stories.mdx
  proprietary/haarlemmermeer-design-tokens/documentation/readme.stories.mdx
  proprietary/horstaandemaas-design-tokens/documentation/color.stories.mdx
  proprietary/horstaandemaas-design-tokens/documentation/readme.stories.mdx
  proprietary/leidschendam-voorburg-design-tokens/documentation/color.stories.mdx
  proprietary/leidschendam-voorburg-design-tokens/documentation/readme.stories.mdx
  proprietary/noordoostpolder-design-tokens/documentation/color.stories.mdx
  proprietary/noordoostpolder-design-tokens/documentation/readme.stories.mdx
  proprietary/rotterdam-design-tokens/documentation/color.stories.mdx
  proprietary/rotterdam-design-tokens/documentation/readme.stories.mdx
  proprietary/stedebroec-design-tokens/documentation/color.stories.mdx
  proprietary/stedebroec-design-tokens/documentation/readme.stories.mdx
  proprietary/tilburg-design-tokens/documentation/color.stories.mdx
  proprietary/tilburg-design-tokens/documentation/readme.stories.mdx
  proprietary/venray-design-tokens/documentation/readme.stories.mdx
  proprietary/vught-design-tokens/documentation/color.stories.mdx
  proprietary/vught-design-tokens/documentation/readme.stories.mdx
  proprietary/westervoort-design-tokens/documentation/color.stories.mdx
  proprietary/westervoort-design-tokens/documentation/readme.stories.mdx
  proprietary/zevenaar-design-tokens/documentation/color.stories.mdx
  proprietary/zevenaar-design-tokens/documentation/readme.stories.mdx
  proprietary/zwolle-design-tokens/documentation/color.stories.mdx
  proprietary/zwolle-design-tokens/documentation/readme.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

tweaks
  package-lock.json
  package.json
  packages/storybook/config/preview.js
  packages/storybook/config/theme.js
  proprietary/dso-toolkit-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Onnodige kleuren weggehaald
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/color.style-dictionary.json
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/heading.style-dictionary.json
Due: none

Article niet van toepassing in Amsterdam en separator de kleur goed gezet
  proprietary/amsterdam-design-tokens/src/component/utrecht/article.style-dictionary.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/separator.style-dictionary.json
Due: none

Article toegevoegd, badge en button aangepast
  proprietary/borne-design-tokens/src/brand/borne/color.style-dictionary.json
  proprietary/borne-design-tokens/src/component/utrecht/article.style-dictionary.json
  proprietary/borne-design-tokens/src/component/utrecht/badge-counter.style-dictionary.json
  proprietary/borne-design-tokens/src/component/utrecht/button.style-dictionary.json
Due: none

Opmerking borne weggehaald
  proprietary/borne-design-tokens/src/component/utrecht/table.style-dictionary.json
Due: none

Kleur check en onnodige article weggehaald
  proprietary/drechterland-design-tokens/src/brand/drechterland/color.style-dictionary.json
  proprietary/drechterland-design-tokens/src/component/utrecht/article.style-dictionary.json
Due: none

De tint zwart aangepast
  proprietary/dso-toolkit-design-tokens/src/brand/dso/color.style-dictionary.json
Due: none

Article weggehaald, separator aangepast naar de goede kleur en dikte
  proprietary/duiven-design-tokens/src/component/utrecht/article.style-dictionary.json
  proprietary/duiven-design-tokens/src/component/utrecht/separator.style-dictionary.json
Due: none

Article duiven toegevoegd
  proprietary/duiven-design-tokens/src/component/utrecht/article.style-dictionary.json
Due: none

Onnodig grijs weggehaald en de separator kleur aangepast
  proprietary/haarlemmermeer-design-tokens/src/brand/haarlemmermeer/color.style-dictionary.json
  proprietary/haarlemmermeer-design-tokens/src/component/utrecht/separator.style-dictionary.json
Due: none

Separator kleur en dikte aangepast
  proprietary/horstaandemaas-design-tokens/src/component/utrecht/separator.style-dictionary.json
Due: none

Onnodige kleur Rotterdam weggehaald
  proprietary/rotterdam-design-tokens/src/brand/rotterdam/color.style-dictionary.json
Due: none

ci: deploy `development` branch
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/themes@434f7e9c4329d6c0f0d21a7be8cdde82a315454c 🚀
  0.0f425fdd.iframe.bundle.js
  0.c4596a74.iframe.bundle.js
  4.5d86bfd7.iframe.bundle.js
  4.5d86bfd7.iframe.bundle.js.LICENSE.txt
  4.5d86bfd7.iframe.bundle.js.map
  4.a0931e18.iframe.bundle.js
  4.a0931e18.iframe.bundle.js.map
  5.8642e670.iframe.bundle.js
  5.a23e2597.iframe.bundle.js
  6.1ca7719b.iframe.bundle.js
  6.1ca7719b.iframe.bundle.js.map
  6.ab8cee79.iframe.bundle.js
  6.ab8cee79.iframe.bundle.js.LICENSE.txt
  6.ab8cee79.iframe.bundle.js.map
  7.ac27648e.iframe.bundle.js
  7.ac27648e.iframe.bundle.js.map
  7.f385e5d5.iframe.bundle.js
  7.f385e5d5.iframe.bundle.js.LICENSE.txt
  7.f385e5d5.iframe.bundle.js.map
  8.706bc140.iframe.bundle.js
  8.88d78133.iframe.bundle.js
  iframe.html
  index.html
  main.537531ac.iframe.bundle.js
  main.72711c03a8cf63ef821c.manager.bundle.js
  main.d1ba3e94422e9cacb862.manager.bundle.js
  main.fa3e530b.iframe.bundle.js
  runtime~main.3475f590.iframe.bundle.js
  runtime~main.5be22de3.iframe.bundle.js
  vendors~main.06529ca3.iframe.bundle.js
  vendors~main.06529ca3.iframe.bundle.js.LICENSE.txt
  vendors~main.06529ca3.iframe.bundle.js.map
  vendors~main.d5c88ce9.iframe.bundle.js
  vendors~main.d5c88ce9.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build(deps-dev): install `@whitespace/storybook-addon-html`
  package-lock.json
  package.json
  packages/storybook/config/main.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: include external design token collections
  documentation/denhaag/README.md
  documentation/denhaag/components.stories.mdx
  documentation/denhaag/readme.stories.mdx
  documentation/utrecht/README.md
  documentation/utrecht/components.stories.mdx
  documentation/utrecht/readme.stories.mdx
Due: markdownlint, prettier --check

docs: sort themes in Storybook sidebar
  documentation/introduction.stories.mdx
  documentation/license.stories.mdx
  documentation/notice.stories.mdx
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use BEM+HTML templates maintained by `@utrecht`
  package-lock.json
  package.json
  packages/theme-toolkit/src/components.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: specify default button before specifying primary action button
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/drechterland-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/dso-toolkit-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/duiven-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/duo-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/enkhuizen-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/groningen-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/haarlemmermeer-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/leidschendam-voorburg-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/noordoostpolder-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/stedebroec-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/tilburg-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/venray-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/vught-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/westervoort-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/zevenaar-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/zwolle-design-tokens/src/component/utrecht/button.style-dictionary.json
Due: none

build: update Utrecht components
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add support for configuring template variants
  packages/theme-toolkit/src/components.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@30cb4301c479931c695e09e852dedf1a7f0f6609 🚀
  0.4d0e6942.iframe.bundle.js
  0.f093779c.iframe.bundle.js
  4.d0589d18.iframe.bundle.js
  4.d0589d18.iframe.bundle.js.LICENSE.txt
  4.d0589d18.iframe.bundle.js.map
  4.faac29eb.iframe.bundle.js
  4.faac29eb.iframe.bundle.js.map
  5.ac599b08.iframe.bundle.js
  5.d34aa189.iframe.bundle.js
  6.18555d52.iframe.bundle.js
  6.18555d52.iframe.bundle.js.LICENSE.txt
  6.18555d52.iframe.bundle.js.map
  6.c032878b.iframe.bundle.js
  6.c032878b.iframe.bundle.js.map
  7.0442cd8d.iframe.bundle.js
  7.0442cd8d.iframe.bundle.js.LICENSE.txt
  7.0442cd8d.iframe.bundle.js.map
  7.8d692aa4.iframe.bundle.js
  7.8d692aa4.iframe.bundle.js.map
  8.6b012b3d.iframe.bundle.js
  8.89d430fa.iframe.bundle.js
  iframe.html
  main.927b3375.iframe.bundle.js
  main.a794a0d0.iframe.bundle.js
  runtime~main.e364b3a4.iframe.bundle.js
  runtime~main.fcd168fa.iframe.bundle.js
  vendors~main.bc0afea3.iframe.bundle.js
  vendors~main.bc0afea3.iframe.bundle.js.LICENSE.txt
  vendors~main.bc0afea3.iframe.bundle.js.map
  vendors~main.e4eac4ad.iframe.bundle.js
  vendors~main.e4eac4ad.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@7e54ff3f4c2482c1fc07c855fa42724827d78f06 🚀
  0.a92351d7.iframe.bundle.js
  0.f093779c.iframe.bundle.js
  4.d0589d18.iframe.bundle.js
  4.d0589d18.iframe.bundle.js.map
  4.d935e252.iframe.bundle.js
  4.d935e252.iframe.bundle.js.LICENSE.txt
  4.d935e252.iframe.bundle.js.map
  5.167d26d0.iframe.bundle.js
  5.ac599b08.iframe.bundle.js
  6.18555d52.iframe.bundle.js
  6.18555d52.iframe.bundle.js.map
  6.3400325d.iframe.bundle.js
  6.3400325d.iframe.bundle.js.LICENSE.txt
  6.3400325d.iframe.bundle.js.map
  7.0442cd8d.iframe.bundle.js
  7.0442cd8d.iframe.bundle.js.map
  7.16586516.iframe.bundle.js
  7.16586516.iframe.bundle.js.LICENSE.txt
  7.16586516.iframe.bundle.js.map
  8.6b012b3d.iframe.bundle.js
  8.a37eed8e.iframe.bundle.js
  iframe.html
  main.867f03c5.iframe.bundle.js
  main.867f03c5.iframe.bundle.js.LICENSE.txt
  main.867f03c5.iframe.bundle.js.map
  main.a794a0d0.iframe.bundle.js
  runtime~main.7e87cea9.iframe.bundle.js
  runtime~main.fcd168fa.iframe.bundle.js
  vendors~main.8589af52.iframe.bundle.js
  vendors~main.8589af52.iframe.bundle.js.LICENSE.txt
  vendors~main.8589af52.iframe.bundle.js.map
  vendors~main.bc0afea3.iframe.bundle.js
  vendors~main.bc0afea3.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: improve design tokens for Bodegraven-Reeuwijk
  package-lock.json
  packages/storybook/config/preview.js
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/brand/bodegraven-reeuwijk/color.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/brand/bodegraven-reeuwijk/typography.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/article.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/document.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/form-input.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/heading-1.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/heading-2.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/heading-3.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/heading.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/link.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/main.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/ordered-list.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/page-footer.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/page-header.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/paragraph.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/separator.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/table.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/textarea.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/component/utrecht/textbox.style-dictionary.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/config.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/font.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: display delta E description in color search results
  packages/theme-toolkit/src/ColorCard.jsx
  packages/theme-toolkit/src/ColorSearch.jsx
  packages/theme-toolkit/src/ColorTable.jsx
  packages/theme-toolkit/src/CopyCode.jsx
  packages/theme-toolkit/src/color-util.js
  packages/theme-toolkit/src/components.js
  packages/theme-toolkit/src/util.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: configure Utrecht and Den Haag via `config.json` too
  documentation/denhaag/color.stories.mdx
  documentation/denhaag/components.stories.mdx
  documentation/denhaag/config.json
  documentation/utrecht/color.stories.mdx
  documentation/utrecht/components.stories.mdx
  documentation/utrecht/config.json
Due: none
