Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: added border tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add color sample component
  packages/voorbeeld-design-tokens/documentation/color-sample/utrecht-color-sample.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Added Community Action tokens of Den Haag
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add tokens foor utrecht-table
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

chore: change order of token sets
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

Create nora-design-tokens-update.md
  .changeset/nora-design-tokens-update.md
Due: markdownlint, prettier --check

feat: add tokens for nora-figure component
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

feat: update tokens for utrecht-ordered-list
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

docs(release): design system packages
  .changeset/nora-design-tokens-update.md
  .changeset/nora-use-tokens-studio-transforms.md
  proprietary/nora-design-tokens/CHANGELOG.md
  proprietary/nora-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@1cee07b1ad1bdee2e8f043d532b4515e17a88581 🚀
  project.json
Due: none

Changed order of tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Enkele aanpassingen
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: detect stories for which design tokens are set
  .changeset/seven-squids.md
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: allow configuring a theme on `CustomStory`
  .changeset/six-squids-pump.md
  packages/theme-toolkit/src/CustomStory.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: basis-theme tweaks
  .changeset/calm-timers-drive.md
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: markdownlint, prettier --check

feat: basis theme link token inheritance
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: basis-theme configure activate and submit cursor values
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: add `basis.color.focus.*` and `basis.color.selected.*` tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: no longer use `.value` in design token references
  packages/tokens-lib/src/util.test.ts
  packages/tokens-lib/src/util.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: support `string | string[]` for font-family tokens
  .changeset/witty-steaks-try.md
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/components-react/design-tokens-table-react/src/FontFamilyDetails.tsx
  packages/tokens-lib/src/token-type.ts
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add purmerend theme
  .changeset/beige-beds-approve.md
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/basis-design-tokens/figma/basis.tokens.json
  proprietary/purmerend-design-tokens/README.md
  proprietary/purmerend-design-tokens/documentation/color.mdx
  proprietary/purmerend-design-tokens/documentation/components.stories.ts
  proprietary/purmerend-design-tokens/documentation/design-tokens.mdx
  proprietary/purmerend-design-tokens/documentation/readme.mdx
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
  proprietary/purmerend-design-tokens/package.json
  proprietary/purmerend-design-tokens/src/_responsive.scss
  proprietary/purmerend-design-tokens/src/config.json
  proprietary/purmerend-design-tokens/src/custom.scss
  proprietary/purmerend-design-tokens/src/font.js
  proprietary/purmerend-design-tokens/src/font.scss
  proprietary/purmerend-design-tokens/src/index.scss
  proprietary/purmerend-design-tokens/style-dictionary.mjs
  proprietary/purmerend-design-tokens/tsconfig.json
  style-dictionary-config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update sd and sd transform modules
  pnpm-lock.yaml
  proprietary/nora-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add changeset for NORA
  .changeset/nora-update-modules.md
Due: markdownlint, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
