Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: add changeset
  .changeset/ams-figure-tokens-voorbeeld.md
Due: markdownlint, prettier --check

feat: add ams-figure tokens (#1254)
  .changeset/ams-figure-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

feat: add ams-figure tokens - Voorbeeld (#1255)
  .changeset/ams-figure-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs: rename ams-avatar-tokens changeset
  .changeset/ams-avatar-tokens.md
Due: markdownlint, prettier --check

docs: reuse candidate link stories (#1249)
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

style: update token values
  packages/start-design-tokens/figma/start.tokens.json
Due: none

patch: alphabetical order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add ams-file-input tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/ams-file-input.md
Due: markdownlint, prettier --check

patch: fix alphabetical order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add ams-file-input tokens (#1257)
  .changeset/ams-file-input.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

feat: add ams-file-input tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/ams-file-input-voorbeeld.md
Due: markdownlint, prettier --check

feat: add ams-file-input tokens - Voorbeeld (#1258)
  .changeset/ams-file-input-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

style: navigation list tokens rhc community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

code-only for now
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Add custom styles for skiplink and update file upload component layout
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Focus state and spelling error
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

changelog-edits/3.0.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

style: pressed state tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Active for small button
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Refactor styles for file upload and progress indicator components; add custom styles for datepicker and radio button icon size
  proprietary/leiden-design-tokens/src/index.scss
Due: none

- Added mobile design tokens for improved responsiveness. - Removed unnecessary CSS from progress-indicator - Added custom styling for the page-footer
  proprietary/leiden-design-tokens/src/index.scss
Due: none

update 2
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Focus restored
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

changelog-edits/3.1.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Language selection padding
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

changelog-edits/3.1.0-final
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/3.2.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/4.0.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/4.1.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Responsive tokens
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

na gesprek met Robbert
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: rename theme
  .changeset/ams-file-input-voorbeeld.md
Due: markdownlint, prettier --check
