Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

test: radio button added to config
  proprietary/amsterdam-design-tokens/src/config.json
Due: none

work in progress
  package-lock.json
  proprietary/demodam-design-tokens/documentation/typography.stories.mdx
  proprietary/overheidnl-design-tokens/LICENSE.md
  proprietary/overheidnl-design-tokens/README.md
  proprietary/overheidnl-design-tokens/documentation/color.stories.mdx
  proprietary/overheidnl-design-tokens/documentation/components.stories.mdx
  proprietary/overheidnl-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/overheidnl-design-tokens/documentation/readme.stories.mdx
  proprietary/overheidnl-design-tokens/package.json
  proprietary/overheidnl-design-tokens/src/_responsive.scss
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/color.tokens.json
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/typography.tokens.json
  proprietary/overheidnl-design-tokens/src/component/page.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/emphasis.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/font-label.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/form-field.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-5.token.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-6.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/ordered-list.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/unordered-list.tokens.json
  proprietary/overheidnl-design-tokens/src/config.json
  proprietary/overheidnl-design-tokens/src/custom.scss
  proprietary/overheidnl-design-tokens/src/font.js
  proprietary/overheidnl-design-tokens/src/index.scss
  proprietary/overheidnl-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Work in progress
  proprietary/overheidnl-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/page-footer.tokens.json
Due: none

Delete example-tokens.json
  packages/example-theme/figma/example-tokens.json
Due: none

work in progress
  packages/theme-toolkit/src/component-stories-utrecht.jsx
  proprietary/amsterdam-design-tokens/src/component/utrecht/radio-button.tokens.json
  proprietary/amsterdam-design-tokens/src/config.json
  proprietary/amsterdam-design-tokens/src/index.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Amsterdam thema (#390)
  package-lock.json
  packages/theme-toolkit/src/component-stories-utrecht.jsx
  proprietary/amsterdam-design-tokens/src/common/utrecht/focus.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/accordion.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/alert.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/backdrop.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/badge-counter.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/badge.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/blockquote.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/checkbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/custom-checkbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/emphasis.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/page.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/radio-button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/unordered-list.tokens.json
  proprietary/amsterdam-design-tokens/src/config.json
  proprietary/amsterdam-design-tokens/src/index.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  package-lock.json
  packages/example-theme/package.json
  packages/playroom/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Update package.json
  packages/example-theme/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Update package.json (#397)
  packages/example-theme/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Green
  packages/example-theme/figma/example.tokens.json
Due: none

Green (#398)
  packages/example-theme/figma/example.tokens.json
Due: none

Violet again
  packages/example-theme/figma/example.tokens.json
Due: none

Work in progress
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/color.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/font-label.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-5.token.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/heading-6.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/page-footer.tokens.json
Due: none

Work in progress
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/color.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/button.tokens.json
Due: none

feat: meer button tokens
  proprietary/overheidnl-design-tokens/src/component/utrecht/button.tokens.json
Due: none

theme added to themeswitcher
  packages/storybook/config/preview.js
  packages/theme-switcher/src/generate-json.js
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Link,button,select design tokens Font designtokens
  package-lock.json
  package.json
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/typography.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/overheidnl-design-tokens/src/config.json
  proprietary/overheidnl-design-tokens/src/font.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: rotterdam thema small fixes
  proprietary/rotterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/rotterdam-design-tokens/src/index.scss
Due: none

fix: amsterdam thema niet andere thema overschrijd
  proprietary/amsterdam-design-tokens/src/index.scss
Due: none

Oranje boven
  packages/example-theme/figma/example.tokens.json
Due: none

Oranje boven (#401)
  packages/example-theme/figma/example.tokens.json
Due: none

Terug gezet
  packages/example-theme/figma/example.tokens.json
Due: none

Terug gezet (#402)
  packages/example-theme/figma/example.tokens.json
Due: none

Kleuren toegevoegd
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/color.tokens.json
Due: none

ci: require Prettier formatting
  .prettierignore
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: prettier formatting
  proprietary/amsterdam-design-tokens/src/component/utrecht/accordion.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/backdrop.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/badge-counter.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/checkbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/emphasis.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/page.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/amsterdam-design-tokens/src/index.scss
  proprietary/haarlem-design-tokens/src/sofia-pro-variable.woff2
  proprietary/rotterdam-design-tokens/src/index.scss
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
