Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: reuse ColorSampleList in basis and ma-theme
  packages/basis-design-tokens/documentation/color.mdx
  packages/basis-design-tokens/documentation/design-tokens.mdx
  packages/basis-design-tokens/package.json
  packages/basis-design-tokens/src/ColorSampleList.css
  packages/basis-design-tokens/src/ColorSampleList.tsx
  packages/basis-design-tokens/src/color-sample.mjs
  packages/basis-design-tokens/src/example-rendering.mjs
  packages/ma-design-tokens/documentation/color.mdx
  packages/ma-design-tokens/documentation/design-tokens.mdx
  packages/ma-design-tokens/package.json
  packages/ma-design-tokens/src/tokens.json
  packages/ma-design-tokens/style-dictionary.mjs
  pnpm-lock.yaml
  proprietary/purmerend-design-tokens/documentation/basis-tokens.mdx
  proprietary/purmerend-design-tokens/documentation/color.mdx
  proprietary/purmerend-design-tokens/documentation/design-tokens.mdx
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat/ma-theme-met-basis-thema
  packages/ma-design-tokens/src/tokens.json
Due: none

feat: merge basis tokens with ma-colors
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: changeset with non-existing package name
  .changeset/name-your-type.md
Due: markdownlint, prettier --check

chore: add changeset for ma-theme changes
  .changeset/bleep-blab-bloop.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/bleep-blab-bloop.md
  .changeset/fresh-students-smash.md
  .changeset/link-lang-loop.md
  .changeset/link-list-this.md
  .changeset/name-your-type.md
  .changeset/task-list-icon.md
  .changeset/wit-ruimte-reis.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

changeset toegevoegd
  .changeset/on-the-side.md
Due: markdownlint, prettier --check

fix(side-nav): rename to 'side-navigation'
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs(release): design system packages
  .changeset/on-the-side.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

datasets colors
  packages/ma-design-tokens/src/tokens.json
Due: none

new datasets colors
  packages/ma-design-tokens/src/tokens.json
Due: none

change/added-colors-to-datasets
  packages/ma-design-tokens/src/tokens.json
Due: none

wcag proof colors
  packages/ma-design-tokens/src/tokens.json
Due: none

changes to token names
  packages/ma-design-tokens/src/tokens.json
Due: none

Colors are updated according to WCAG
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/forty-pets-brake.md
Due: markdownlint, prettier --check

chore: add tokens json to prettierignore
  .prettierignore
Due: none

added purple-green divergent colors
  packages/ma-design-tokens/src/tokens.json
Due: none

Added divergent colors purple green
  packages/ma-design-tokens/src/tokens.json
Due: none

New PR since previous one was empty. Added the purple-green divergent to this one.
  packages/ma-design-tokens/src/tokens.json
Due: none

Added all the data colors + examples
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add empty changeset - previous unreleased changeset applies
  .changeset/stupid-cooks-tickle.md
Due: markdownlint, prettier --check

Added all the data colors + examples (#1012)
  .changeset/stupid-cooks-tickle.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/forty-pets-brake.md
  .changeset/on-the-side.md
  .changeset/stupid-cooks-tickle.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: removed utrecht tokens, renamed text tokens, removed unnecessary basis tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: removed unnecessary basis border-width tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: orderd of common tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: order of some more common tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: renamed text tokens to align with other common tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: order it again
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style: change color names part 1
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style: common colors adjusted
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: default-hover value fixed
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none
