Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add nl-code & nl-code-block
  package.json
  packages/storybook/config/main.ts
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: import css
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add tsconfig configuration to support css path
  packages/voorbeeld-design-tokens/tsconfig.json
Due: none

feat: change import syntax
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Apply suggestions from code review
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove unused dependency
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: nl-heading-1
  package.json
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: use start-theme instead of basis-theme
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add color sample
  package.json
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: create a working version again without the vite config
  packages/storybook/config/main.ts
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: consistent casing with website
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/ams-breadcrumb.stories.tsx
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/utrecht-breadcrumb-nav.stories.tsx
  packages/voorbeeld-design-tokens/documentation/form-field/utrecht-form-field.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-group/utrecht-heading-group.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/utrecht-badge-counter.stories.tsx
  packages/voorbeeld-design-tokens/documentation/ordered-list/utrecht-ordered-list.stories.tsx
  packages/voorbeeld-design-tokens/documentation/radio-button/utrecht-radio-button.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/utrecht-skip-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/status-badge/utrecht-badge-status.stories.tsx
  packages/voorbeeld-design-tokens/documentation/text-input/utrecht-textbox.stories.tsx
  packages/voorbeeld-design-tokens/documentation/unordered-list/utrecht-unordered-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: consistent casing with website (#1183)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/ams-breadcrumb.stories.tsx
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/utrecht-breadcrumb-nav.stories.tsx
  packages/voorbeeld-design-tokens/documentation/form-field/utrecht-form-field.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-group/utrecht-heading-group.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/utrecht-badge-counter.stories.tsx
  packages/voorbeeld-design-tokens/documentation/ordered-list/utrecht-ordered-list.stories.tsx
  packages/voorbeeld-design-tokens/documentation/radio-button/utrecht-radio-button.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/utrecht-skip-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/status-badge/utrecht-badge-status.stories.tsx
  packages/voorbeeld-design-tokens/documentation/text-input/utrecht-textbox.stories.tsx
  packages/voorbeeld-design-tokens/documentation/unordered-list/utrecht-unordered-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: parameters actions disabled
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore(deps): update dependencies and add new packages
  pnpm-lock.yaml
Due: none

update style-dictionary command and bump version to 5.1.1
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: implement themeJsonFormatter for processing theme JSON files and resolving token references
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

feat: add style-dictionary configuration with theme JSON support and color scheme preprocessors
  proprietary/leiden-design-tokens/src/wordpress/settings.json
  proprietary/leiden-design-tokens/src/wordpress/styles.json
  proprietary/leiden-design-tokens/src/wordpress/templateParts.json
  proprietary/leiden-design-tokens/style-dictionary.mjs
Due: none

chore: remove unused table.tokens.json file
  proprietary/leiden-design-tokens/src/component/utrecht/extra-tokens/table.tokens.json
Due: none

feat: update source paths in style-dictionary configuration for token files
  proprietary/leiden-design-tokens/style-dictionary.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Add NL Design System candidate components to themes repository (#1172)
  package.json
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
  packages/voorbeeld-design-tokens/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: component stories candidate (WIP)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-candidate.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: improve link and tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: sort alphabetically
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add candidate stories to regression
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add more tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: edit links & tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Shortened text & added lead to lead variant
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct color token references in ColorSearch and ColorTable components
  proprietary/leiden-design-tokens/documentation/color.mdx
Due: none

fix: update import for leiden design tokens to use theme.css
  packages/storybook/config/preview.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add tokens-lib as a workspace dependency in package.json and pnpm-lock.yaml
  pnpm-lock.yaml
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: ensure backwards compatibility in StyleDictionary configuration
  proprietary/leiden-design-tokens/style-dictionary.mjs
Due: none

feat: add Open Sans font imports to font.js
  proprietary/leiden-design-tokens/src/font.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: implement dynamic color palette generation from design tokens for WordPress
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

fix: clear color palette in settings.json for WordPress theme
  proprietary/leiden-design-tokens/src/wordpress/settings.json
Due: none

feat: restructure WordPress theme configuration by adding new JSON files and merging styles
  proprietary/leiden-design-tokens/src/wordpress/base.json
  proprietary/leiden-design-tokens/src/wordpress/settings.json
  proprietary/leiden-design-tokens/src/wordpress/settings/color.json
  proprietary/leiden-design-tokens/src/wordpress/settings/custom.json
  proprietary/leiden-design-tokens/src/wordpress/settings/dimensions.json
  proprietary/leiden-design-tokens/src/wordpress/settings/layout.json
  proprietary/leiden-design-tokens/src/wordpress/settings/lightbox.json
  proprietary/leiden-design-tokens/src/wordpress/settings/shadow.json
  proprietary/leiden-design-tokens/src/wordpress/settings/spacing.json
  proprietary/leiden-design-tokens/src/wordpress/settings/typography.json
  proprietary/leiden-design-tokens/src/wordpress/styles.json
  proprietary/leiden-design-tokens/src/wordpress/styles/root.json
  proprietary/leiden-design-tokens/src/wordpress/templateParts.json
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

First draft for Candidate Text Input tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Checkbox and radiobutton selected colors change
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

fix: remove target="_new"
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
