Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Naamgeving van Brand tokens aangepast.
  packages/example-theme/figma/example.tokens.json
Due: none

Ga
  packages/example-theme/figma/example.tokens.json
Due: none

Brand Token Updates (#280)
  packages/example-theme/figma/example.tokens.json
Due: none

Typografie tokens opgeschoond
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@101e8c185282d932fb77a63a69b33ae660323900 🚀
  iframe.html
  main.3933f37c.iframe.bundle.js
  main.3b8a9d58.iframe.bundle.js
  main.3b8a9d58.iframe.bundle.js.LICENSE.txt
  playroom/168.e9775258154632877fb3.js
  playroom/168.faaa95ff65ea1d166ed5.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Typografie tokens opgeschoond (#281)
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@47cdfafc784bfed28b0aef762584f53b6aedec46 🚀
  iframe.html
  main.3b8a9d58.iframe.bundle.js
  main.e8b3a749.iframe.bundle.js
  main.e8b3a749.iframe.bundle.js.LICENSE.txt
  playroom/168.faaa95ff65ea1d166ed5.js
  playroom/168.fd2a29191a8f473229c4.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  package-lock.json
  packages/example-theme/package.json
  packages/playroom/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/themes@a9d83902d2d1f19124efcab3880aafe6c5270e38 🚀
  iframe.html
  main.ad12add5.iframe.bundle.js
  main.ad12add5.iframe.bundle.js.LICENSE.txt
  main.e8b3a749.iframe.bundle.js
  playroom/168.06d8a4b8f0f5a0fd73fc.js
  playroom/168.fd2a29191a8f473229c4.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: add chromatic
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/themes@de0214189ab41a191d6ebb6862fe3e4f963b8a3f 🚀
  iframe.html
  main.91ed7ce0.iframe.bundle.js
  main.91ed7ce0.iframe.bundle.js.LICENSE.txt
  main.ad12add5.iframe.bundle.js
  playroom/168.06d8a4b8f0f5a0fd73fc.js
  playroom/168.b6ea968a576f662b1f47.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: add code owners file
  .github/CODEOWNERS
Due: none

Deploying to gh-pages from @ nl-design-system/themes@0ef9d07ed62d4dbd7fb0b76aa92bae5c5da31326 🚀
  iframe.html
  main.91ed7ce0.iframe.bundle.js
  main.c83707a8.iframe.bundle.js
  main.c83707a8.iframe.bundle.js.LICENSE.txt
  playroom/168.b20dc78dff2ff58c26da.js
  playroom/168.b6ea968a576f662b1f47.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@2b2518b5094dd4422761e358e9c999b0139f2a3c 🚀
  iframe.html
  main.8e70df7f.iframe.bundle.js
  main.8e70df7f.iframe.bundle.js.LICENSE.txt
  main.c83707a8.iframe.bundle.js
  playroom/168.b20dc78dff2ff58c26da.js
  playroom/168.e78f2853712fc5b7914e.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@575adbfdfbcb84b95a983e171fd46ab8118f6202 🚀
  iframe.html
  main.3eb5e318.iframe.bundle.js
  main.3eb5e318.iframe.bundle.js.LICENSE.txt
  main.8e70df7f.iframe.bundle.js
  playroom/168.e1f8c7f8c8c0c3b8edf7.js
  playroom/168.e78f2853712fc5b7914e.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Commin icon size
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@08016b1b2d0a960070ae740e1f46f895816b0147 🚀
  iframe.html
  main.3eb5e318.iframe.bundle.js
  main.491ba3e4.iframe.bundle.js
  main.491ba3e4.iframe.bundle.js.LICENSE.txt
  playroom/168.e1f8c7f8c8c0c3b8edf7.js
  playroom/168.faaef26ae1f8f4e2c231.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@7b53128164ef27f5be9f7975094a800abe0f1ab5 🚀
  iframe.html
  main.13328220.iframe.bundle.js
  main.13328220.iframe.bundle.js.LICENSE.txt
  main.491ba3e4.iframe.bundle.js
  playroom/168.0e67f431d9e4788669d2.js
  playroom/168.faaef26ae1f8f4e2c231.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Extra grote spacing toegevoegd
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@e4965e3d83e1f2cc480bd8f02593f7938a8cb7cc 🚀
  iframe.html
  main.13328220.iframe.bundle.js
  main.c7a2338b.iframe.bundle.js
  main.c7a2338b.iframe.bundle.js.LICENSE.txt
  playroom/168.0e67f431d9e4788669d2.js
  playroom/168.b7b74301a773d4e342b6.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@7ded9bf1aa5c5c93c61b2a0ab024dc08e3b41ed8 🚀
  iframe.html
  main.72d53122.iframe.bundle.js
  main.72d53122.iframe.bundle.js.LICENSE.txt
  main.c7a2338b.iframe.bundle.js
  playroom/168.97c7c025eed8e6783274.js
  playroom/168.b7b74301a773d4e342b6.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: specifiy code owners for every design token package
  .github/CODEOWNERS
Due: none

Deploying to gh-pages from @ nl-design-system/themes@707e1d6d6672b2b91ea7fdbcd39f7b10a211051e 🚀
  iframe.html
  main.72d53122.iframe.bundle.js
  main.f26766e4.iframe.bundle.js
  main.f26766e4.iframe.bundle.js.LICENSE.txt
  playroom/168.97c7c025eed8e6783274.js
  playroom/168.de905d8558d00d527f1d.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@4ff226b09f89985a839be88a7159ab090d526e26 🚀
  iframe.html
  main.b098f0e8.iframe.bundle.js
  main.b098f0e8.iframe.bundle.js.LICENSE.txt
  main.f26766e4.iframe.bundle.js
  playroom/168.2b94247fc9fe063b9588.js
  playroom/168.de905d8558d00d527f1d.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update haarlem theme wip
  proprietary/haarlem-design-tokens/src/brand/amsterdam/color.tokens.json
  proprietary/haarlem-design-tokens/src/brand/amsterdam/typography.tokens.json
  proprietary/haarlem-design-tokens/src/brand/haarlem/color.tokens.json
  proprietary/haarlem-design-tokens/src/brand/haarlem/typography.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/checkbox.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/form-field-description.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/radio-button.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/search-bar.tokens.json
  proprietary/haarlem-design-tokens/src/component/utrecht/textbox.tokens.json
Due: none

docs: enable the haarlem theme on storybook
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: integrate new component into storybook via theme-toolkit
  packages/theme-toolkit/src/component-stories-util.js
  packages/theme-toolkit/src/component-stories-utrecht.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: integrate haarlem theme into theme switcher
  packages/theme-switcher/src/generate-json.js
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Text spacing fix
  packages/example-theme/figma/example.tokens.json
Due: none
