Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: update hoeksche waard readme
  proprietary/hoeksche-waard-design-tokens/README.md
Due: markdownlint, prettier --check

ci: simplify changeset config
  .changeset/config.json
Due: none

chore: fix changeset syntax
  .changeset/last-perfume-momentum.md
Due: markdownlint, prettier --check

feat: add hoeksche waard design tokens folder
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/LICENSE.md
  proprietary/hoeksche-waard-design-tokens/README.md
  proprietary/hoeksche-waard-design-tokens/documentation/color.mdx
  proprietary/hoeksche-waard-design-tokens/documentation/components.stories.ts
  proprietary/hoeksche-waard-design-tokens/documentation/design-tokens.mdx
  proprietary/hoeksche-waard-design-tokens/documentation/readme.mdx
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/hoeksche-waard-design-tokens/src/config.json
  proprietary/hoeksche-waard-design-tokens/src/index.scss
  proprietary/hoeksche-waard-design-tokens/style-dictionary.config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@06f54cf5f2850ca23d3d1f3a1cf4778e54bafc4e 🚀
  project.json
Due: none

docs(release): design system packages
  .changeset/bim-bam-bom.md
  .changeset/coin-ideal-coal.md
  .changeset/dive-help-mercy.md
  .changeset/fill-beach-hang.md
  .changeset/hold-motorist-mug.md
  .changeset/last-perfume-momentum.md
  .changeset/maid-ditch-shelf.md
  .changeset/shout-wheat-coast.md
  .changeset/tail-scale-angle.md
  .changeset/try-mile-deer.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@4e28783cf51e2568b22781eaf74c17c48211c1e6 🚀
  project.json
Due: none

Spacing toegevoegd (even kijken of dit werkt zo...)
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
Due: none

style: spacing-2 toegevoegd
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
Due: none

- fix: relinked all tokens to figma items - feat: added tokens for Progress list component
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style: Eerste opzet Hoeksche Waard theme met Color, Spacing & Typography
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
Due: none

Added case card tokens.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Added case card tokens again
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Added case card tokens again for the 3rd time
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Changed the position of Progress list
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add common tokens to heading component
  proprietary/basic-theme-design-tokens/figma/basic-theme.tokens.json
Due: none

style: brand and common tokens change
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: add new case card color tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: renamed toolbar button token
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: set all values for component tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: set tokens for switch component
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: theme builder
  packages/storybook/config/main.ts
  packages/storybook/package.json
  packages/storybook/src/theme-builder/ThemeBuilder.css
  packages/storybook/src/theme-builder/ThemeBuilder.tsx
  packages/storybook/src/theme-builder/ThemeBuilderDenhaag.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderUtrecht.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderVoorbeeld.stories.tsx
  packages/storybook/src/theme-builder/examples.tsx
  packages/storybook/src/theme-builder/property.css
  packages/storybook/src/theme-builder/steps.tsx
  pnpm-lock.yaml
  style-dictionary-config.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

:feat: Add FormStory and RichTextStory to theme-builder
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step0.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
