Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: change default review team
  .github/CODEOWNERS
Due: none

Task list tokens update
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: update email address
  packages/storybook/src/introduction.md
Due: markdownlint, prettier --check

style: restore `utrecht.form-field-error-message` and `form-field-description` tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Tokens utrecht hersteld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

build: update patch versions
  .ncurc.patch.js
  package.json
  packages/playroom/package.json
  packages/storybook/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/dinkelland-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: update Chromatic GitHub Action
  .github/workflows/continuous-deployment.yml
Due: none

build: remove html-validate add @lernalite/version
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: use pnpm everywhere
  .github/workflows/continuous-deployment.yml
  .nvmrc
  package.json
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: JamesIves/github-pages-deploy-action version
  .github/workflows/continuous-deployment.yml
Due: none
