Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: changeset toevoegen om aan te geven dat het een major breaking change is
  .changeset/real-dryers-fly.md
Due: markdownlint, prettier --check

Style: form components token alignment
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/11.1.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

ci: during "pnpm audit", ignore registry errors
  .github/workflows/publish.yml
Due: none

chore: kernteam@ naar info@
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.nl.md
  packages/storybook/src/introduction.md
Due: markdownlint, prettier --check

chore: pnpm upgrade
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: pnpm versie & kernteam@ naar info@ (#1350)
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.nl.md
  package.json
  packages/storybook/src/introduction.md
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

First draft for Candidate Unoredered List design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix lint issues
  proprietary/leiden-design-tokens/src/index.scss
Due: none

style: font-size, line-height en icon size scale aangepast
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/basis-scale-change.md
Due: markdownlint, prettier --check

run prettier
  proprietary/leiden-design-tokens/documentation/color.mdx
  proprietary/leiden-design-tokens/generate-custom-css-overview.js
  proprietary/leiden-design-tokens/package.json
  proprietary/leiden-design-tokens/src/font.js
  proprietary/leiden-design-tokens/src/wordpress/settings/border.json
  proprietary/leiden-design-tokens/src/wordpress/settings/position.json
  proprietary/leiden-design-tokens/src/wordpress/settings/useRootPaddingAwareAlignments.json
  proprietary/leiden-design-tokens/src/wordpress/styles/blocks/core-image.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/button.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/caption.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/cite.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h1.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h2.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h3.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h4.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h5.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h6.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/heading.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/link.json
  proprietary/leiden-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fixed import issue
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

style: font-size, line-height en icon size scale aangepast - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

rem ipv em
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: font-size, line-height en icon size scale aangepast (#1354)
  .changeset/basis-scale-change.md
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/ams-password-input.md
  .changeset/basis-scale-change.md
  .changeset/brown-queens-ring.md
  .changeset/data-list-summary.md
  .changeset/date-input-box-shadow.md
  .changeset/denhaag-action-tokens.md
  .changeset/form-token-alignment-voorbeeld.md
  .changeset/form-token-alignment.md
  .changeset/real-dryers-fly.md
  packages/basis-design-tokens/CHANGELOG.md
  packages/basis-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/epe-design-tokens/CHANGELOG.md
  proprietary/epe-design-tokens/package.json
  proprietary/leiden-design-tokens/CHANGELOG.md
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

chore: upgrade stylelint to 17
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

fix: use only valid values for "syntax"
  packages/storybook/src/theme-builder/property.css
Due: prettier --check, stylelint --allow-empty-input

docs: add changeset
  .changeset/mighty-numbers-learn.md
Due: markdownlint, prettier --check

fix: remove redundant nested selector
  proprietary/hoorn-design-tokens/src/_responsive.scss
Due: none

fix: replace deprecated style with modern variant
  proprietary/leiden-design-tokens/src/index.scss
Due: none

chore: remove brand an dataset colors
  packages/ma-design-tokens/src/tokens.json
Due: none

style: update ma color tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/update-ma-colors.md
Due: markdownlint, prettier --check

feat: add den haag task navigator to themes and visual regression test
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/task-navigation/denhaag-task-navigation.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

remove unnecessary css
  packages/theme-toolkit/src/component-stories-denhaag.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

correct naming
  packages/theme-toolkit/src/component-stories-denhaag.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix lockfile after cherrypicking
  pnpm-lock.yaml
Due: none

docs(release): design system packages (#1332)
  .changeset/ams-password-input.md
  .changeset/basis-scale-change.md
  .changeset/brown-queens-ring.md
  .changeset/data-list-summary.md
  .changeset/date-input-box-shadow.md
  .changeset/denhaag-action-tokens.md
  .changeset/form-token-alignment-voorbeeld.md
  .changeset/form-token-alignment.md
  .changeset/real-dryers-fly.md
  packages/basis-design-tokens/CHANGELOG.md
  packages/basis-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/epe-design-tokens/CHANGELOG.md
  proprietary/epe-design-tokens/package.json
  proprietary/leiden-design-tokens/CHANGELOG.md
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: update ma color tokens (#1355)
  .changeset/update-ma-colors.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

feat: add den haag task navigator to themes and visual regression test (#1348)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/task-navigation/denhaag-task-navigation.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add den haag file to themes and visual regression test
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/file/denhaag-file.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

rebase
  packages/theme-toolkit/src/component-stories-denhaag.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add den haag file to themes and visual regression test (#1353)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/file/denhaag-file.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

border-bottom on headings
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: no border when there is an `.openforms-loading-indicator`
  proprietary/leiden-design-tokens/src/index.scss
Due: none

refactor: remove custom margin override for form field labels
  proprietary/leiden-design-tokens/src/index.scss
Due: none
