Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: add changeset
  .changeset/dive-help-mercy.md
Due: markdownlint, prettier --check

feat: add theme-builder steps
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed theme builder extra story
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added themes to theme-builder-story steps
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step1.stories.tsx
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step2.stories.tsx
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step3.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add TypeScript typing to theme builder themes
  packages/voorbeeld-design-tokens/documentation/theme-builder/hoekschewaard-theme.ts
  packages/voorbeeld-design-tokens/documentation/theme-builder/rijkshuisstijl-theme.ts
  packages/voorbeeld-design-tokens/documentation/theme-builder/voorbeeld-theme.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add theme TypeScript files in theme-styling folder
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme styling/hoekschewaard-theme.ts
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme styling/rijkshuisstijl-theme.ts
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme styling/voorbeeld-theme.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

wip: add token fallback searching
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/contrast-checker/check-colors.ts
  packages/theme-toolkit/src/design-tokens.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add calculateContrastRequirement function
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/community-tokens.ts
  packages/theme-toolkit/src/contrast-checker/ColorPair.ts
  packages/theme-toolkit/src/contrast-checker/check-colors.test.ts
  packages/theme-toolkit/src/contrast-checker/check-colors.ts
  packages/theme-toolkit/src/contrast-checker/index.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

wip: contrast token tools
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/contrast-checker/ColorPair.ts
  packages/theme-toolkit/src/contrast-checker/check-colors.ts
  packages/theme-toolkit/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: replace delta-e with @dynamize/color-utilities
  packages/theme-toolkit/jest.config.ts
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/color-util.test.ts
  packages/theme-toolkit/src/color-util.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: introduce `getTokenValue` to support `$value` too
  packages/theme-toolkit/src/ColorTable.tsx
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/color-util.ts
  packages/theme-toolkit/src/contrast-checker/check-colors.ts
  packages/theme-toolkit/src/design-tokens.ts
  packages/theme-toolkit/src/util.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: change theme stories to use `CommonColorStory` for color theme
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step1.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: change theme stories to use `FontFamilyStory` for typography theme
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: change theme stories to use `BorderRadiusStory` for rounding theme
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step3.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: align sidenav tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: changed min-block-size
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add utrecht drawer tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: use monospace fallback fonts only for code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add badge data tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Added utrecht tokens from the Breadcrumb navigation.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: changed value of ordered and unordered list tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Align todo tokens with Robbert
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

skip-link changes
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Removed active text-decotation
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add headings to basic-theme
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-5.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-6.tokens.json
  proprietary/basic-theme-design-tokens/src/config.json
Due: none

docs: add changeset
  .changeset/bim-bam-bom.md
Due: markdownlint, prettier --check

feat: add link component
  proprietary/basic-theme-design-tokens/src/component/utrecht/link.tokens.json
Due: none

feat: add paragraph component
  proprietary/basic-theme-design-tokens/src/component/utrecht/paragraph.tokens.json
Due: none

feat: add alert components
  proprietary/basic-theme-design-tokens/src/component/utrecht/alert.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
