Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Revise changelog for Modal Dialog component
  .changeset/klein-middel-groot.md
Due: markdownlint, prettier --check

docs: add candidate form field description to themes
  packages/theme-toolkit/src/component-stories-candidate.tsx
  packages/voorbeeld-design-tokens/documentation/form-field-description/nl-form-field-description.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Voor amsterdam icon only button de van ams.icon-button.inverse.background-color van transparent naar {basis.color.transparent}gewijzigd
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Update background color for Amsterdam icon-button
  .changeset/a-b-c.md
Due: markdownlint, prettier --check

docs: add candidate form field error message to themes
  packages/theme-toolkit/src/component-stories-candidate.tsx
  packages/voorbeeld-design-tokens/documentation/form-field-error-message/nl-form-field-error-message.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add default and disabled
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

testcoverage
  packages/start-design-tokens/figma/start.tokens.json
Due: none

nieuwe commit tijdens test coverage
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: placeholder for Candidate Form Field Description design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: placeholder for Candidate Form Field Error Message design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

first set
  packages/ma-design-tokens/src/tokens.json
Due: none

row-gap
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/ma-card-tokens.md
Due: markdownlint, prettier --check

style: ma-card-group tokens (#1618)
  .changeset/ma-card-tokens.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs: groningen changelog 18.1.0 (#1600)
  .changeset/aap-noot-mies.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: groningen changelog 18.2.0 (#1601)
  .changeset/koos-jet-piet.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: groningen changelog 18.3.0 (#1602)
  .changeset/aap-hond-schaap.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: groningen changelog 18.4.0 (#1604)
  .changeset/piet-jaap-jan.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: changelog 21.0.0 (#1606)
  .changeset/groen-geel-paars.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: groningen changelog 22.0.0 (#1608)
  .changeset/rood-wit-blauw.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: groningen changelog 23.0.0 (#1611)
  .changeset/klein-middel-groot.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

chore: fix changeset
  .changeset/a-b-c.md
Due: markdownlint, prettier --check

docs: as discussed remove comments that qualitygate marked
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.5.scss
  proprietary/leiden-design-tokens/src/of-test-v1.0-alpha.5.scss
Due: none

docs: groningen changelog 23.0.1 (#1613)
  .changeset/a-b-c.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: leiden update to 20.0.0 (#1589)
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.5.scss
  proprietary/leiden-design-tokens/src/of-test-v1.0-alpha.5.scss
Due: none

docs(release): design system packages
  .changeset/a-b-c.md
  .changeset/aap-hond-schaap.md
  .changeset/aap-noot-mies.md
  .changeset/groen-geel-paars.md
  .changeset/klein-middel-groot.md
  .changeset/koos-jet-piet.md
  .changeset/ma-card-tokens.md
  .changeset/piet-jaap-jan.md
  .changeset/rood-wit-blauw.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1619)
  .changeset/a-b-c.md
  .changeset/aap-hond-schaap.md
  .changeset/aap-noot-mies.md
  .changeset/groen-geel-paars.md
  .changeset/klein-middel-groot.md
  .changeset/koos-jet-piet.md
  .changeset/ma-card-tokens.md
  .changeset/piet-jaap-jan.md
  .changeset/rood-wit-blauw.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: Form Field Description tokens Candidate component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: Form Field Description tokens Candidate component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: Form Field Description tokens Candidate component - Mooi&Anders
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/candidate-description-tokens.md
Due: markdownlint, prettier --check

docs: add changeset
  .changeset/description-candidate-tokens.md
Due: markdownlint, prettier --check

delete .changeset/candidate-description-tokens.md
  .changeset/candidate-description-tokens.md
Due: markdownlint, prettier --check

chore: upgrade pnpm to 11.28.4
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: Form Field Description tokens Candidate component (#1621)
  .changeset/description-candidate-tokens.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

style: Form Field Error Message tokens Candidate component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: Form Field Error Message tokens Candidate component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: Form Field Error Message tokens Candidate component - Mooi&Anders
  packages/ma-design-tokens/src/tokens.json
Due: none
