Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: Toptask Navigation tokens Utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

update with new design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

toch geen auto
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add margin and change box-shadow token name to border-width
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix error of changing values of utrecht textbox
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add width tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

position width tokens within json
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Update from 13.0.0 to 14.3.0
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

fix: revert ref naar `basis.space.none` voor `$type=other` tokens
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
Due: none

changeset
  .changeset/gorgeous-chicken-serve.md
Due: markdownlint, prettier --check

fix: revert ref naar `basis.space.none` voor `$type=other` tokens (#1425)
  .changeset/gorgeous-chicken-serve.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

small fix to run theme-switcher for windows environment, add rhc-alert to themes
  package.json
  packages/components-react/design-tokens-table-react/package.json
  packages/design-tokens-definition/src/collection.ts
  packages/theme-switcher/package.json
  packages/theme-toolkit/src/component-stories-rhc.tsx
  packages/voorbeeld-design-tokens/documentation/alert/rhc-alert.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

small fix to run theme-switcher for windows environment, add rhc-alert to themes
  packages/components-react/design-tokens-table-react/package.json
  packages/components-react/design-tokens-table-react/tsconfig.build.json
  packages/design-tokens-definition/src/collection.ts
  packages/theme-switcher/package.json
  packages/theme-toolkit/src/component-stories-rhc.tsx
  packages/voorbeeld-design-tokens/documentation/alert/rhc-alert.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix linting
  packages/design-tokens-definition/src/collection.ts
  packages/theme-toolkit/src/component-stories-rhc.tsx
  packages/voorbeeld-design-tokens/documentation/alert/rhc-alert.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

`nl.form-field-description.font-style` kan er uit
  packages/start-design-tokens/figma/start.tokens.json
Due: none

`nl.form-field-error-message.font-style` kan weg
  packages/start-design-tokens/figma/start.tokens.json
Due: none

clean tmp dir instead if tsbuildinfo globs
  package.json
  packages/components-react/design-tokens-table-react/package.json
  packages/components-react/design-tokens-table-react/tsconfig.build.json
  packages/theme-switcher/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

ci: don't persist credentials in actions/checkout
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

style: add `border-radius` token and and mark `border-style` as code-only` for file den haag community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: add `border-radius` token and more - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: add `border-radius` token and more - M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/file-border-tokens.md
Due: markdownlint, prettier --check

style: add `border-radius` token and mark `border-style` as code-only for file den haag community component (#1428)
  .changeset/file-border-tokens.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

add token for icon color
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add Root component
  packages/storybook/config/ThemeDecorator.tsx
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/root/utrecht-mark.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

style: avoid `font-size-adjust` from Root component
  packages/storybook/config/preview.css
  packages/storybook/config/preview.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/ams-icon-button.md
  .changeset/file-border-tokens.md
  .changeset/gorgeous-chicken-serve.md
  .changeset/root-body-layout-na.md
  .changeset/root-body-layout-voor.md
  .changeset/switch-color-tokens.md
  .changeset/tokens-modal-dialog.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Conform changelog 13.1.0
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Conform changelog 14.1.0
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Conform changelog 14.2.0
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix modern color-function notation and percentages
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

tokens teruggeplaatst van utrecht form toggle
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

tabs tokens toegevoegd
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

todo tokens avatar ingewisseld voor ams
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
