Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add remaining missing scales to storybook purmerend basis tokens
  proprietary/purmerend-design-tokens/documentation/basis-tokens.mdx
Due: none

refactor: dark scheme tokens for consistency
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
Due: none

refactor: tokens for consistency
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

fix: more contrast for Color Sample border
  .changeset/silly-berries-knock.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

refactor: apply `nl.color-sample` tokens to `utrecht.color-sample`
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: use grey for transparency checkerboard color
  .changeset/gold-poems-live.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/gold-poems-live.md
  .changeset/silly-berries-knock.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add 9 nl-design-system-candidate components
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@9187e04b490b98f04abaa25c4db328082f57e69d 🚀
  project.json
Due: none

chore: changed placeholder to disabled of link component
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: removed skip link focus-visible tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: use `rem` for typography tokens in voorbeeld theme
  .changeset/beige-camels-think.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/beige-camels-think.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: color scale tokens
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@ef65f8b333abdca10e4d405011690a9c2de0f487 🚀
  project.json
Due: none

feat: add detectTokens for Utrecht Checkbox and Radio Button components
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: display design tokens for each component story
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: add Purmerend dark mode to Chromatic
  packages/storybook/config/preview.ts
  proprietary/purmerend-design-tokens/documentation/component-tokens.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct CSS syntax error in tokens
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

build: remove unused dependency
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Apply suggestions from code review
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add button tokens theme builder
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/home-dip-sit.md
Due: markdownlint, prettier --check

open stad maakt geen gebruik van visited, wel van focus - zorgt nu voor een error bij 'terug' gaan naar pagina.
  proprietary/groningen-design-tokens/figma/figma.tokens.json
Due: none

docs(release): design system packages
  .changeset/home-dip-sit.md
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check
