Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: add changeset
  .changeset/candidate-error-message.md
Due: markdownlint, prettier --check

style: Form Field Error Message tokens Candidate component (#1623)
  .changeset/candidate-error-message.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

chore: pnpm i
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: add candidate form field description to themes
  packages/theme-toolkit/src/component-stories-candidate.tsx
  packages/voorbeeld-design-tokens/documentation/form-field-description/nl-form-field-description.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add default and disabled
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add candidate form field error message to themes
  packages/theme-toolkit/src/component-stories-candidate.tsx
  packages/voorbeeld-design-tokens/documentation/form-field-error-message/nl-form-field-error-message.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: indendation of Code Block story
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: rendered Ordered List correctly
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: detect Utrecht Blockquote tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Utrecht Form Field stories
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Breadcrumb Navigation story
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Accordion story
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Note variant stories
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update Listbox dependency
  packages/theme-toolkit/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: initial release of Sittard-Geleen theme
  .changeset/every-sites-find.md
  proprietary/sittard-geleen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: tweaks to JSON
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
Due: none

add sittard-geleen theme tokens
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/README.md
  proprietary/sittard-geleen-design-tokens/documentation/color.mdx
  proprietary/sittard-geleen-design-tokens/documentation/component-tokens.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/design-tokens.mdx
  proprietary/sittard-geleen-design-tokens/documentation/readme.mdx
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/_responsive.scss
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/custom.scss
  proprietary/sittard-geleen-design-tokens/src/font.mjs
  proprietary/sittard-geleen-design-tokens/src/font.scss
  proprietary/sittard-geleen-design-tokens/src/index.scss
  proprietary/sittard-geleen-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: generate Sittard-Geleen theme based on start-theme
  packages/storybook/config/preview.ts
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/build-theme.mts
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/custom.scss
  proprietary/sittard-geleen-design-tokens/src/generate-theme.mts
  proprietary/sittard-geleen-design-tokens/src/index.scss
  proprietary/sittard-geleen-design-tokens/src/output-theme.mts
  proprietary/sittard-geleen-design-tokens/src/util.mts
  proprietary/sittard-geleen-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add changeset for Figma tokens update to v23.0.0
  .changeset/tidy-groups-tap.md
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

chore: remove unneeded package script
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: split up stories for chromatic limit
  packages/ma-design-tokens/documentation/components.stories.ts
  packages/start-design-tokens/documentation/components.stories.ts
  packages/voorbeeld-design-tokens/documentation/components.stories.ts
  proprietary/enschede-design-tokens/documentation/components.stories.ts
  proprietary/groningen-design-tokens/documentation/components.stories.ts
  proprietary/losser-design-tokens/documentation/components.stories.ts
  proprietary/purmerend-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/components.stories.ts
  proprietary/zaanstad-design-tokens/documentation/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: codeowner for losser is also kernteam
  .github/CODEOWNERS
Due: none

fix: codeowner losse is also kernteam
  .github/CODEOWNERS
Due: none

fix: merge conflict
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

chore: split up stories for chromatic limit (#1626)
  packages/ma-design-tokens/documentation/components.stories.ts
  packages/start-design-tokens/documentation/components.stories.ts
  packages/voorbeeld-design-tokens/documentation/components.stories.ts
  proprietary/enschede-design-tokens/documentation/components.stories.ts
  proprietary/groningen-design-tokens/documentation/components.stories.ts
  proprietary/losser-design-tokens/documentation/components.stories.ts
  proprietary/purmerend-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/components.stories.ts
  proprietary/zaanstad-design-tokens/documentation/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: leiden add changeset for Figma tokens update to v23.0.0 (#1625)
  .changeset/tidy-groups-tap.md
Due: markdownlint, prettier --check

docs: groningen changelog 15.0.0 (#1530)
  .changeset/changelog-1500-disabled.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check
