Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: remove trailing space from dir name
  proprietary/nora-design-tokens/LICENSE.md
  proprietary/nora-design-tokens/README.md
  proprietary/nora-design-tokens/documentation/color.mdx
  proprietary/nora-design-tokens/documentation/components.stories.ts
  proprietary/nora-design-tokens/documentation/design-tokens.mdx
  proprietary/nora-design-tokens/documentation/readme.mdx
  proprietary/nora-design-tokens/figma/figma.tokens.json
  proprietary/nora-design-tokens/package.json
  proprietary/nora-design-tokens/src/config.json
  proprietary/nora-design-tokens/src/custom.scss
  proprietary/nora-design-tokens/src/font.js
  proprietary/nora-design-tokens/src/index.scss
  proprietary/nora-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: basis thema oddities
  proprietary/basis-design-tokens/documentation/color.mdx
  proprietary/basis-design-tokens/documentation/components.stories.ts
  proprietary/basis-design-tokens/documentation/design-tokens.mdx
  proprietary/basis-design-tokens/documentation/readme.mdx
  proprietary/basis-design-tokens/src/config.json
  proprietary/basis-design-tokens/style-dictionary.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: improve NORA tokens package
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/nora-design-tokens/LICENSE.md
  proprietary/nora-design-tokens/README.md
  proprietary/nora-design-tokens/documentation/design-tokens.mdx
  proprietary/nora-design-tokens/package.json
  proprietary/nora-design-tokens/src/font.js
  proprietary/nora-design-tokens/style-dictionary.config.js
  proprietary/nora-design-tokens/style-dictionary.config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: add missing token to NORA
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

style: Imported css
  proprietary/basic-theme-design-tokens/src/_responsive.scss
  proprietary/basic-theme-design-tokens/src/custom.scss
  proprietary/basic-theme-design-tokens/src/index.scss
Due: none

feat: add NORA tokens
  .changeset/bright-waves-attack.md
  npmpackagejsonlint.config.cjs
  pnpm-lock.yaml
  proprietary/nora-design-tokens /LICENSE.md
  proprietary/nora-design-tokens /README.md
  proprietary/nora-design-tokens /documentation/color.mdx
  proprietary/nora-design-tokens /documentation/components.stories.ts
  proprietary/nora-design-tokens /documentation/design-tokens.mdx
  proprietary/nora-design-tokens /documentation/readme.mdx
  proprietary/nora-design-tokens /figma/figma.tokens.json
  proprietary/nora-design-tokens /package.json
  proprietary/nora-design-tokens /src/config.json
  proprietary/nora-design-tokens /src/custom.scss
  proprietary/nora-design-tokens /src/font.js
  proprietary/nora-design-tokens /src/index.scss
  proprietary/nora-design-tokens /style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@69400a57fea281553cf039033ab02e8bb5c561e7 🚀
  project.json
Due: none

Changed tokens for separator
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/patch-fur-pair.md
Due: markdownlint, prettier --check

feat: add Utrecht ColorSample component
  packages/voorbeeld-design-tokens/documentation/color-sample/utrecht-color-sample.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update figma.tokens.json
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

fix: fix broken token references
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

fix: add quotes around font-family name and write font-weight as a number
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

refactor: removed unnecessary code
  packages/voorbeeld-design-tokens/documentation/color-sample/utrecht-color-sample.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename title
  packages/voorbeeld-design-tokens/documentation/color-sample/utrecht-color-sample.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add color to Utrecht ColorSample component
  packages/voorbeeld-design-tokens/documentation/color-sample/utrecht-color-sample.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht pagination tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: changed not-checked style
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: make heading 6 same as heading 5
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

feat: use other font library for Source Sans 3
  proprietary/nora-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: revert font library change
  proprietary/nora-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

refactor: renamed Summary List to Form Summary
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

refactor: remove scss
  proprietary/basic-theme-design-tokens/src/_responsive.scss
  proprietary/basic-theme-design-tokens/src/custom.scss
  proprietary/basic-theme-design-tokens/src/index.scss
Due: none
