Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/clean-otters-dance.md
  .changeset/ma-box-shadow.md
  .changeset/weak-shoes-greet.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/theme-toolkit/CHANGELOG.md
  packages/theme-toolkit/package.json
  packages/tokens-lib/CHANGELOG.md
  packages/tokens-lib/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

chore: now hopefully get the nice ui test preview
  proprietary/groningen-design-tokens/documentation/components.stories.ts
  proprietary/groningen-design-tokens/documentation/list.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update to "@rijkshuisstijl-community/components-react": "13.0.0"
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

ci: fix step name
  .github/workflows/publish.yml
Due: none

ci: remove GITHUB_TOKEN in changesets step
  .github/workflows/publish.yml
Due: none

ci: separate codecov workflow
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

ci: in dependabot, group GitHub Actions updates together
  .github/dependabot.yml
Due: none

ci: remove kernteam-dependabot reviewer from dependabot
  .github/dependabot.yml
Due: none

update 9.1.1
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

ci: revert removal of GH_TOKEN
  .github/workflows/publish.yml
Due: none

update 4.2.1
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

update 5.0.0
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Update van 3.1 t/m 9.1
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

removed JSON configuration and style files for WordPress theme, moved to it's own repository
  proprietary/leiden-design-tokens/src/wordpress/base.json
  proprietary/leiden-design-tokens/src/wordpress/settings/border.json
  proprietary/leiden-design-tokens/src/wordpress/settings/color.json
  proprietary/leiden-design-tokens/src/wordpress/settings/custom.json
  proprietary/leiden-design-tokens/src/wordpress/settings/dimensions.json
  proprietary/leiden-design-tokens/src/wordpress/settings/layout.json
  proprietary/leiden-design-tokens/src/wordpress/settings/lightbox.json
  proprietary/leiden-design-tokens/src/wordpress/settings/position.json
  proprietary/leiden-design-tokens/src/wordpress/settings/shadow.json
  proprietary/leiden-design-tokens/src/wordpress/settings/spacing.json
  proprietary/leiden-design-tokens/src/wordpress/settings/typography.json
  proprietary/leiden-design-tokens/src/wordpress/settings/useRootPaddingAwareAlignments.json
  proprietary/leiden-design-tokens/src/wordpress/styles/background.json
  proprietary/leiden-design-tokens/src/wordpress/styles/blocks/core-button.json
  proprietary/leiden-design-tokens/src/wordpress/styles/blocks/core-image.json
  proprietary/leiden-design-tokens/src/wordpress/styles/border.json
  proprietary/leiden-design-tokens/src/wordpress/styles/color.json
  proprietary/leiden-design-tokens/src/wordpress/styles/css.json
  proprietary/leiden-design-tokens/src/wordpress/styles/dimensions.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/button.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/caption.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/cite.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h1.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h2.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h3.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h4.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h5.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h6.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/heading.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/link.json
  proprietary/leiden-design-tokens/src/wordpress/styles/filter.json
  proprietary/leiden-design-tokens/src/wordpress/styles/outline.json
  proprietary/leiden-design-tokens/src/wordpress/styles/shadow.json
  proprietary/leiden-design-tokens/src/wordpress/styles/spacing.json
  proprietary/leiden-design-tokens/src/wordpress/styles/typography.json
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

removed unused themeJsonFormatter and related theme.json build logic
  proprietary/leiden-design-tokens/style-dictionary.mjs
Due: none

Form-field-label-suffix
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Button fix - secondary button in blue
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Update 10.0.0
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Update 12.0
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

order change
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

added secondary action colors
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Remove custom tokens
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

chore: fix lint issue
  packages/ma-design-tokens/src/fdnd.tokens.json
Due: none

refactor: change of fdnd tokens
  packages/ma-design-tokens/src/fdnd.tokens.json
Due: none

fdnd tokens added
  packages/ma-design-tokens/src/fdnd.tokens.json
  packages/ma-design-tokens/style-dictionary.mjs
Due: none

wijzigingen-headings-rem
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

feat: add Utrecht status-badge to Den Haag task-navigation and visual regression test
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/voorbeeld-design-tokens/documentation/task-navigation/denhaag-task-navigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: no duplication needed for args.details
  packages/voorbeeld-design-tokens/documentation/task-navigation/denhaag-task-navigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Apply suggesti ons from code review
  packages/voorbeeld-design-tokens/documentation/task-navigation/denhaag-task-navigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct heading in ma-design-tokens changelog (#1366)
  packages/ma-design-tokens/CHANGELOG.md
Due: markdownlint, prettier --check

feat: add Utrecht status-badge to Den Haag task-navigation (#1381)
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/voorbeeld-design-tokens/documentation/task-navigation/denhaag-task-navigation.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update Open Forms title styles and add padding for start form
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom max inline size for form fields and adjust label margin
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom override for button group alignment in OpenForms edit grid
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Update background color for OpenForms edit grid items
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
