Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: add changeset for groningen release
  .changeset/wise-masks-sing.md
Due: markdownlint, prettier --check

docs: add changeset for groningen release (#1452)
  .changeset/wise-masks-sing.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/wise-masks-sing.md
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs: Leiden - OF styling changes and Figma update (#1432)
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
  proprietary/leiden-design-tokens/src/index.scss
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.3.scss
  proprietary/leiden-design-tokens/src/of-test-v1.0-alpha.3.scss
Due: none

docs(release): design system packages (#1451)
  .changeset/wise-masks-sing.md
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Data badge padding block aangepast van none naar 0px
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Wijzig naam van ams.heading.inverse-color naar ams.heading.inverse.color.
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Navigation bar aanpassingen , tokens toegevoegd en waarde tokens aangepast.
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Task card aangepast tokens, task navigation was conform meest huidige status
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Verschillende component tokens toegevoegd en aangepast formulier
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

andere rem waardes aangepast, n.a.v. 11.3.0, maar deze Groningen specifiek gemaakt in overleg met vormgeving
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Volgorde page-componenten aangepast en 2 componenten aangepast
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Modal dialog tokens todo gewijzigd naar ams
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

ci: setup CODEOWNERS file
  .github/CODEOWNERS
Due: none

File component updates den haag
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen changelog 14.4.0 (#1463)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen changelog 14.1.0 (#1461)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen headings/size (#1459)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen changelog 9.0.0 (#1457)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen changelog 8.0.0 (#1455)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen changelog 5.2.2 (#1454)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen changelog 8.4.0 (#1456)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen changelog 10.0.0 (#1458)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen changelog 14.0.0 (#1460)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: add changeset for groningen release 20 mei
  .changeset/tall-kings-march.md
Due: markdownlint, prettier --check

docs: add changeset for groningen release 20 mei (#1464)
  .changeset/tall-kings-march.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/tall-kings-march.md
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1453)
  .changeset/tall-kings-march.md
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Automatische kleurwaardes van positive button aangepast
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Link was gekoppeld aan groningen cta brand token, niet aan een common token. Deze nu dus aangepast aan een bestaande common token.
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Kleuren van componenten aangepast en tweede heading kleur toegevoegd aan common tokens
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: align basis tokens and Start-thema
  packages/basis-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
Due: none

ci: configure dependabot cooldown
  .github/dependabot.yml
Due: none

make changes for MA and Voorbeeld
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix incorrect colors
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

ci: explicitly set persist-credentials to true
  .github/workflows/publish.yml
Due: none

feat: add 3 basis tokens, change type and values
  packages/start-design-tokens/figma/start.tokens.json
Due: none

order fix
  packages/start-design-tokens/figma/start.tokens.json
Due: none
