Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: todo progress list naam aanpassing naar column-gap
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: todo progress list naam aanpassing naar column-gap (#1055)
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: verplaats dark-mode naar color-scheme-dark
  packages/ma-design-tokens/documentation/components.stories.ts
  packages/ma-design-tokens/src/color-scheme-dark/tokens.json
  packages/ma-design-tokens/src/tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: import ma-theme color scheme dark
  packages/storybook/config/preview.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: incorrect character in classname
  packages/ma-design-tokens/documentation/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use args.theme
  packages/ma-design-tokens/documentation/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: terugzetten darkmode blokje
  packages/ma-design-tokens/src/color-scheme-dark/tokens.json
  packages/ma-design-tokens/src/tokens.json
  packages/ma-design-tokens/style-dictionary.mjs
  packages/storybook/config/preview.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: color-scheme-dark setup
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Onnodige tokens er uit
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: color-scheme-dark setup
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: tokenset skip-link position
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: color-scheme-dark setup (#1057)
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs(release): design system packages
  .changeset/accordion-muziek-speelt.md
  .changeset/text-in-area.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: waarde van pointer-target size ingewisseld naar relatieve notatie
  packages/start-design-tokens/figma/start.tokens.json
Due: none

waarde van form-control max inline size ook ingewisseld naar een relatieve notatie
  packages/start-design-tokens/figma/start.tokens.json
Due: none

waarden van basis-tokens pointer-target en form-control omgezet naar relatieve notaties
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: color-scheme-dark setup
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: improve main and example README, fix example pnpm script
  README.md
  proprietary/example-design-tokens/README.md
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: waarde van pointer-target size ingewisseld naar relatieve notatie (#1060)
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: improve main and example README, fix example pnpm script
  proprietary/example-design-tokens/README.md
Due: markdownlint, prettier --check

fix: remove confusing text from readme
  proprietary/example-design-tokens/README.md
Due: markdownlint, prettier --check

docs: genereer color-scheme-dark css (#1058)
  packages/ma-design-tokens/documentation/component-tokens.stories.ts
  packages/ma-design-tokens/documentation/components.stories.ts
  packages/ma-design-tokens/style-dictionary.mjs
  packages/storybook/config/preview.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: verwijder ongebruikte dark mode logica uit example (#1058)
  proprietary/example-design-tokens/src/color-scheme-dark/tokens.json
  proprietary/example-design-tokens/style-dictionary.mjs
Due: none

docs: verwijder ongebruikte dark mode logica uit epe (#1058)
  proprietary/epe-design-tokens/documentation/component-tokens.stories.ts
  proprietary/epe-design-tokens/documentation/components.stories.ts
  proprietary/epe-design-tokens/style-dictionary.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: improve main and example README, fix example pnpm script (#1061)
  README.md
  proprietary/example-design-tokens/README.md
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add disabled-inverse common token set
  packages/ma-design-tokens/src/tokens.json
Due: none

refactor: move convenient processors to global style-dictionary-config.js
  packages/ma-design-tokens/style-dictionary.mjs
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: test
  .npmrc
  pnpm-lock.yaml
Due: none

chore: packagemanager
  .npmrc
  lint-staged.config.cjs
  lint-staged.config.mjs
  package.json
  packages/tokens-lib/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: sync tokens with NL Design System library
  packages/ma-design-tokens/src/tokens.json
Due: none

feat: add den haag side navigation to themes and visual regression test
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/side-navigation/denhaag-side-navigation.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht icon to themes and visual regression test
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/icon/utrecht-icon.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht link list to themes and visual regression test
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/link-list/utrecht-link-list.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht icon to themes and visual regression test (#1067)
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/icon/utrecht-icon.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use dutch texts in link list
  packages/voorbeeld-design-tokens/documentation/link-list/utrecht-link-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use dutch texts in link list
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: formatting from commit via github
  packages/voorbeeld-design-tokens/documentation/link-list/utrecht-link-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add den haag side navigation to themes and visual regression test (#1065)
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/side-navigation/denhaag-side-navigation.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
