Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: fix select padding regressions
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: fix focus outline regressions
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

style(action): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(action-group): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(accordion): token order update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(action): token order update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(alert): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(avatar): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(backdrop): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: fix dark mode form elements
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: fix dark mode select
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
Due: none

style(blockquote): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(breadcrumb-nav): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: split basis theme components page for Chromatic
  proprietary/basis-design-tokens/documentation/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(button): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix(button-group): removed tokenset
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(checkbox): half
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(checkbox): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix(badge-data): removed tokenset
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(case-card): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(case-card): token update (removing tokenset)
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: apply pr comments, remove unnecessary entries
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

style(case-card): token update (order)
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(code): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(code-block): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(color-sample): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat(paragraph-tokens): add new tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Changeset toegevoegd
  .changeset/big-bap-boop.md
Due: markdownlint, prettier --check

feat(paragraph-tokens): add new tokens (#985)
  .changeset/big-bap-boop.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

feat(heading-tokens): add new tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Changeset toegevoegd
  .changeset/bax-top-step.md
Due: markdownlint, prettier --check

feat(heading-tokens): add new tokens (#987)
  .changeset/bax-top-step.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

feat(paragraph-tokens): add description
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Changeset toegevoegd
  .changeset/wit-ruimte-reis.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/bax-top-step.md
  .changeset/big-bap-boop.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs: release Basis Theme V3
  .changeset/violet-mangos-poke.md
Due: markdownlint, prettier --check

chore: limit width of text content to approx 70 chars
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

ci: add jsx to tsconfig to prevent IDE error in ThemeBuilder
  tsconfig.json
Due: none

feat: add colorpickercombobox lables
  packages/storybook/src/theme-builder/ColorPicker.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
