Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

style: add candidate tokens for separator
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: add font-family tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: add candidate tokens for heading group
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

test: use expand
  proprietary/nora-design-tokens/style-dictionary.config.mjs
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct 'transformGroups' to 'transformGroup' in SD config
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add community tokens for icon
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add color sample component
  packages/voorbeeld-design-tokens/documentation/color-sample/utrecht-color-sample.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add candidate tokens for icon
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add Utrecht Data Badge
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/data-badge/utrecht-data-badge.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: do not use tokens-studio transformGroup for backwardsCompatible
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add flag for tokens-studio transforms
  proprietary/nora-design-tokens/style-dictionary.config.mjs
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/nora-use-tokens-studio-transforms.md
Due: markdownlint, prettier --check

feat: update tokens for utrecht-ordered-list
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

Added candidate tokens for Heading
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: restore nl.skip-link tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add tokens for nora-figure component
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

Added Community Heading tokens of Amsterdam
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

- Added Community Data Badge tokens of Utrecht. - Removed todo Bagde Data tokens.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Added Community Data Badge tokens of Utrecht
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: add candidate tokens for number badge
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none
