Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  .changeset/list-the-box.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1504)
  .changeset/list-the-box.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

change width to value-size
  packages/start-design-tokens/figma/start.tokens.json
Due: none

ci: fix overly broad permissions
  .github/workflows/publish.yml
Due: none

ci: rewrite actions to use workflow_call instead of the unsafe workflow_run
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

ci: give codecov proper permissions
  .github/workflows/publish.yml
Due: none

add new tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

add card tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

card token order
  packages/ma-design-tokens/src/tokens.json
Due: none

task-navigation order
  packages/ma-design-tokens/src/tokens.json
Due: none

add bage list tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

add new tokens (#1513)
  packages/ma-design-tokens/src/tokens.json
Due: none

add tokens utrecht table
  packages/ma-design-tokens/src/tokens.json
Due: none

add tokens utrecht table (#1514)
  packages/ma-design-tokens/src/tokens.json
Due: none

style: hocus pocus community focus
  packages/ma-design-tokens/src/tokens.json
Due: none

style: hocus pocus community focus (#1515)
  packages/ma-design-tokens/src/tokens.json
Due: none

style: grid tokens Amsterdam community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

voorbeeld thema
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/grid-grid-grid.md
Due: markdownlint, prettier --check

style: grid tokens Amsterdam community component (#1516)
  .changeset/grid-grid-grid.md
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

add changeset
  .changeset/maak-een-change.md
Due: markdownlint, prettier --check

add changeset (#1519)
  .changeset/maak-een-change.md
Due: markdownlint, prettier --check

page-inline-size en sidebar
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/page-and-side.md
Due: markdownlint, prettier --check

page-inline-size en sidebar (#1520)
  .changeset/page-and-side.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

chore: upgrade npm-check-updates to 22
  .ncurc.major.mjs
  .ncurc.minor.mjs
  .ncurc.patch.mjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

style: blockquote update
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/block-quote-update.md
Due: markdownlint, prettier --check

style: blockquote update (#1522)
  .changeset/block-quote-update.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/block-quote-update.md
  .changeset/grid-grid-grid.md
  .changeset/maak-een-change.md
  .changeset/page-and-side.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

grid ams toegepast, conform changelog 14.8.0
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

veranderingen met comments van vomrgeving doorgenomen
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs(release): design system packages (#1518)
  .changeset/block-quote-update.md
  .changeset/grid-grid-grid.md
  .changeset/maak-een-change.md
  .changeset/page-and-side.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: add amsterdam unordered list tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: add amsterdam unordered list tokens (#1525)
  packages/ma-design-tokens/src/tokens.json
Due: none

style: Side Navigation tokens Den Haag community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none
