Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/border-width-button-voorbeeld.md
  .changeset/border-width-button.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs: remove basis-design-tokens from themes storybook sidebar
  packages/basis-design-tokens/documentation/color.mdx
  packages/basis-design-tokens/documentation/component-tokens.stories.ts
  packages/basis-design-tokens/documentation/components.stories.ts
  packages/basis-design-tokens/documentation/design-tokens.mdx
  packages/basis-design-tokens/documentation/editor.mdx
  packages/basis-design-tokens/documentation/readme.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(button): add candidate to components and visual regression
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-candidate.tsx
  packages/voorbeeld-design-tokens/documentation/button/nl-button.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(candidate): boyscout candidate while adding candidate button
  packages/theme-toolkit/src/component-stories-candidate.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/brown-queens-ring.md
Due: markdownlint, prettier --check

docs: add story group mark
  packages/theme-toolkit/src/component-stories-candidate.tsx
  packages/theme-toolkit/src/component-stories-util.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: button block padding
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: button block padding
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/button-block-padding.md
Due: markdownlint, prettier --check

add changeset
  .changeset/button-block-padding-voorbeeld.md
Due: markdownlint, prettier --check

docs: extend button stories and add tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: icon only inline padding
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: icon only inline padding
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

update changeset
  .changeset/button-block-padding.md
Due: markdownlint, prettier --check

update changeset
  .changeset/button-block-padding-voorbeeld.md
Due: markdownlint, prettier --check

docs: add start thema
  .changeset/good-buckets-wink.md
  packages/start-design-tokens/documentation/color.mdx
  packages/start-design-tokens/documentation/component-tokens.stories.ts
  packages/start-design-tokens/documentation/components.stories.ts
  packages/start-design-tokens/documentation/dashboard.mdx
  packages/start-design-tokens/documentation/design-tokens.mdx
  packages/start-design-tokens/documentation/readme.mdx
  packages/start-design-tokens/documentation/typography.mdx
  packages/start-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: button block padding (#1289)
  .changeset/button-block-padding.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

style: button block padding - Voorbeeld (#1288)
  .changeset/button-block-padding-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/button-block-padding-voorbeeld.md
  .changeset/button-block-padding.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: add missing font dependency
  packages/start-design-tokens/package.json
  packages/start-design-tokens/src/font.js
  packages/storybook/config/preview.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: use variable font for voorbeeld-design-tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/package.json
  packages/voorbeeld-design-tokens/src/font.js
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: switch to candidate button 1.0.0
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Change cursor value from 'disabled' to 'not-allowed'
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Change cursor value from 'disabled' to 'not-allowed'
  packages/start-design-tokens/figma/start.tokens.json
Due: none

color.status.badge
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/2.7.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

color.button-fileinput-mark
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

ci: ensure that the lockfile is present and up-to-date
  .github/workflows/publish.yml
Due: none

style: alert dialog tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

voorzet design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: calendar tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Enhance accessibility and styling for a11y-toolbar and other openforms and formio components
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom override for openforms-card to enable word-break styling
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Comment out unused styles for openforms fieldset to improve maintainability
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom override for openforms-title to set font-size due to missing feature
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
