Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: remove LICENSE.txt
  LICENSE.txt
Due: none

chore: remove LICENSE.txt (#507)
  LICENSE.txt
Due: none

chore: update CoC
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.nl.md
Due: markdownlint, prettier --check

build: update dependabot.yml
  .github/dependabot.yml
Due: none

Relatie tokens op common niveau
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Relatie tokens op common niveau (#512)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Relatie spacing tokens dmv dimention type
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Dimensions voor verticale spacing
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add ComponentTokensSection
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ComponentTokensSection.jsx
  packages/theme-toolkit/src/ComponentTokensTable.jsx
  packages/theme-toolkit/src/CopyButton.jsx
  packages/theme-toolkit/src/ExampleTokensCSS.jsx
  packages/theme-toolkit/src/ExampleTokensJSON.jsx
  packages/theme-toolkit/src/design-tokens.js
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: remove Playbook
  .github/workflows/continuous-deployment.yml
  .ncurc.minor.js
  package.json
  packages/playroom/FrameComponent.jsx
  packages/playroom/components.js
  packages/playroom/package.json
  packages/playroom/playroom.config.js
  packages/playroom/snippets/index.js
  packages/playroom/themes.js
  packages/storybook/config/main.js
  packages/storybook/config/preview.js
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove generated component pages
  packages/storybook/package.json
  packages/storybook/src/components/Badge.jsx
  packages/storybook/src/components/ComponentPage.jsx
  packages/storybook/src/components/designTokenUtils.jsx
  packages/storybook/src/generate-component-pages/index.ts
  packages/storybook/src/generate-component-pages/page-template.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
