Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: update storybook and build for color-scheme-dark
  packages/voorbeeld-design-tokens/documentation/component-tokens.stories.ts
  packages/voorbeeld-design-tokens/documentation/components.stories.ts
  packages/voorbeeld-design-tokens/style-dictionary.mjs
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add amsterdam page footer to themes and visual regression test (#1072)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/page-footer/ams-page-footer.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/accordion-muziek-speelt.md
  .changeset/text-in-area.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add utrecht action group to themes and visual regression test (#1082)
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/action-group/utrecht-action-group.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add amsterdam page header to themes and visual regression test (#1073)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/page-header/ams-page-header.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset for ma-design-tokens
  .changeset/abuse-tape-tent.md
Due: markdownlint, prettier --check

feat: update amsterdam design system packages (#1070) (#1071)
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/tokens-lib/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
  proprietary/amsterdam-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

waarden van basis-tokens pointer-target en form-control omgezet naar relatieve notaties
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Remove name token
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

refactor: use new token structure
  packages/voorbeeld-design-tokens/documentation/color.mdx
  packages/voorbeeld-design-tokens/documentation/typography.mdx
  pnpm-lock.yaml
Due: none

fix: todo breadcrumb tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Page number navigation underline
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: color-scheme-dark setup
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: todo progress list naam aanpassing naar column-gap
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Rename voorbeeld.tokens.json to voorbeeld.tokens-old.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens-old.json
Due: none

add unit to 0 values
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Voorbeeld huisstijl doorgevoerd
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: case-card-update
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: update style-dictionary.test which tests for voorbeeld-token button properties
  packages/theme-toolkit/src/style-dictionary.test.ts
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: tokenset skip-link position
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Create voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: task-list icon color
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Naam token aangepast en breadcrumb token toegevoegd
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

build: add dependency to avoid build order issues
  packages/tokens-lib/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

fix: column-gap naam en waarde
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: remove cyclic dependency
  packages/tokens-lib/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Action 2 in dark mode naar blauwe tint
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add ams page-footer tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: fix start-design tokens build
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add ams page-header tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: disable test to fix build
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: disable test to fix build
  packages/theme-toolkit/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: xdescribe --> describe.skip
  packages/theme-toolkit/src/style-dictionary.test.ts
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern
