Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

update changeset
  .changeset/root-body-layout-voor.md
Due: markdownlint, prettier --check

fix: border-bottom under title in loading state when there is a subtitle
  proprietary/leiden-design-tokens/src/index.scss
Due: none

add changeset
  .changeset/root-body-layout-na.md
Due: markdownlint, prettier --check

fix: add border under subtitle in loading state
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: update openforms-subtitle styles to exclude cookie-group
  proprietary/leiden-design-tokens/src/index.scss
Due: none

style: root and page body tokens utrecht community component (Start) (#1412)
  .changeset/root-body-layout-na.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

style: root and page body tokens utrecht community component (MA en Voorbeeld) (#1411)
  .changeset/root-body-layout-voor.md
  packages/ma-design-tokens/src/tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

style: change modal dialog tokens amsterdam community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: rename modal dialog tokens amsterdam community component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: rename modal dialog tokens amsterdam community component - M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/tokens-modal-dialog.md
Due: markdownlint, prettier --check

style: rename modal dialog tokens amsterdam community component (#1414)
  .changeset/tokens-modal-dialog.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

style: icon button tokens amsterdam community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: icon button tokens amsterdam community component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

added two separate files for test and production
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.1.scss
  proprietary/leiden-design-tokens/src/of-test-v1.0-alpha.1.scss
Due: none

style: icon button tokens amsterdam community component - M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

test to prod
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.1.scss
Due: none

docs: add changeset
  .changeset/ams-icon-button.md
Due: markdownlint, prettier --check

moved OpenForms styling to own files
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: correct indentation and formatting in SCSS files
  proprietary/leiden-design-tokens/src/index.scss
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.1.scss
  proprietary/leiden-design-tokens/src/of-test-v1.0-alpha.1.scss
Due: none

style: icon button tokens amsterdam community component (#1415)
  .changeset/ams-icon-button.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

WIP: add basis tokens definitions
  packages/basis-design-tokens/package.json
  packages/basis-design-tokens/src/ColorSampleList.css
  packages/basis-design-tokens/src/ColorSampleList.tsx
  packages/basis-design-tokens/src/basis-definitions.tokens.json
  packages/basis-design-tokens/src/basis-placeholder.tokens.json
  packages/basis-design-tokens/src/color-sample.mjs
  packages/basis-design-tokens/src/css-property-formatter.mjs
  packages/basis-design-tokens/style-dictionary.config.mjs
  packages/storybook/config/preview.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

actually use the property.css
  packages/storybook/config/preview.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

remove theme-builder from storybook
  .changeset/friendly-bikes-happen.md
  packages/basis-design-tokens/src/placeholder.tokens.json
  packages/basis-design-tokens/src/tokens.json
  packages/storybook/src/theme-builder/ColorPicker.stories.tsx
  packages/storybook/src/theme-builder/Combobox.tsx
  packages/storybook/src/theme-builder/FontFamily.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilder.css
  packages/storybook/src/theme-builder/ThemeBuilder.tsx
  packages/storybook/src/theme-builder/ThemeBuilderDenhaag.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderUtrecht.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderVoorbeeld.stories.tsx
  packages/storybook/src/theme-builder/examples.tsx
  packages/storybook/src/theme-builder/project-wallace-purmerend.tokens.json
  packages/storybook/src/theme-builder/property.css
  packages/storybook/src/theme-builder/steps.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix build
  packages/basis-design-tokens/style-dictionary.config.mjs
Due: none

update: Den Haag Action (Task Navigation) token version
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: fail the test command if it fails
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: replace deprecated @gemeente-denhaag/design-tokens-components with up to date @gemeente-denhaag/design-tokens
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/storybook/src/denhaag/README.md
  packages/storybook/src/denhaag/color.stories.mdx
  packages/storybook/src/denhaag/config.json
  packages/storybook/src/theme-builder/ThemeBuilderDenhaag.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderUtrecht.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderVoorbeeld.stories.tsx
  packages/theme-switcher/src/index.js
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: skip changeset for private packages
  .changeset/config.json
Due: none

draft for community case-card design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: change values of switch `color` tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: change values of switch `color` tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: change values of switch `color` tokens - M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/switch-color-tokens.md
Due: markdownlint, prettier --check

fix: change values of switch `color` tokens (#1420)
  .changeset/switch-color-tokens.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Refactor code structure for improved readability and maintainability
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.3.scss
  proprietary/leiden-design-tokens/src/of-test-v1.0-alpha.3.scss
Due: none

chore: update @gemeente-denhaag/file package
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

update: Den Haag Action (Task Navigation) and File token versions (#1417)
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/storybook/src/denhaag/README.md
  packages/storybook/src/denhaag/color.stories.mdx
  packages/storybook/src/denhaag/config.json
  packages/storybook/src/theme-builder/ThemeBuilderDenhaag.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderUtrecht.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderVoorbeeld.stories.tsx
  packages/theme-switcher/src/index.js
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
