Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

via github dan maar
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Dan maar weer via github
  packages/start-design-tokens/figma/start.tokens.json
Due: none

toptask ipv topic
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Remove header padding from toptask
  packages/start-design-tokens/figma/start.tokens.json
Due: none

order and updates
  packages/start-design-tokens/figma/start.tokens.json
Due: none

status padding afgestemd met card padding
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: blockquote border token switch
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/border-widht-change.md
Due: markdownlint, prettier --check

style: blockquote border token switch (#1558)
  .changeset/border-widht-change.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/border-widht-change.md
  .changeset/clever-schools-tan.md
  .changeset/marieke-eerste-change.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
  proprietary/losser-design-tokens/CHANGELOG.md
  proprietary/losser-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1551)
  .changeset/border-widht-change.md
  .changeset/clever-schools-tan.md
  .changeset/marieke-eerste-change.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
  proprietary/losser-design-tokens/CHANGELOG.md
  proprietary/losser-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

underline bij hover
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: card as link tokens help wanted component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/card-as-link.md
Due: markdownlint, prettier --check

Ook voor Mooi & Anders
  packages/ma-design-tokens/src/tokens.json
Due: none

Ook voor Voorbeeld thema
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add sittard-geleen theme tokens
  .claude/settings.json
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/documentation/color.mdx
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/design-tokens.mdx
  proprietary/sittard-geleen-design-tokens/documentation/readme.mdx
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/_responsive.scss
  proprietary/sittard-geleen-design-tokens/src/component/article.tokens.json
  proprietary/sittard-geleen-design-tokens/src/component/button.tokens.json
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/custom.scss
  proprietary/sittard-geleen-design-tokens/src/font.js
  proprietary/sittard-geleen-design-tokens/src/font.scss
  proprietary/sittard-geleen-design-tokens/src/index.scss
  proprietary/sittard-geleen-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

style: card as link tokens help wanted component (#1559)
  .changeset/card-as-link.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

build: don't fall back to .gitignore when publishing by including an empty .npmignore
  .npmignore
Due: none

style: renamed spotlight-section to note
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: republish packages with missing dist folder
  .changeset/tough-parrots-glow.md
Due: markdownlint, prettier --check

chore: fix typo in changeset
  .changeset/card-as-link.md
Due: markdownlint, prettier --check

Mooi & Anders thema
  packages/ma-design-tokens/src/tokens.json
Due: none

Voorbeeld thema
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Mooi & Anders: border-width alias en success
  packages/ma-design-tokens/src/tokens.json
Due: none

Start thema: success
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Voorbeeld thema: success
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

nog een success
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/spotlight-to-note.md
Due: markdownlint, prettier --check

test handmatig verwijderd
  packages/start-design-tokens/figma/start.tokens.json
Due: none

s te veel
  packages/start-design-tokens/figma/start.tokens.json
Due: none

s er weer af
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Update version from 'marjor' to 'major'
  .changeset/spotlight-to-note.md
Due: markdownlint, prettier --check

style: renamed spotlight-section to note (#1560)
  .changeset/spotlight-to-note.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/card-as-link.md
  .changeset/spotlight-to-note.md
  .changeset/tough-parrots-glow.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
  proprietary/losser-design-tokens/CHANGELOG.md
  proprietary/losser-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs: changed colors for losser (#1556)
  proprietary/losser-design-tokens/figma/losser.tokens.json
Due: none
