Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add margin tokens to all headings
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht heading tokens to heading component 4,5 and 6
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht heading tokens to heading component 1,2 and 3
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename link token
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: removed classname
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add placeholder link tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add classname to link placeholder
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add link tokens to theme builder
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add data-badge tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add tokens definition package
  .changeset/clever-timers-fail.md
  .changeset/eleven-scissors-joke.md
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/design-tokens-definition/README.md
  packages/design-tokens-definition/package.json
  packages/design-tokens-definition/src/build.ts
  packages/design-tokens-definition/src/collection.ts
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/tokens-lib/src/ExampleTokensCSS.ts
  packages/voorbeeld-design-tokens/documentation/design-tokens.mdx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/purmerend-design-tokens/documentation/component-tokens.stories.ts
  proprietary/purmerend-design-tokens/documentation/design-tokens.mdx
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add code tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add code block tokens (#914)
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add color sample tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/clever-timers-fail.md
  .changeset/eleven-scissors-joke.md
  packages/design-tokens-definition/CHANGELOG.md
  packages/design-tokens-definition/package.json
  packages/tokens-lib/CHANGELOG.md
  packages/tokens-lib/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add color sample tokens (#916)
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add select tokens (#906)
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add document tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: replace text underline offset from purmerend to basis theme
  proprietary/basis-design-tokens/figma/basis.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: add textarea tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: simulate `focus` and `focus-visible` state at the same time
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add separator tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Apply suggestions from code review
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add textbox tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add paragraph tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht pagination tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: fix fieldset legend bold text
  .changeset/shaggy-donkeys-hear.md
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: markdownlint, prettier --check

Apply suggestions from code review
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: fix things after rebasing
  packages/storybook/src/theme-builder/ColorPicker.stories.tsx
  packages/storybook/src/theme-builder/FontFamily.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
