Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add stories to config
  proprietary/basic-theme-design-tokens/src/config.json
Due: none

style: add needed button styling
  proprietary/basic-theme-design-tokens/src/component/utrecht/button.tokens.json
Due: none

style: change fontsize
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-5.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-6.tokens.json
Due: none

style: use basic-theme design tokens for button
  proprietary/basic-theme-design-tokens/src/component/utrecht/button.tokens.json
Due: none

style: add color token
  proprietary/basic-theme-design-tokens/src/brand/basic-theme/color.tokens.json
Due: none

style: change button hover color
  proprietary/basic-theme-design-tokens/src/component/utrecht/button.tokens.json
Due: none

refactor: change color token
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-5.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-6.tokens.json
Due: none

feat: add color tokens
  proprietary/basic-theme-design-tokens/src/brand/basic-theme/color.tokens.json
Due: none

refactor: add color tokens to alert component
  proprietary/basic-theme-design-tokens/src/component/utrecht/alert.tokens.json
Due: none

feat: add font-family token
  proprietary/basic-theme-design-tokens/src/component/utrecht/alert.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-5.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/heading-6.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/paragraph.tokens.json
Due: none

style: add color tokens to link
  proprietary/basic-theme-design-tokens/src/component/utrecht/link.tokens.json
Due: none

docs(release): design system packages
  .changeset/2024-08-15--jeff.md
  .changeset/age-cup-night.md
  .changeset/appel-banaan-kiwi.md
  .changeset/charm-slump-rubbish.md
  .changeset/date-plain-sugar.md
  .changeset/duke-equal-crash.md
  .changeset/elaborate-insist-monkey.md
  .changeset/enfix-witness-earthflax.md
  .changeset/gap-governor-fiction.md
  .changeset/grave-think-goat.md
  .changeset/guide-musical-bloodshed.md
  .changeset/humor-truck-chord.md
  .changeset/koffie-thee-water.md
  .changeset/kwik-kwek-kwak.md
  .changeset/leave-place-negligence.md
  .changeset/paragraph-choose-mountain.md
  .changeset/quaint-clearance-official.md
  .changeset/shoot-forum-era.md
  .changeset/spokesperson-tree-offer.md
  .changeset/tear-injury-mold.md
  .changeset/tough-trainers-listen.md
  .changeset/wee-drie-cee.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@b2b84b65b930c995ee9a2f5de2032f781a500e2b 🚀
  project.json
Due: none

chore: fix changeset syntax
  .changeset/last-perfume-momentum.md
Due: markdownlint, prettier --check

ci: check changeset in PRs
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

changed prefix for active and current
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add basis-design-tokens
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/basis-design-tokens/LICENSE.md
  proprietary/basis-design-tokens/README.md
  proprietary/basis-design-tokens/documentation/color.mdx
  proprietary/basis-design-tokens/documentation/components.stories.ts
  proprietary/basis-design-tokens/documentation/design-tokens.mdx
  proprietary/basis-design-tokens/documentation/readme.mdx
  proprietary/basis-design-tokens/figma/basis.tokens.json
  proprietary/basis-design-tokens/package.json
  proprietary/basis-design-tokens/src/config.json
  proprietary/basis-design-tokens/src/index.scss
  proprietary/basis-design-tokens/style-dictionary.config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: poep
  packages/storybook/config/ThemeDecorator.tsx
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme styling/voorbeeld-theme.ts
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step0.stories.tsx
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step2.stories.tsx
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-builder-step3.stories.tsx
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-styling/hoekschewaard-theme.ts
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-styling/rijkshuisstijl-theme.ts
  packages/voorbeeld-design-tokens/documentation/theme-builder/theme-styling/voorbeeld-theme.ts
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/basic-theme-design-tokens/figma/basic-theme.tokens.json
  proprietary/basic-theme-design-tokens/package.json
  proprietary/basic-theme-design-tokens/src/config.json
  proprietary/basic-theme-design-tokens/style-dictionary.config.js
  proprietary/basic-theme-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add hoeksche waard design tokens folder
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/LICENSE.md
  proprietary/hoeksche-waard-design-tokens/README.md
  proprietary/hoeksche-waard-design-tokens/documentation/color.mdx
  proprietary/hoeksche-waard-design-tokens/documentation/components.stories.ts
  proprietary/hoeksche-waard-design-tokens/documentation/design-tokens.mdx
  proprietary/hoeksche-waard-design-tokens/documentation/readme.mdx
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/hoeksche-waard-design-tokens/src/config.json
  proprietary/hoeksche-waard-design-tokens/src/index.scss
  proprietary/hoeksche-waard-design-tokens/style-dictionary.config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: align sidenav tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Align todo tokens with Robbert
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/bim-bam-bom.md
Due: markdownlint, prettier --check

skip-link changes
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Removed active text-decotation
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add logo tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: update basis thema
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

refactor: poep #2
  proprietary/basic-theme-design-tokens/figma/basic-theme.tokens.json
Due: none

add progress list tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add progress list to do tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none
