Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Add custom override for openforms-title to set font-size when a subtitle is present
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for openforms-form-navigation buttons and icons
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for openforms-title in card header
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom override to increase max width of input field for woonplaatsInwonerAanvragerPrefill
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles to flatpickr calendar for better accessibility
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for openforms-summary component to align with design tokens
  proprietary/leiden-design-tokens/src/index.scss
Due: none

style: outline-offset token for button
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: outline-offset token for button - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/button-outline-offset.md
Due: markdownlint, prettier --check

add changeset
  .changeset/button-outline-offset-voorbeeld.md
Due: markdownlint, prettier --check

style: outline-offset token for button (#1307)
  .changeset/button-outline-offset.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

style: outline-offset token for button - Voorbeeld (#1308)
  .changeset/button-outline-offset-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Font weight change
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

docs(release): design system packages
  .changeset/button-outline-offset-voorbeeld.md
  .changeset/button-outline-offset.md
  .changeset/mean-zoos-heal.md
  .changeset/ten-apricots-carry.md
  .changeset/witty-items-destroy.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1309)
  .changeset/button-outline-offset-voorbeeld.md
  .changeset/button-outline-offset.md
  .changeset/mean-zoos-heal.md
  .changeset/ten-apricots-carry.md
  .changeset/witty-items-destroy.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

pointer target ingewisseld voor 2.5rem
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Add responsive padding for openforms-app component on smaller screens
  proprietary/leiden-design-tokens/src/index.scss
Due: none

toch maar weer terug
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: description list tokens amsterdam community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/ams-description-list.md
Due: markdownlint, prettier --check

style: description list tokens amsterdam community component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/amsterdam-description-list-voorbeeld.md
Due: markdownlint, prettier --check

style: description list tokens amsterdam community component (#1310)
  .changeset/ams-description-list.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

style: description list tokens amsterdam community component - Voorbeeld (#1311)
  .changeset/amsterdam-description-list-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Add custom styles for openforms-children and form-field components with an error to align with design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

style: calender tokens amsterdam community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

inline-size naar 328
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/ams-calendar-tokens.md
Due: markdownlint, prettier --check

remove todo tokenset
  packages/start-design-tokens/figma/start.tokens.json
Due: none

update changeset
  .changeset/ams-calendar-tokens.md
Due: markdownlint, prettier --check

fix changeset
  .changeset/ams-calendar-tokens.md
Due: markdownlint, prettier --check

style: Modal Dialog tokens amsterdam community component (#1314)
  .changeset/ams-calendar-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

style: Modal Dialog tokens amsterdam community component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/ams-calendar-tokens-voorbeeld.md
Due: markdownlint, prettier --check

style: Modal Dialog tokens amsterdam community component - Voorbeeld (#1315)
  .changeset/ams-calendar-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: rename amsterdam heading inverse color token
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Fix duplicate semicolon in blockquote padding for openforms-formio-content
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Fix: duplicate selector ".openforms-formio-content table"
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Remove commented-out styles for openforms-fieldset to clean up the codebase
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
