Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: add enschede theme
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/enschede-design-tokens/CHANGELOG.md
  proprietary/enschede-design-tokens/LICENSE.md
  proprietary/enschede-design-tokens/README.md
  proprietary/enschede-design-tokens/documentation/color.mdx
  proprietary/enschede-design-tokens/documentation/components.stories.ts
  proprietary/enschede-design-tokens/documentation/design-tokens.mdx
  proprietary/enschede-design-tokens/documentation/readme.mdx
  proprietary/enschede-design-tokens/package.json
  proprietary/enschede-design-tokens/src/config.json
  proprietary/enschede-design-tokens/src/font.scss
  proprietary/enschede-design-tokens/src/index.scss
  proprietary/enschede-design-tokens/src/tokens.json
  proprietary/enschede-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

add color token
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: migrate to pnpm 11
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: remove workaround for npm audit endpoint (no longer needed with pnpm 11 as the default package manager)
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

docs: nieuwe figma tokens werkwijze
  packages/storybook/config/preview.ts
  pnpm-lock.yaml
  proprietary/enschede-design-tokens/documentation/changelog.mdx
  proprietary/enschede-design-tokens/documentation/color.mdx
  proprietary/enschede-design-tokens/documentation/component-tokens.stories.ts
  proprietary/enschede-design-tokens/documentation/components.stories.ts
  proprietary/enschede-design-tokens/documentation/design-tokens.mdx
  proprietary/enschede-design-tokens/documentation/typography.mdx
  proprietary/enschede-design-tokens/figma/enschede.tokens.json
  proprietary/enschede-design-tokens/package.json
  proprietary/enschede-design-tokens/src/_responsive.scss
  proprietary/enschede-design-tokens/src/custom.scss
  proprietary/enschede-design-tokens/src/font.js
  proprietary/enschede-design-tokens/src/font.scss
  proprietary/enschede-design-tokens/src/tokens.json
  proprietary/enschede-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

add reference from *.marker.color to *.color
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add enschede theme (#1498)
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/enschede-design-tokens/CHANGELOG.md
  proprietary/enschede-design-tokens/LICENSE.md
  proprietary/enschede-design-tokens/README.md
  proprietary/enschede-design-tokens/documentation/changelog.mdx
  proprietary/enschede-design-tokens/documentation/color.mdx
  proprietary/enschede-design-tokens/documentation/component-tokens.stories.ts
  proprietary/enschede-design-tokens/documentation/components.stories.ts
  proprietary/enschede-design-tokens/documentation/design-tokens.mdx
  proprietary/enschede-design-tokens/documentation/readme.mdx
  proprietary/enschede-design-tokens/documentation/typography.mdx
  proprietary/enschede-design-tokens/figma/enschede.tokens.json
  proprietary/enschede-design-tokens/package.json
  proprietary/enschede-design-tokens/src/_responsive.scss
  proprietary/enschede-design-tokens/src/config.json
  proprietary/enschede-design-tokens/src/custom.scss
  proprietary/enschede-design-tokens/src/font.js
  proprietary/enschede-design-tokens/src/index.scss
  proprietary/enschede-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset for enschede
  .changeset/chilled-cycles-shave.md
Due: markdownlint, prettier --check

docs: add changeset for enschede (#1499)
  .changeset/chilled-cycles-shave.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/chilled-cycles-shave.md
  .changeset/dark-side-shadow.md
  .changeset/new-action-tokens.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/enschede-design-tokens/CHANGELOG.md
  proprietary/enschede-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1489)
  .changeset/chilled-cycles-shave.md
  .changeset/dark-side-shadow.md
  .changeset/new-action-tokens.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/enschede-design-tokens/CHANGELOG.md
  proprietary/enschede-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: listbox tokens utrecht community component
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/list-the-box.md
Due: markdownlint, prettier --check

rem ipv px
  packages/ma-design-tokens/src/tokens.json
Due: none

chore: override shell-quote to 1.8.4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

style: color sample update
  packages/ma-design-tokens/src/tokens.json
Due: none

style: listbox tokens utrecht community component (#1500)
  .changeset/list-the-box.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

style: listbox token value update
  packages/ma-design-tokens/src/tokens.json
Due: none

style/color-sample-update
  packages/ma-design-tokens/src/tokens.json
Due: none

style: extend and adjust color sample
  packages/ma-design-tokens/src/tokens.json
Due: none

hard-coded wit
  packages/ma-design-tokens/src/tokens.json
Due: none

ci: setup zizmor
  .github/workflows/zizmor.yml
Due: none

border radius van checkbox aangepast van 0 naar sm (4px)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: groningen changelog 14.5.0 (#1490)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Placeholder for Candidate Ordered List design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add rhc-logo for regression tests
  packages/theme-toolkit/src/component-stories-rhc.tsx
  packages/voorbeeld-design-tokens/documentation/Logo/logo.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update group for logo
  packages/theme-toolkit/src/component-stories-rhc.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add rhc-logo for regression tests (#1510)
  packages/theme-toolkit/src/component-stories-rhc.tsx
  packages/voorbeeld-design-tokens/documentation/Logo/logo.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: common tokens estafettemodel
  packages/ma-design-tokens/src/tokens.json
Due: none
