Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Add custom overrides for openforms fieldset components
  proprietary/leiden-design-tokens/src/index.scss
Due: none

chore: upgrade react to 19
  packages/basis-design-tokens/package.json
  packages/components-react/design-tokens-table-react/package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add changeset
  .changeset/mean-zoos-heal.md
  .changeset/ten-apricots-carry.md
  .changeset/witty-items-destroy.md
Due: markdownlint, prettier --check

chore: add missing devDependency
  packages/basis-design-tokens/package.json
  packages/ma-design-tokens/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
  proprietary/voorne-aan-zee-design-tokens/package.json
  proprietary/zaanstad-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: split up stories that were too large for chromatic
  packages/basis-design-tokens/documentation/components.stories.ts
  packages/ma-design-tokens/documentation/components.stories.ts
  packages/voorbeeld-design-tokens/documentation/components.stories.ts
  proprietary/purmerend-design-tokens/documentation/components.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/components.stories.ts
  proprietary/zaanstad-design-tokens/documentation/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix importing stories from packages
  packages/storybook/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade Node.js to 24
  .nvmrc
Due: none

chore: increase allowed Node.js version range to 24-25
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: upgrade @types/node to match the used Node.js version
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

ci: cleanup workaround
  .github/workflows/publish.yml
Due: none

test: update test to match new value after Node upgrade
  packages/tokens-lib/src/color-util.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: description list tokens amsterdam community component 
  packages/start-design-tokens/figma/start.tokens.json
Due: none

order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

todo token
  packages/start-design-tokens/figma/start.tokens.json
Due: none

todo todo
  packages/start-design-tokens/figma/start.tokens.json
Due: none

color/todo/component-switch
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

nogmaals
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: calendar tokens redesign utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: update AMS Page Header with Custom Logo
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/tokens-lib/package.json
  packages/voorbeeld-design-tokens/documentation/page-header/ams-page-header.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

next
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fixen
  packages/start-design-tokens/figma/start.tokens.json
Due: none

border-color
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Add custom styles for openforms-form-navigation to align with design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

style: date input tokens amsterdam community component 
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: remove unneeded forwardref
  packages/voorbeeld-design-tokens/documentation/page-header/ams-page-header.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

min-inline-size ipv width
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: update AMS Page Header with Custom Logo (#1304)
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/tokens-lib/package.json
  packages/voorbeeld-design-tokens/documentation/page-header/ams-page-header.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
