Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

build: remove generated pages from Storybook
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: patch updates
  .ncurc.patch.js
  package.json
  packages/playroom/package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/dinkelland-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Demo
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Samenwerkdag
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Focus bg color opvallender
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Focus bg en border bij read-only
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Help wanted opnemen in bieb
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Backdrop, Toolbar button, en Modal dialog tokens toegevoegd
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Heading font-size foutje hersteld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Help wanted tokens toegevoegd
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Testje
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add ridderkerk brand tokens
  pnpm-lock.yaml
  proprietary/ridderkerk-design-tokens/LICENSE.md
  proprietary/ridderkerk-design-tokens/README.md
  proprietary/ridderkerk-design-tokens/documentation/color.stories.mdx
  proprietary/ridderkerk-design-tokens/documentation/components.stories.mdx
  proprietary/ridderkerk-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/ridderkerk-design-tokens/documentation/readme.stories.mdx
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/src/brand/ridderkerk/color.tokens.json
  proprietary/ridderkerk-design-tokens/src/brand/ridderkerk/typography.tokens.json
  proprietary/ridderkerk-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/ridderkerk-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/ridderkerk-design-tokens/src/config.json
  proprietary/ridderkerk-design-tokens/src/font.js
  proprietary/ridderkerk-design-tokens/src/font.scss
  proprietary/ridderkerk-design-tokens/src/index.scss
  proprietary/ridderkerk-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: add placeholder figma.tokens.json file for Groningen
  proprietary/groningen-design-tokens/figma/figma.tokens.json
Due: none

chore: copy Voorbeeld thema tokens
  proprietary/groningen-design-tokens/figma/figma.tokens.json
Due: none

Placeholder color meer contrast
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Placeholder color meer contrast (#478)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

brand en common tokens voor groningen aangepast (+heading en paragaph component)
  proprietary/groningen-design-tokens/figma/figma.tokens.json
Due: none

refactor: updated tokens for Dinkelland
  proprietary/dinkelland-design-tokens/src/brand/dinkelland/color.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/card-wrapper.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/checkbox.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/download-card.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/logo.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/navigation.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/pagination.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/select.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/table-wrapper.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/tabs.tokens.json
  proprietary/dinkelland-design-tokens/src/component/conduction/tooltip.tokens.json
  proprietary/dinkelland-design-tokens/src/component/open-catalogi/rating.tokens.json
  proprietary/dinkelland-design-tokens/src/component/utrecht/badge.tokens.json
  proprietary/dinkelland-design-tokens/src/component/utrecht/breadcrumb.tokens.json
  proprietary/dinkelland-design-tokens/src/component/utrecht/extra-tokens/breadcrumb.tokens.json
  proprietary/dinkelland-design-tokens/src/component/utrecht/extra-tokens/page-footer.tokens.json
  proprietary/dinkelland-design-tokens/src/component/utrecht/extra-tokens/radio-button.tokens.json
  proprietary/dinkelland-design-tokens/src/component/utrecht/extra-tokens/table.tokens.json
  proprietary/dinkelland-design-tokens/src/component/utrecht/radio-button.tokens.json
  proprietary/dinkelland-design-tokens/src/component/utrecht/separator.tokens.json
Due: none
