Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

toegevoegd icon only denhaag + den haag side nav aangepast
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

conform changelog 15.0.0 side nav den haag tokens anagepast en icon button toegevoegd
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

style: card-as-link
  packages/start-design-tokens/figma/start.tokens.json
Due: none

WIP
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
Due: none

docs(release): design system packages
  .changeset/side-nav-tokens.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

kleuren veranderd: success color bg, side nav seperator
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Kleuren utrecht calendar aangepast
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

preheading kleur aangepast
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

chore: configure dependabot groups
  .github/dependabot.yml
Due: none

chore: upgrade pnpm to 11.15.1
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: extend and adjust color sample
  packages/ma-design-tokens/src/tokens.json
Due: none

hard-coded wit
  packages/ma-design-tokens/src/tokens.json
Due: none

small fix to run theme-switcher for windows environment, add rhc-alert to themes
  packages/components-react/design-tokens-table-react/package.json
  packages/components-react/design-tokens-table-react/tsconfig.build.json
  packages/design-tokens-definition/src/collection.ts
  packages/theme-switcher/package.json
  packages/theme-toolkit/src/component-stories-rhc.tsx
  packages/voorbeeld-design-tokens/documentation/alert/rhc-alert.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

tussentijds opslaan
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: placeholder for Candidate Note design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

update from 14.3.0
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

update
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: move vercel configuration to vercel.json
  packages/storybook/vercel.json
Due: none

- Theme changes for Gemeente Enschede.
  proprietary/enschede-design-tokens/figma/enschede.tokens.json
Due: none

ci: use "Other" as framework preset
  packages/storybook/vercel.json
Due: none

pas tokens van 'default' aan naar 'info'
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: configure prettier to format pnpm-workspace.yaml the same as pnpm CLI does
  pnpm-workspace.yaml
  prettier.config.cjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: convert prettier config to ESM
  prettier.config.mjs
Due: none

update na design check
  packages/start-design-tokens/figma/start.tokens.json
Due: none

change task body space from inline to block
  packages/start-design-tokens/figma/start.tokens.json
Due: none

adjust value size token to stretch
  packages/start-design-tokens/figma/start.tokens.json
Due: none

build: fail the test command if it fails
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: update start theme fonts to v5.3.0
  packages/start-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Slot toegepast op componenten
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: start theme split up Visual regression test in 3 groups
  packages/start-design-tokens/documentation/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Placeholder for Candidate Unordered List design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: start-design-tokens dark-mode
  packages/start-design-tokens/documentation/component-tokens.stories.ts
  packages/start-design-tokens/src/tokens.json
  packages/start-design-tokens/style-dictionary.mjs
  packages/storybook/config/preview.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add sonarcloud cpd exclusions for test and story files
  .sonarcloud.properties
Due: none

TEST: Change default font family to Roboto
  packages/ma-design-tokens/src/tokens.json
Due: none
