Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

add description for image
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Update start.tokens.json
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Update voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add ams image tokens (#1128)
  .changeset/imagine-image-community.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

feat: add ams image tokens - Voorbeeld (#1129)
  .changeset/imagine-image-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/button-action-voorbeeld.md
  .changeset/button-to-action.md
  .changeset/imagine-image-community.md
  .changeset/imagine-image-voorbeeld.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: rename denhaag-sidenav to denhaag-side-navigation
  .changeset/forty-apricots-fail.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Waarde van Spotlight Section (Note) border-width aangepast
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/note-border-width.md
Due: markdownlint, prettier --check

Waarde van Spotlight Section (Note) border-width aangepast - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/note-border-voorbeeld.md
Due: markdownlint, prettier --check

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

Waarde van Spotlight Section (Note) border-width aangepast (#1131)
  .changeset/note-border-width.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

Waarde van Spotlight Section (Note) border-width aangepast - Voorbeeld (#1132)
  .changeset/note-border-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

ci: update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: link description bij juiste token
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: link description bij juiste token - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/desc-link-update.md
Due: markdownlint, prettier --check

add changeset
  .changeset/desc-link-voorbeeld.md
Due: markdownlint, prettier --check

fix: link description bij juiste token (#1135)
  .changeset/desc-link-update.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

fix: link description bij juiste token - Voorbeeld (#1136)
  .changeset/desc-link-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/button-action-voorbeeld.md
  .changeset/button-to-action.md
  .changeset/desc-link-update.md
  .changeset/desc-link-voorbeeld.md
  .changeset/imagine-image-community.md
  .changeset/imagine-image-voorbeeld.md
  .changeset/note-border-voorbeeld.md
  .changeset/note-border-width.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: margin tokens toegevoegd voor meerdere componenten
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: margin tokens toegevoegd voor meerdere componenten
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/margin-token-components.md
Due: markdownlint, prettier --check

add changeset
  .changeset/margin-token-voorbeeld.md
Due: markdownlint, prettier --check

feat: margin tokens toegevoegd voor meerdere componenten (#1138)
  .changeset/margin-token-components.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

feat: margin tokens toegevoegd voor meerdere componenten - Voorbeeld (#1139)
  .changeset/margin-token-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

feat: add data list design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

juiste schrijfwijze doorgevoerd
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add ma navigation-drawer tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/ma-navigation-drawer.md
Due: markdownlint, prettier --check

add changeset
  .changeset/data-summary-tokens.md
Due: markdownlint, prettier --check

feat: add data summary design tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Create data-summary-voorbeeld.md
  .changeset/data-summary-voorbeeld.md
Due: markdownlint, prettier --check

docs: naam zoals deze hoort
  .changeset/data-summary-tokens.md
Due: markdownlint, prettier --check

feat: add data summary design tokens (#1140)
  .changeset/data-summary-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

feat: add data summary design tokens - Voorbeeld (#1142)
  .changeset/data-summary-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
