Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/dso-toolkit-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: start of design tokens for Nijmegen
  package-lock.json
  packages/storybook/config/preview.js
  proprietary/nijmegen-design-tokens/LICENSE.md
  proprietary/nijmegen-design-tokens/README.md
  proprietary/nijmegen-design-tokens/documentation/color.stories.mdx
  proprietary/nijmegen-design-tokens/documentation/components.stories.mdx
  proprietary/nijmegen-design-tokens/documentation/readme.stories.mdx
  proprietary/nijmegen-design-tokens/documentation/typography.stories.mdx
  proprietary/nijmegen-design-tokens/package.json
  proprietary/nijmegen-design-tokens/src/_responsive.scss
  proprietary/nijmegen-design-tokens/src/brand/nijmegen/color.tokens.json
  proprietary/nijmegen-design-tokens/src/brand/nijmegen/typography.tokens.json
  proprietary/nijmegen-design-tokens/src/common/utrecht/feedback.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/emphasis.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/font-label.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/form-field.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/heading-5.token.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/heading-6.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/ordered-list.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/unordered-list.tokens.json
  proprietary/nijmegen-design-tokens/src/config.json
  proprietary/nijmegen-design-tokens/src/custom.scss
  proprietary/nijmegen-design-tokens/src/font.js
  proprietary/nijmegen-design-tokens/src/index.scss
  proprietary/nijmegen-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/dso-toolkit-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fixup! feat: Rijkshuisstijl design tokens
  proprietary/duo-design-tokens/package.json
  proprietary/duo-design-tokens/src/component/utrecht/button.style-dictionary.json
  proprietary/duo-design-tokens/src/config.json
  proprietary/duo-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

WIP
  proprietary/nijmegen-design-tokens/src/brand/nijmegen/color.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/form-toggle.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/ordered-list.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/page-header.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/pagination.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/nijmegen-design-tokens/src/component/utrecht/unordered-list.tokens.json
  proprietary/nijmegen-design-tokens/src/config.json
Due: none

Borne WIP
  packages/storybook/config/preview.js
  proprietary/borne-design-tokens/documentation/typography.stories.mdx
  proprietary/borne-design-tokens/package.json
  proprietary/borne-design-tokens/src/.npmignore
  proprietary/borne-design-tokens/src/config.json
  proprietary/borne-design-tokens/src/custom.scss
  proprietary/borne-design-tokens/src/font.css
  proprietary/borne-design-tokens/src/font.js
  proprietary/borne-design-tokens/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: design tokens for Gemeente Hoorn
  package-lock.json
  packages/storybook/config/preview.js
  proprietary/hoorn-design-tokens/LICENSE.md
  proprietary/hoorn-design-tokens/README.md
  proprietary/hoorn-design-tokens/documentation/color.stories.mdx
  proprietary/hoorn-design-tokens/documentation/components.stories.mdx
  proprietary/hoorn-design-tokens/documentation/readme.stories.mdx
  proprietary/hoorn-design-tokens/package.json
  proprietary/hoorn-design-tokens/src/_responsive.scss
  proprietary/hoorn-design-tokens/src/brand/hoorn/color.tokens.json
  proprietary/hoorn-design-tokens/src/brand/hoorn/typography.tokens.json
  proprietary/hoorn-design-tokens/src/common/utrecht/feedback.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/form-field-description.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/form-field.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/form-input.tokensx.json
  proprietary/hoorn-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/heading-5.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/heading-6.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/ordered-list.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/page-footer.tokensx.json
  proprietary/hoorn-design-tokens/src/component/utrecht/page-header.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/separator.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/table.tokensx.json
  proprietary/hoorn-design-tokens/src/component/utrecht/unordered-list.tokens.json
  proprietary/hoorn-design-tokens/src/config.json
  proprietary/hoorn-design-tokens/src/custom.scss
  proprietary/hoorn-design-tokens/src/font.js
  proprietary/hoorn-design-tokens/src/index.scss
  proprietary/hoorn-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat: design tokens for Gemeente Hoorn
  proprietary/hoorn-design-tokens/src/brand/hoorn/color.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/hoorn-design-tokens/src/component/utrecht/table.tokensx.json
  proprietary/hoorn-design-tokens/src/config.json
Due: none

feat: theme switcher web component
  documentation/denhaag/config.json
  documentation/utrecht/config.json
  package-lock.json
  packages/.npmpackagejsonlintrc.json
  packages/theme-switcher/package.json
  packages/theme-switcher/src/generate-json.js
  packages/theme-switcher/src/index.js
  proprietary/amsterdam-design-tokens/src/config.json
  proprietary/bodegraven-reeuwijk-design-tokens/src/config.json
  proprietary/borne-design-tokens/src/config.json
  proprietary/drechterland-design-tokens/src/config.json
  proprietary/dso-toolkit-design-tokens/src/config.json
  proprietary/duiven-design-tokens/src/config.json
  proprietary/enkhuizen-design-tokens/src/config.json
  proprietary/groningen-design-tokens/src/config.json
  proprietary/haarlemmermeer-design-tokens/src/config.json
  proprietary/horstaandemaas-design-tokens/src/config.json
  proprietary/leidschendam-voorburg-design-tokens/src/config.json
  proprietary/nijmegen-design-tokens/src/config.json
  proprietary/noordoostpolder-design-tokens/src/config.json
  proprietary/rotterdam-design-tokens/src/config.json
  proprietary/stedebroec-design-tokens/src/config.json
  proprietary/tilburg-design-tokens/src/config.json
  proprietary/venray-design-tokens/src/config.json
  proprietary/vught-design-tokens/src/config.json
  proprietary/westervoort-design-tokens/src/config.json
  proprietary/zevenaar-design-tokens/src/config.json
  proprietary/zwolle-design-tokens/src/config.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@e9a1b8874a216bf3e02917e23cfb9a689a8918f0 🚀
  iframe.html
  main.4b0f15b6.iframe.bundle.js
  main.4b0f15b6.iframe.bundle.js.LICENSE.txt
  main.4b0f15b6.iframe.bundle.js.map
  main.ab413884.iframe.bundle.js
  main.ab413884.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/dso-toolkit-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: pre-select current theme in theme switcher
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@2eb8756cedf01f3cb5c36f362c640a327cca3583 🚀
  iframe.html
  main.4b0f15b6.iframe.bundle.js
  main.4b0f15b6.iframe.bundle.js.map
  main.d4146105.iframe.bundle.js
  main.d4146105.iframe.bundle.js.LICENSE.txt
  main.d4146105.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build(deps-dev): update to stable release of style-dictionary
  package-lock.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/dso-toolkit-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: remove unused tokens
  proprietary/dso-toolkit-design-tokens/src/common/utrecht/space.tokens.json
  proprietary/dso-toolkit-design-tokens/src/component/utrecht/form-field.tokens.json
  proprietary/dso-toolkit-design-tokens/src/component/utrecht/textbox.tokens.json
Due: none

feat: provide array in `index.json` and object in `tokens.json`
  proprietary/amsterdam-design-tokens/documentation/color.stories.mdx
  proprietary/bodegraven-reeuwijk-design-tokens/documentation/color.stories.mdx
  proprietary/borne-design-tokens/documentation/color.stories.mdx
  proprietary/drechterland-design-tokens/documentation/color.stories.mdx
  proprietary/dso-toolkit-design-tokens/documentation/color.stories.mdx
  proprietary/dso-toolkit-design-tokens/documentation/typography.stories.mdx
  proprietary/duiven-design-tokens/documentation/color.stories.mdx
  proprietary/enkhuizen-design-tokens/documentation/color.stories.mdx
  proprietary/groningen-design-tokens/documentation/color.stories.mdx
  proprietary/haarlemmermeer-design-tokens/documentation/color.stories.mdx
  proprietary/horstaandemaas-design-tokens/documentation/color.stories.mdx
  proprietary/leidschendam-voorburg-design-tokens/documentation/color.stories.mdx
  proprietary/nijmegen-design-tokens/documentation/color.stories.mdx
  proprietary/nijmegen-design-tokens/documentation/typography.stories.mdx
  proprietary/noordoostpolder-design-tokens/documentation/color.stories.mdx
  proprietary/rotterdam-design-tokens/documentation/color.stories.mdx
  proprietary/stedebroec-design-tokens/documentation/color.stories.mdx
  proprietary/tilburg-design-tokens/documentation/color.stories.mdx
  proprietary/venray-design-tokens/documentation/color.stories.mdx
  proprietary/vught-design-tokens/documentation/color.stories.mdx
  proprietary/westervoort-design-tokens/documentation/color.stories.mdx
  proprietary/zevenaar-design-tokens/documentation/color.stories.mdx
  proprietary/zwolle-design-tokens/documentation/color.stories.mdx
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: DSO Toolkit disclaimer
  proprietary/dso-toolkit-design-tokens/README.md
  proprietary/dso-toolkit-design-tokens/documentation/readme.stories.mdx
Due: markdownlint, prettier --check

feat: design tokens table
  packages/theme-toolkit/src/ColorExample.jsx
  packages/theme-toolkit/src/DesignTokensTable.jsx
  proprietary/amsterdam-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/bodegraven-reeuwijk-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/borne-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/drechterland-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/dso-toolkit-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/duiven-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/enkhuizen-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/groningen-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/haarlemmermeer-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/horstaandemaas-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/leidschendam-voorburg-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/nijmegen-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/noordoostpolder-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/rotterdam-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/stedebroec-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/tilburg-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/venray-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/vught-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/westervoort-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/zevenaar-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/zwolle-design-tokens/documentation/design-tokens.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: update to Node.js 16.11 and npm 8
  .github/workflows/continuous-deployment.yml
  .nvmrc
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/themes@56fa9a810bd74e1820f799e18187d31f0bf130ed 🚀
  0.2880787b.iframe.bundle.js
  0.3ad94757.iframe.bundle.js
  4.4af378b3.iframe.bundle.js
  4.4af378b3.iframe.bundle.js.map
  4.5cb0710b.iframe.bundle.js
  4.5cb0710b.iframe.bundle.js.LICENSE.txt
  4.5cb0710b.iframe.bundle.js.map
  5.e4f86fd8.iframe.bundle.js
  5.f35d3cb9.iframe.bundle.js
  6.139fef23.iframe.bundle.js
  6.139fef23.iframe.bundle.js.LICENSE.txt
  6.139fef23.iframe.bundle.js.map
  6.14902fa8.iframe.bundle.js
  6.14902fa8.iframe.bundle.js.map
  7.d4769051.iframe.bundle.js
  7.d4769051.iframe.bundle.js.map
  7.e8c11b70.iframe.bundle.js
  7.e8c11b70.iframe.bundle.js.LICENSE.txt
  7.e8c11b70.iframe.bundle.js.map
  8.547c63c6.iframe.bundle.js
  8.7cfccba0.iframe.bundle.js
  iframe.html
  main.0233b04e.iframe.bundle.js
  main.0233b04e.iframe.bundle.js.LICENSE.txt
  main.0233b04e.iframe.bundle.js.map
  main.d4146105.iframe.bundle.js
  main.d4146105.iframe.bundle.js.map
  runtime~main.502398b0.iframe.bundle.js
  runtime~main.909184b1.iframe.bundle.js
  vendors~main.1731d96d.iframe.bundle.js
  vendors~main.1731d96d.iframe.bundle.js.LICENSE.txt
  vendors~main.1731d96d.iframe.bundle.js.map
  vendors~main.e477bb7d.iframe.bundle.js
  vendors~main.e477bb7d.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `target` and `themes` attributes to theme-switcher
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: include Theme Switcher docs in Storybook
  documentation/theme-switcher.stories.mdx
  packages/theme-switcher/README.md
  packages/theme-switcher/src/index.html
Due: markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@ce6fe0066b22ea6000fb2942c8fed007a988599e 🚀
  0.3ad94757.iframe.bundle.js
  0.770f8639.iframe.bundle.js
  4.5c934297.iframe.bundle.js
  4.5c934297.iframe.bundle.js.LICENSE.txt
  4.5c934297.iframe.bundle.js.map
  4.5cb0710b.iframe.bundle.js
  4.5cb0710b.iframe.bundle.js.map
  5.70d6a496.iframe.bundle.js
  5.e4f86fd8.iframe.bundle.js
  6.139fef23.iframe.bundle.js
  6.139fef23.iframe.bundle.js.map
  6.25cee7b9.iframe.bundle.js
  6.25cee7b9.iframe.bundle.js.LICENSE.txt
  6.25cee7b9.iframe.bundle.js.map
  7.5fae4f66.iframe.bundle.js
  7.5fae4f66.iframe.bundle.js.LICENSE.txt
  7.5fae4f66.iframe.bundle.js.map
  7.e8c11b70.iframe.bundle.js
  7.e8c11b70.iframe.bundle.js.map
  8.7cfccba0.iframe.bundle.js
  8.e3d4ec27.iframe.bundle.js
  iframe.html
  main.0233b04e.iframe.bundle.js
  main.0233b04e.iframe.bundle.js.map
  main.cc3e1a75.iframe.bundle.js
  main.cc3e1a75.iframe.bundle.js.LICENSE.txt
  main.cc3e1a75.iframe.bundle.js.map
  runtime~main.909184b1.iframe.bundle.js
  runtime~main.e82a5f60.iframe.bundle.js
  vendors~main.1731d96d.iframe.bundle.js
  vendors~main.1731d96d.iframe.bundle.js.map
  vendors~main.cf097869.iframe.bundle.js
  vendors~main.cf097869.iframe.bundle.js.LICENSE.txt
  vendors~main.cf097869.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: templates for page header/content/footer
  packages/theme-toolkit/src/components.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update theme JSON generation script
  packages/theme-switcher/src/generate-json.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: install patch updates
  package-lock.json
  package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/dso-toolkit-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install minor updates
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install some major updates
  package-lock.json
  package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/dso-toolkit-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/dso-toolkit-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets
