Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

style: task list tokens ma (#1394)
  .changeset/ma-task-list.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

ci: increase specificity for codecov glob
  .github/workflows/publish.yml
Due: none

task: Verwijder oud voorbeeld.tokens-old.json bestand
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens-old.json
Due: none

changelog-edits/12.1.0
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

task: Verwijder oud voorbeeld.tokens-old.json bestand (#1398)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens-old.json
Due: none

changelog-edits/12.1.0 (#1399)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

ci: ensure node_modules is retrieved from cache, if available
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

ci: upgrade pnpm/action-setup to v5 and actions/setup-node to latest
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

Update 12.1.0
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

style: root tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/thin-crews-nail.md
Due: markdownlint, prettier --check

docs: update leiden design tokens to nl design system figma changelog 12.1.0 (#1401)
  .changeset/thin-crews-nail.md
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: markdownlint, prettier --check

ci: opt in to pnpm v11 for pnpm audit with an environment variable
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

fix: added old renderer logic for border under title
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: adjust margin-inline for blockquote
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: update checkbox styling for unchecked state
  proprietary/leiden-design-tokens/src/index.scss
Due: none

docs: add changeset groningen for release 2.0.0
  .changeset/slimy-humans-warn.md
Due: markdownlint, prettier --check

docs: add changeset groningen for release 2.0.0 (#1406)
  .changeset/slimy-humans-warn.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/basis-tokens-none.md
  .changeset/cuddly-onions-beg.md
  .changeset/ma-task-list.md
  .changeset/sixty-sloths-type.md
  .changeset/slimy-humans-warn.md
  .changeset/thin-crews-nail.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
  proprietary/leiden-design-tokens/CHANGELOG.md
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: remove text decoration on hover for links in openforms formio content
  proprietary/leiden-design-tokens/src/index.scss
Due: none

docs(release): design system packages (#1391)
  .changeset/basis-tokens-none.md
  .changeset/cuddly-onions-beg.md
  .changeset/ma-task-list.md
  .changeset/sixty-sloths-type.md
  .changeset/slimy-humans-warn.md
  .changeset/thin-crews-nail.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
  proprietary/leiden-design-tokens/CHANGELOG.md
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: add color for error state in openforms formio content
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: enhance link hover styles for various components in openforms
  proprietary/leiden-design-tokens/src/index.scss
Due: none

style: page body tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: update openforms card styles for error handling and hidden components
  proprietary/leiden-design-tokens/src/index.scss
Due: none

style: root and page body tokens utrecht community component
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: root and page body tokens utrecht community component -- MA
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: title font-size on cookies page
  proprietary/leiden-design-tokens/src/index.scss
Due: none

docs: add changeset
  .changeset/root-body-layout-voor.md
Due: markdownlint, prettier --check

style: root and page body tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none
