Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

toch action-2
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: order padding tokens ma-navigation-bar
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: order padding tokens ma-navigation-bar (#1597)
  packages/ma-design-tokens/src/tokens.json
Due: none

Missing tokens wegwerken
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: tweaks to JSON
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
Due: none

feat: generate Sittard-Geleen theme based on start-theme
  packages/storybook/config/preview.ts
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/build-theme.mts
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/custom.scss
  proprietary/sittard-geleen-design-tokens/src/generate-theme.mts
  proprietary/sittard-geleen-design-tokens/src/index.scss
  proprietary/sittard-geleen-design-tokens/src/output-theme.mts
  proprietary/sittard-geleen-design-tokens/src/util.mts
  proprietary/sittard-geleen-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Deel 2
  packages/ma-design-tokens/src/tokens.json
Due: none

style: missing tokens toegevoegd (#1598)
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/missing-tokens-bla.md
Due: markdownlint, prettier --check

add changeset (#1599)
  .changeset/missing-tokens-bla.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/fix-voor-tekst.md
  .changeset/icon-only-button.md
  .changeset/margin-is-margin.md
  .changeset/missing-tokens-bla.md
  .changeset/update-modal-dialog.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/zaanstad-design-tokens/CHANGELOG.md
  proprietary/zaanstad-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1585)
  .changeset/fix-voor-tekst.md
  .changeset/icon-only-button.md
  .changeset/margin-is-margin.md
  .changeset/missing-tokens-bla.md
  .changeset/update-modal-dialog.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/zaanstad-design-tokens/CHANGELOG.md
  proprietary/zaanstad-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Conform changelog 18.1.0 de accordeon tokens van utrecht todo naar utrecht aangepast
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Rename accordion component tokens for code availability
  .changeset/aap-noot-mies.md
Due: markdownlint, prettier --check

Conform changelog 18.2.0 todo tokens van checkbox component van utrecht verandert naar utrecht
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Rename todo checkbox tokens to utrecht
  .changeset/koos-jet-piet.md
Due: markdownlint, prettier --check

Conform changelog 18.3.0 voor text input de todo waarde verandert naar utrecht. En volgorde van tokens anagepast (alfabetisch).
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Rename todo tokens for text input component
  .changeset/aap-hond-schaap.md
Due: markdownlint, prettier --check

chore: replace `transparent` with basis-token in Icon Button
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: replace transparent with basis-token in Icon Button - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: replace `transparent` with basis-token in Icon Button - M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/icon-button-transparent.md
Due: markdownlint, prettier --check

Conform changelog 18.4.0 de utrecht text area todo componenten hernoemd naar utrecht.
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Rename text area tokens and adjust alphabetical order
  .changeset/piet-jaap-jan.md
Due: markdownlint, prettier --check

Na missing token fix
  packages/ma-design-tokens/src/tokens.json
Due: none

icon size token voor textbox
  packages/ma-design-tokens/src/tokens.json
Due: none

chore: replace `transparent` with basis-token in Icon Button (#1603)
  .changeset/icon-button-transparent.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Conform changelog 21.0.0 de icon-only button verwijderd uit to bibliotheek en bijbehorende tokenset.
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Update changelog for NL Design System 21.0.0
  .changeset/groen-geel-paars.md
Due: markdownlint, prettier --check

style: add space relative tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/space-relative-block.md
Due: markdownlint, prettier --check

Bij Form Field Label is een design token verwijderd en bij Form Field een design token toegevoegd.
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Update design tokens and documentation for Form Field
  .changeset/rood-wit-blauw.md
Due: markdownlint, prettier --check

list spacing
  packages/ma-design-tokens/src/tokens.json
Due: none

list spacing round 2
  packages/ma-design-tokens/src/tokens.json
Due: none

update changeset
  .changeset/space-relative-block.md
Due: markdownlint, prettier --check

style: add space relative tokens (#1607)
  .changeset/space-relative-block.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/icon-button-transparent.md
  .changeset/space-relative-block.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1605)
  .changeset/icon-button-transparent.md
  .changeset/space-relative-block.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Conform changelog 23.0.0 component Modal Dialog bijgewerkt
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
