Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

json met design tokens toegevoegd.
  proprietary/leiden-design-tokens/leiden.tokens.json
Due: none

feat: json met design tokens toegevoegd voor gemeente leiden (#1144)
  proprietary/leiden-design-tokens/leiden.tokens.json
Due: none

style: update ma note tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/ma-note-update.md
Due: markdownlint, prettier --check

feat: add header button tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

feat: add ma navigation-drawer tokens (#1141)
  .changeset/ma-navigation-drawer.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

style: update ma note tokens (#1145)
  .changeset/ma-note-update.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

fix: rename sidenav to side-navigation
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: rename sidenav to side-navigation - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/sidenav-to-side-nav.md
Due: markdownlint, prettier --check

Create sidenav-to-side-nav-voorbeeld.md
  .changeset/sidenav-to-side-nav-voorbeeld.md
Due: markdownlint, prettier --check

docs: upgrade to major
  .changeset/sidenav-to-side-nav.md
Due: markdownlint, prettier --check

docs: upgrade to major - voorbeeld
  .changeset/sidenav-to-side-nav-voorbeeld.md
Due: markdownlint, prettier --check

fix: rename sidenav to side-navigation (#1146)
  .changeset/sidenav-to-side-nav.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

fix: rename sidenav to side-navigation - Voorbeeld (#1147)
  .changeset/sidenav-to-side-nav-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/button-action-voorbeeld.md
  .changeset/button-to-action.md
  .changeset/data-summary-tokens.md
  .changeset/data-summary-voorbeeld.md
  .changeset/desc-link-update.md
  .changeset/desc-link-voorbeeld.md
  .changeset/imagine-image-community.md
  .changeset/imagine-image-voorbeeld.md
  .changeset/ma-navigation-drawer.md
  .changeset/ma-note-update.md
  .changeset/margin-token-components.md
  .changeset/margin-token-voorbeeld.md
  .changeset/note-border-voorbeeld.md
  .changeset/note-border-width.md
  .changeset/sidenav-to-side-nav-voorbeeld.md
  .changeset/sidenav-to-side-nav.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1127)
  .changeset/button-action-voorbeeld.md
  .changeset/button-to-action.md
  .changeset/data-summary-tokens.md
  .changeset/data-summary-voorbeeld.md
  .changeset/desc-link-update.md
  .changeset/desc-link-voorbeeld.md
  .changeset/imagine-image-community.md
  .changeset/imagine-image-voorbeeld.md
  .changeset/ma-navigation-drawer.md
  .changeset/ma-note-update.md
  .changeset/margin-token-components.md
  .changeset/margin-token-voorbeeld.md
  .changeset/note-border-voorbeeld.md
  .changeset/note-border-width.md
  .changeset/sidenav-to-side-nav-voorbeeld.md
  .changeset/sidenav-to-side-nav.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add community data-summary tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/sunshine-rain-thunder.md
Due: markdownlint, prettier --check

feat: add data-summary tokens - MA (#1148)
  .changeset/sunshine-rain-thunder.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/sunshine-rain-thunder.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1149)
  .changeset/sunshine-rain-thunder.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Eerste aanpassingen huisstijl
  proprietary/leiden-design-tokens/leiden.tokens.json
Due: none

Create test
  proprietary/leiden-design-tokens/figma/test
Due: none

fix: linting
  proprietary/leiden-design-tokens/leiden.tokens.json
Due: none

Rename proprietary/leiden-design-tokens/leiden.tokens.json to proprietary/leiden-design-tokens/figma/leiden.tokens.json
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Eerste aanpassingen huisstijl (#1155)
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

docs: add lux login link
  .changeset/red-grapes-travel.md
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-lux.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/login-link/lux-login-link.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: add denhaag-description-list as a dependency
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: Add DATA_SUMMARY as STORY_GROUP
  packages/theme-toolkit/src/component-stories-util.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: Add Data Summary story
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/voorbeeld-design-tokens/documentation/data-summary/denhaag-description-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: component image
  packages/voorbeeld-design-tokens/documentation/assets/images/stadskantoor.jpg
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: component image
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/assets/images/photo-nijntje-vuelta.jpg
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add amsterdam alert dialog
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/alert-dialog/ams-alert-dialog.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use correct props for utrecht image
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(readme): fix spelling (organisations) and possessive grammar
  README.md
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: update component image (#1159)
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/assets/images/photo-nijntje-vuelta.jpg
  packages/voorbeeld-design-tokens/documentation/assets/images/stadskantoor.jpg
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: amsterdam has modal dialog not alert dialog
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/modal-dialog/ams-modal-dialog.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(readme): fix spelling (organisations) and possessive grammar (#1161)
  README.md
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
