Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

build: install minor updates
  package-lock.json
  package.json
  packages/theme-toolkit/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install major updates and alpha releases
  package-lock.json
  package.json
  packages/theme-toolkit/src/components.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: install patch updates and new alpha releases
  package-lock.json
  package.json
  packages/theme-toolkit/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: migrate to new Utrecht Design System release
  documentation/utrecht/color.stories.mdx
  packages/storybook/config/preview.js
  packages/theme-toolkit/src/components.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: format with new Prettier style
  .github/dependabot.yml
Due: none

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: overhaul Component pages to display labels
  documentation/denhaag/components.stories.mdx
  documentation/utrecht/components.stories.mdx
  package-lock.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ComponentStories.jsx
  packages/theme-toolkit/src/components.js
  proprietary/amsterdam-design-tokens/documentation/components.stories.mdx
  proprietary/bodegraven-reeuwijk-design-tokens/documentation/components.stories.mdx
  proprietary/borne-design-tokens/documentation/components.stories.mdx
  proprietary/buren-design-tokens/documentation/components.stories.mdx
  proprietary/demodam-design-tokens/documentation/components.stories.mdx
  proprietary/drechterland-design-tokens/documentation/components.stories.mdx
  proprietary/duiven-design-tokens/documentation/components.stories.mdx
  proprietary/enkhuizen-design-tokens/documentation/components.stories.mdx
  proprietary/groningen-design-tokens/documentation/components.stories.mdx
  proprietary/haarlemmermeer-design-tokens/documentation/components.stories.mdx
  proprietary/hoorn-design-tokens/documentation/components.stories.mdx
  proprietary/horstaandemaas-design-tokens/documentation/components.stories.mdx
  proprietary/leidschendam-voorburg-design-tokens/documentation/components.stories.mdx
  proprietary/nijmegen-design-tokens/documentation/components.stories.mdx
  proprietary/noordoostpolder-design-tokens/documentation/components.stories.mdx
  proprietary/rotterdam-design-tokens/documentation/components.stories.mdx
  proprietary/stedebroec-design-tokens/documentation/components.stories.mdx
  proprietary/tilburg-design-tokens/documentation/components.stories.mdx
  proprietary/venray-design-tokens/documentation/components.stories.mdx
  proprietary/vught-design-tokens/documentation/components.stories.mdx
  proprietary/westervoort-design-tokens/documentation/components.stories.mdx
  proprietary/zevenaar-design-tokens/documentation/components.stories.mdx
  proprietary/zwolle-design-tokens/documentation/components.stories.mdx
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@50da5963e89c5cf853ce3b12db97dbc75e53a799 🚀
  0.a1a342e2.iframe.bundle.js
  0.a824c8a6.iframe.bundle.js
  4.c7b083c7.iframe.bundle.js
  4.c7b083c7.iframe.bundle.js.map
  4.e8000af0.iframe.bundle.js
  4.e8000af0.iframe.bundle.js.LICENSE.txt
  4.e8000af0.iframe.bundle.js.map
  5.62117052.iframe.bundle.js
  5.bf43ce4d.iframe.bundle.js
  6.4b7e6624.iframe.bundle.js
  6.4b7e6624.iframe.bundle.js.LICENSE.txt
  6.4b7e6624.iframe.bundle.js.map
  6.552465f8.iframe.bundle.js
  6.552465f8.iframe.bundle.js.map
  7.264f451d.iframe.bundle.js
  7.264f451d.iframe.bundle.js.map
  7.57e6a5f5.iframe.bundle.js
  7.57e6a5f5.iframe.bundle.js.LICENSE.txt
  7.57e6a5f5.iframe.bundle.js.map
  8.12674b6c.iframe.bundle.js
  8.3c244805.iframe.bundle.js
  iframe.html
  main.1490ed63.iframe.bundle.js
  main.1490ed63.iframe.bundle.js.map
  main.c00c2ae7.iframe.bundle.js
  main.c00c2ae7.iframe.bundle.js.LICENSE.txt
  main.c00c2ae7.iframe.bundle.js.map
  runtime~main.352e4826.iframe.bundle.js
  runtime~main.bbbfd3b2.iframe.bundle.js
  vendors~main.02a3bbf6.iframe.bundle.js
  vendors~main.02a3bbf6.iframe.bundle.js.LICENSE.txt
  vendors~main.02a3bbf6.iframe.bundle.js.map
  vendors~main.e91aec82.iframe.bundle.js
  vendors~main.e91aec82.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: replace @storybook/html with @storybook/react
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: render one story for each theme component overview
  documentation/denhaag/components.stories.mdx
  documentation/utrecht/components.stories.mdx
  proprietary/amsterdam-design-tokens/documentation/components.stories.mdx
  proprietary/bodegraven-reeuwijk-design-tokens/documentation/components.stories.mdx
  proprietary/borne-design-tokens/documentation/components.stories.mdx
  proprietary/buren-design-tokens/documentation/components.stories.mdx
  proprietary/demodam-design-tokens/documentation/components.stories.mdx
  proprietary/drechterland-design-tokens/documentation/components.stories.mdx
  proprietary/duiven-design-tokens/documentation/components.stories.mdx
  proprietary/enkhuizen-design-tokens/documentation/components.stories.mdx
  proprietary/groningen-design-tokens/documentation/components.stories.mdx
  proprietary/haarlemmermeer-design-tokens/documentation/components.stories.mdx
  proprietary/hoorn-design-tokens/documentation/components.stories.mdx
  proprietary/horstaandemaas-design-tokens/documentation/components.stories.mdx
  proprietary/leidschendam-voorburg-design-tokens/documentation/components.stories.mdx
  proprietary/nijmegen-design-tokens/documentation/components.stories.mdx
  proprietary/noordoostpolder-design-tokens/documentation/components.stories.mdx
  proprietary/rotterdam-design-tokens/documentation/components.stories.mdx
  proprietary/stedebroec-design-tokens/documentation/components.stories.mdx
  proprietary/tilburg-design-tokens/documentation/components.stories.mdx
  proprietary/venray-design-tokens/documentation/components.stories.mdx
  proprietary/vught-design-tokens/documentation/components.stories.mdx
  proprietary/westervoort-design-tokens/documentation/components.stories.mdx
  proprietary/zevenaar-design-tokens/documentation/components.stories.mdx
  proprietary/zwolle-design-tokens/documentation/components.stories.mdx
Due: none

chore: remove unused code from componentStories template
  packages/theme-toolkit/src/ComponentStories.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: upgrade storybook dependencies and remove outdated notes
  .ncurc.minor.js
  package-lock.json
  package.json
  packages/storybook/config/main.js
  packages/storybook/config/preview.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feature: add provincie zuid-holland component and common tokens
  proprietary/provincie-zuid-holland-design-tokens/documentation/components.stories.mdx
  proprietary/provincie-zuid-holland-design-tokens/documentation/typography.stories.mdx
  proprietary/provincie-zuid-holland-design-tokens/src/brand/zuid-holland/color.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/brand/zuid-holland/typography.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/common/utrecht/focus.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/common/utrecht/space.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/custom-checkbox.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/emphasis.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/form-field-description.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/config.json
Due: none

build: update utrecht dependencies
  package-lock.json
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feature: add provincie zuid-holland brand tokens
  proprietary/provincie-zuid-holland-design-tokens/LICENSE.md
  proprietary/provincie-zuid-holland-design-tokens/README.md
  proprietary/provincie-zuid-holland-design-tokens/documentation/color.stories.mdx
  proprietary/provincie-zuid-holland-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/provincie-zuid-holland-design-tokens/documentation/readme.stories.mdx
  proprietary/provincie-zuid-holland-design-tokens/documentation/typography.stories.mdx
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/src/_responsive.scss
  proprietary/provincie-zuid-holland-design-tokens/src/brand/zuid-holland/color.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/brand/zuid-holland/typography.tokens.json
  proprietary/provincie-zuid-holland-design-tokens/src/config.json
  proprietary/provincie-zuid-holland-design-tokens/src/custom.scss
  proprietary/provincie-zuid-holland-design-tokens/src/font.js
  proprietary/provincie-zuid-holland-design-tokens/src/index.scss
  proprietary/provincie-zuid-holland-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@e072bb4f8c46ea4343dd5efc4a174c5cbdb0ab79 🚀
  iframe.html
  main.14b934d8.iframe.bundle.js
  main.14b934d8.iframe.bundle.js.LICENSE.txt
  main.14b934d8.iframe.bundle.js.map
  main.26aee4ba.iframe.bundle.js
  main.26aee4ba.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: update css dependency documentation
  packages/theme-logo/README.md
  packages/theme-logo/src/index.html
  packages/theme-switcher/README.md
  packages/theme-switcher/src/index.html
Due: markdownlint, prettier --check

build: patch update npm dependencies
  package-lock.json
  package.json
  packages/theme-toolkit/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/themes@62507a55e7a2d7485aeef4f89bb9df612ba3ff3b 🚀
  iframe.html
  main.14b934d8.iframe.bundle.js
  main.14b934d8.iframe.bundle.js.map
  main.7fa47ed9.iframe.bundle.js
  main.7fa47ed9.iframe.bundle.js.LICENSE.txt
  main.7fa47ed9.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@a25ae6c1b48774c1ab774de046d0ffcbaa6a8ae9 🚀
  iframe.html
  main.7fa47ed9.iframe.bundle.js
  main.7fa47ed9.iframe.bundle.js.map
  main.cee605a2.iframe.bundle.js
  main.cee605a2.iframe.bundle.js.LICENSE.txt
  main.cee605a2.iframe.bundle.js.map
  project.json
  vendors~main.2626d615.iframe.bundle.js
  vendors~main.2626d615.iframe.bundle.js.LICENSE.txt
  vendors~main.2626d615.iframe.bundle.js.map
  vendors~main.4da5a239.iframe.bundle.js
  vendors~main.4da5a239.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

:sparkles: Add open-forms design tokens to documentation
  documentation/open-forms/README.md
  documentation/open-forms/color.stories.mdx
  documentation/open-forms/config.json
  documentation/open-forms/readme.stories.mdx
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

:sparkles: Add open-forms to the NL DS theme switcher
  packages/theme-switcher/src/generate-json.js
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update the design tokens cdn url
  documentation/utrecht/config.json
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: allow node 18
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets
