Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Button token volgorde bijgewerkt
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Tokens voor alert update
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Enkele Alert tokens verwijderd
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/themes@873501ac9f69f8ca7db64cf808ffc99d3f6377d0 🚀
  project.json
Due: none

Breadcrumb naar Breadcrumb navigation
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: rename `breadcrumb-navigation` to `breadcrumb-nav`
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset for Breadcrumb navigation rename
  .changeset/tough-trainers-listen.md
Due: markdownlint, prettier --check

ci: configure linters not to worry about changeset files
  .markdownlintignore
  .prettierignore
Due: none

ci: require `repository.directory` in each package.json
  .npmpackagejsonlintrc.json
Due: none

build: specify `repository.directory` in each package.json
  package.json
  packages/storybook/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: replace lerna version and publish with changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/continuous-deployment.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@be3b71e2ee36f7144cc7759461c9280a989f50cd 🚀
  project.json
Due: none

fix: use correct npm script name
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/themes@1ca8e5d5bd4bf40db1d2e90847698a186dfb12e8 🚀
  project.json
Due: none

refactor: migrate theme-toolkit to TypeScript
  .changeset/rude-birds-tap.md
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ColorCard.tsx
  packages/theme-toolkit/src/ColorExample.tsx
  packages/theme-toolkit/src/ColorSearch.tsx
  packages/theme-toolkit/src/ColorTable.jsx
  packages/theme-toolkit/src/ColorTable.tsx
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/ComponentTokensSection.tsx
  packages/theme-toolkit/src/ComponentTokensTable.tsx
  packages/theme-toolkit/src/CopyButton.tsx
  packages/theme-toolkit/src/CopyCode.tsx
  packages/theme-toolkit/src/CustomStory.tsx
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
  packages/theme-toolkit/src/ExampleTokensJSON.tsx
  packages/theme-toolkit/src/color-util.ts
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/theme-toolkit/src/design-tokens.js
  packages/theme-toolkit/src/design-tokens.ts
  packages/theme-toolkit/src/index.mjs
  packages/theme-toolkit/src/index.tsx
  packages/theme-toolkit/src/util.js
  packages/theme-toolkit/src/util.ts
  packages/theme-toolkit/tsconfig.dist.json
  packages/theme-toolkit/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: allow unused variables that start with _
  .eslintrc.json
Due: none

fix: nicer error message when color query cannot be parsed
  packages/theme-toolkit/src/ColorSearch.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Switch tokens zoals toegevoegd tijdens Estafettemodeldag 2
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Breadcrumb tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Badge counter token update
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: clean up package.json files
  package.json
  packages/storybook/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: clean up package.json further
  lerna.json
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: fix linting
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/themes@5f3832f1774cf1ab1dee387a8404e457f4a9feb1 🚀
  project.json
Due: none

docs: add changeset template
  .changeset/README.md
  .changeset/config.json
Due: markdownlint, prettier --check

chore: remove proptypes
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ColorCard.tsx
  packages/theme-toolkit/src/ColorExample.tsx
  packages/theme-toolkit/src/ColorSearch.tsx
  packages/theme-toolkit/src/ColorTable.tsx
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/ComponentTokensSection.tsx
  packages/theme-toolkit/src/ComponentTokensTable.tsx
  packages/theme-toolkit/src/CopyButton.tsx
  packages/theme-toolkit/src/CopyCode.tsx
  packages/theme-toolkit/src/CustomStory.tsx
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
  packages/theme-toolkit/src/ExampleTokensJSON.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
