Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

build: switch from npm to pnpm
  .github/workflows/continuous-deployment.yml
  .prettierignore
  lerna.json
  package-lock.json
  package.json
  packages/playroom/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: fix lint error
  documentation/introduction.md
Due: markdownlint, prettier --check

build: update component index
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

refactor: convert script to ES Modules
  packages/theme-switcher/package.json
  packages/theme-switcher/src/generate-json.js
  packages/theme-switcher/src/generate-json.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: specfiy workspace dependencies
  package.json
  packages/theme-switcher/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: explicit build order of Figma tokens to Style Dictionary
  packages/example-theme/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: example theme prefix
  packages/example-theme/documentation/color.stories.mdx
  packages/example-theme/src/config.json
Due: none

ci: clean entire generated dir
  packages/example-theme/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: use `defaultValue` for form values
  packages/theme-toolkit/src/component-stories-utrecht.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: simplify filter callback
  packages/theme-toolkit/src/util.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: install patch updates
  package-lock.json
  package.json
  packages/example-theme/package.json
  packages/playroom/package.json
  packages/theme-toolkit/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install minor updates
  package-lock.json
  package.json
  packages/example-theme/package.json
  packages/playroom/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update to React 18
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update design system alpha packages
  package-lock.json
  package.json
  script/generate-component-pages/page-template.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: style dictionary dependency
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: avoid automatic updates of patch versions
  .ncurc.patch.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: output path of generated stories
  packages/storybook/src/generate-component-pages/index.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update to Storybook 7
  packages/storybook/.babelrc.json
  packages/storybook/config/main.js
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

build: generate Nijmegen theme from Figma tokens
  pnpm-lock.yaml
  proprietary/nijmegen-design-tokens/LICENSE.md
  proprietary/nijmegen-design-tokens/figma/figma.tokens.json
  proprietary/nijmegen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

build: ignore all generated src files in Git
  .gitignore
  packages/example-theme/.gitignore
Due: none

fix: remove `CustomRadioButton` component from playroom, no longer exists
  packages/playroom/components.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: lerna-lite renamed `--git-dry-run` to `--dry-run` in minor update 🙈
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
