Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

styling/focusring
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

feat: add ma page-footer and page-header tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/rose-moon-fish.md
Due: markdownlint, prettier --check

feat: add ma page-footer and page-header tokens (#1090)
  .changeset/rose-moon-fish.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/rose-moon-fish.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1091)
  .changeset/rose-moon-fish.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

buttons
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

font weight form field description
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

componeten
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

groningen.color.accent
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

docs: gebruik nl design system logo in icon component (#1081)
  packages/voorbeeld-design-tokens/documentation/icon/utrecht-icon.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add zaandam design tokens
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/zaanstad-design-tokens/LICENSE.md
  proprietary/zaanstad-design-tokens/README.md
  proprietary/zaanstad-design-tokens/documentation/color.mdx
  proprietary/zaanstad-design-tokens/documentation/component-tokens.stories.ts
  proprietary/zaanstad-design-tokens/documentation/components.stories.ts
  proprietary/zaanstad-design-tokens/documentation/design-tokens.mdx
  proprietary/zaanstad-design-tokens/documentation/readme.mdx
  proprietary/zaanstad-design-tokens/package.json
  proprietary/zaanstad-design-tokens/src/config.json
  proprietary/zaanstad-design-tokens/src/font.js
  proprietary/zaanstad-design-tokens/src/font.scss
  proprietary/zaanstad-design-tokens/src/index.scss
  proprietary/zaanstad-design-tokens/src/tokens.json
  proprietary/zaanstad-design-tokens/style-dictionary.config.js
  proprietary/zaanstad-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add to codeowners
  .github/CODEOWNERS
Due: none

fix: remove unneeded index.scss
  proprietary/zaanstad-design-tokens/src/index.scss
Due: none

docs: extend fullname to include gemeente
  proprietary/zaanstad-design-tokens/src/config.json
Due: none

docs: add changeset
  .changeset/kind-carrots-roll.md
Due: markdownlint, prettier --check

fix: storybook changeset is minor
  .changeset/kind-carrots-roll.md
Due: markdownlint, prettier --check

feat: add zaandam design tokens (#1094)
  .changeset/kind-carrots-roll.md
  .github/CODEOWNERS
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/zaanstad-design-tokens/LICENSE.md
  proprietary/zaanstad-design-tokens/README.md
  proprietary/zaanstad-design-tokens/documentation/color.mdx
  proprietary/zaanstad-design-tokens/documentation/component-tokens.stories.ts
  proprietary/zaanstad-design-tokens/documentation/components.stories.ts
  proprietary/zaanstad-design-tokens/documentation/design-tokens.mdx
  proprietary/zaanstad-design-tokens/documentation/readme.mdx
  proprietary/zaanstad-design-tokens/package.json
  proprietary/zaanstad-design-tokens/src/config.json
  proprietary/zaanstad-design-tokens/src/font.js
  proprietary/zaanstad-design-tokens/src/font.scss
  proprietary/zaanstad-design-tokens/src/tokens.json
  proprietary/zaanstad-design-tokens/style-dictionary.config.js
  proprietary/zaanstad-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

focus form tokens
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

focus checkbox
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

json met design tokens toegevoegd.
  proprietary/zaanstad-design-tokens/figma/zaanstad.tokens.json
Due: none

checkbox border en interactive brand tokens
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

fix: turn off color scheme dark style dictionary so it doesnt block swap jsons pr
  packages/voorbeeld-design-tokens/style-dictionary.mjs
Due: none

fix: turn off color scheme dark style dictionary so it doesnt block swap jsons pr
  packages/voorbeeld-design-tokens/documentation/component-tokens.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Swap jsons (#1035)
  packages/theme-toolkit/src/style-dictionary.test.ts
  packages/tokens-lib/src/style-dictionary.test.ts
  packages/voorbeeld-design-tokens/documentation/color.mdx
  packages/voorbeeld-design-tokens/documentation/component-tokens.stories.ts
  packages/voorbeeld-design-tokens/documentation/components.stories.ts
  packages/voorbeeld-design-tokens/documentation/typography.mdx
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens-old.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/style-dictionary.mjs
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/kind-carrots-roll.md
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/zaanstad-design-tokens/CHANGELOG.md
  proprietary/zaanstad-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: add interactive states tokens to `page-footer`
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/dry-moon-apple.md
Due: markdownlint, prettier --check

add demo sticker tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add utrecht form field label to themes and visual regression test
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/form-field-label/utrecht-form-field-label.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Changeset toegevoegd
  .changeset/aap-boot-mies.md
Due: markdownlint, prettier --check

json met design tokens toegevoegd. (#1096)
  proprietary/zaanstad-design-tokens/figma/zaanstad.tokens.json
Due: none

Changeset toegevoegd (#1099)
  .changeset/aap-boot-mies.md
Due: markdownlint, prettier --check

feat: verwijder index.scss in nieuwe stijl themes (#1100)
  .changeset/chilly-badgers-rhyme.md
  packages/basis-design-tokens/src/index.scss
  packages/ma-design-tokens/src/index.scss
  packages/voorbeeld-design-tokens/src/index.scss
  proprietary/epe-design-tokens/src/index.scss
  proprietary/nora-design-tokens/src/index.scss
Due: markdownlint, prettier --check

docs: update changeset
  .changeset/chilly-badgers-rhyme.md
Due: markdownlint, prettier --check

style: add interactive states tokens to `page-footer` (#1097)
  .changeset/dry-moon-apple.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

fix: typo in changeset
  .changeset/aap-boot-mies.md
Due: markdownlint, prettier --check
