Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: remove todo-icon-only-button tokens (#1584)
  .changeset/icon-only-button.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

add sittard-geleen theme tokens
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/tokens-lib/src/design-tokens.ts
  packages/tokens-lib/src/util.ts
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/README.md
  proprietary/sittard-geleen-design-tokens/documentation/color.mdx
  proprietary/sittard-geleen-design-tokens/documentation/component-tokens.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/design-tokens.mdx
  proprietary/sittard-geleen-design-tokens/documentation/readme.mdx
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/_responsive.scss
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/custom.scss
  proprietary/sittard-geleen-design-tokens/src/font.mjs
  proprietary/sittard-geleen-design-tokens/src/font.scss
  proprietary/sittard-geleen-design-tokens/src/index.scss
  proprietary/sittard-geleen-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

test: add Roobert font for storybook testing (demo only, not for release)
  proprietary/sittard-geleen-design-tokens/src/font.scss
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Bold.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-BoldItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Heavy.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-HeavyItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Light.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-LightItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Medium.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-MediumItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-Regular.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-RegularItalic.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-SemiBold.woff2
  proprietary/sittard-geleen-design-tokens/src/fonts/Roobert-SemiBoldItalic.woff2
Due: none

feat: add vidar theme
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/vidar-design-tokens/README.md
  proprietary/vidar-design-tokens/documentation/color.mdx
  proprietary/vidar-design-tokens/documentation/component-tokens.stories.ts
  proprietary/vidar-design-tokens/documentation/components.stories.ts
  proprietary/vidar-design-tokens/documentation/design-tokens.mdx
  proprietary/vidar-design-tokens/documentation/readme.mdx
  proprietary/vidar-design-tokens/figma/figma.tokens.json
  proprietary/vidar-design-tokens/package.json
  proprietary/vidar-design-tokens/src/config.json
  proprietary/vidar-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: update form field tokens utrecht
  packages/start-design-tokens/figma/start.tokens.json
Due: none

2e
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: custom.scss for zaanstad (#1583)
  .changeset/fix-voor-tekst.md
  proprietary/zaanstad-design-tokens/src/custom.scss
Due: markdownlint, prettier --check

3e
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Voorbeeld thema
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/margin-is-margin.md
Due: markdownlint, prettier --check

Voorbeeld 2e keer
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

toch maar 0px
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: update form field tokens utrecht (#1588)
  .changeset/margin-is-margin.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

feat: add custom override for email input visibility in Utrecht form
  proprietary/leiden-design-tokens/src/of-prod-v.1.0-alpha.5.scss
  proprietary/leiden-design-tokens/src/of-test-v1.0-alpha.5.scss
Due: none

docs(release): design system packages
  .changeset/fix-voor-tekst.md
  .changeset/icon-only-button.md
  .changeset/margin-is-margin.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/zaanstad-design-tokens/CHANGELOG.md
  proprietary/zaanstad-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: lint build issues
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

test: re-enable Style Dictionary build tests (fixed with recent build output)
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update modal dialog tokens amsterdam community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: update modal dialog tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: update modal dialog tokens - Mooi & Anders
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/update-modal-dialog.md
Due: markdownlint, prettier --check

chore: update modal dialog tokens amsterdam community component (#1591)
  .changeset/update-modal-dialog.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/fix-voor-tekst.md
  .changeset/icon-only-button.md
  .changeset/margin-is-margin.md
  .changeset/update-modal-dialog.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/zaanstad-design-tokens/CHANGELOG.md
  proprietary/zaanstad-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

remove few spacing tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: add `create-light-dark` script
  .changeset/forty-singers-smile.md
  packages/ma-design-tokens/create-light-dark.mjs
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

remove min-block-size
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: update Side Navigation Den Haag (M&A)
  packages/ma-design-tokens/src/tokens.json
Due: none

order
  packages/ma-design-tokens/src/tokens.json
Due: none

binnen button tokenset
  packages/ma-design-tokens/src/tokens.json
Due: none

style: placeholder for Candidate Text Area design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

wijzig waarde van hover.border-width
  packages/start-design-tokens/figma/start.tokens.json
Due: none

wijzig waarden van border-width
  packages/start-design-tokens/figma/start.tokens.json
Due: none

NLDS updates: - 20.0.1 - 20.0.2 - 21.0.0 - 22.0.0 - 23.0.0
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

style: update Navigation Bar M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

verwijzing naar {basis.space.none}
  packages/start-design-tokens/figma/start.tokens.json
Due: none

first commit
  packages/ma-design-tokens/src/tokens.json
Due: none

style: update Navigation Bar M&A (#1595)
  packages/ma-design-tokens/src/tokens.json
Due: none
