Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs: include token reference in tokens table
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use more `basis.*` tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

refactor: `basis.form-control` instead of `utrecht.form-control`, and remove old gray color scale
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

chore: add `generateRadixColors` from Radix website
  proprietary/basis-design-tokens/documentation/generateRadixColors.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate more tokens from purmerend to basis-theme
  proprietary/basis-design-tokens/figma/basis.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

docs: fix missing labels in component stories
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add component tokens page to basis theme
  proprietary/basis-design-tokens/documentation/component-tokens.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

wip: radix color generator
  proprietary/basis-design-tokens/documentation/editor.mdx
  proprietary/basis-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add mark-inverse and selected-inverse color scales to Purmerend
  proprietary/purmerend-design-tokens/documentation/basis-tokens.mdx
Due: none

style: add community Contact Timeline and Process Steps tokens of den haag
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add theme builder page
  .eslintrc.json
  pnpm-lock.yaml
  proprietary/basis-design-tokens/documentation/ThemeBuilder.tsx
  proprietary/basis-design-tokens/documentation/editor.mdx
  proprietary/basis-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: limit width of text content to approx 70 chars
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

chore: fix lint error
  proprietary/basis-design-tokens/documentation/ThemeBuilder.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use basis-theme for example-theme
  pnpm-lock.yaml
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/example-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/example-design-tokens/src/color-scheme-dark/tokens.json
  proprietary/example-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/example-design-tokens/src/tokens.json
  proprietary/example-design-tokens/style-dictionary.config.js
  proprietary/example-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use basis-theme for example-theme
  pnpm-lock.yaml
  proprietary/example-design-tokens/documentation/design-tokens.mdx
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/example-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/example-design-tokens/src/color-scheme-dark/tokens.json
  proprietary/example-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/example-design-tokens/src/tokens.json
  proprietary/example-design-tokens/style-dictionary.config.js
  proprietary/example-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern
