Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/themes@f573e59963d5a4fbcc0bd61533ebdbc06d166fb8 🚀
  project.json
Due: none

chore: restructure components
  packages/storybook/config/main.ts
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/breadcrumb-navigation-utrecht.stories.tsx
  packages/voorbeeld-design-tokens/documentation/button/utrecht-button.stories.tsx
  packages/voorbeeld-design-tokens/documentation/checkbox/utrecht-custom-checkbox.stories.tsx
  packages/voorbeeld-design-tokens/documentation/fieldset/utrecht-form-fieldset.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-1/utrecht-heading-1.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-2/utrecht-heading-2.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-3/utrecht-heading-3.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-4/utrecht-heading-4.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-5/utrecht-heading-5.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading-6/utrecht-heading-6.stories.tsx
  packages/voorbeeld-design-tokens/documentation/ordered-list/utrecht-ordered-list.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/utrecht-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/radio-button/utrecht-radio-button.stories.tsx
  packages/voorbeeld-design-tokens/documentation/status-badge/utrecht-badge-status.stories.tsx
  packages/voorbeeld-design-tokens/documentation/switch/utrecht-form-toggle.stories.tsx
  packages/voorbeeld-design-tokens/documentation/text-input/utrecht-textbox.stories.tsx
  packages/voorbeeld-design-tokens/documentation/textarea/utrecht-textarea.stories.tsx
  packages/voorbeeld-design-tokens/documentation/unordered-list/utrecht-unordered-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: rename breadcrumb-nav story to match convention
  packages/voorbeeld-design-tokens/documentation/breadcrumb-navigation/utrecht-breadcrumb-nav.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(voorbeeld-design-tokens): add `<Separator />` stories
  packages/voorbeeld-design-tokens/documentation/separator/utrecht-separator.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@ee5dc14c11dfb4dfd4b311667c37bdf6a3ea6a12 🚀
  project.json
Due: none

docs(voorbeeld-design-tokens): add `<Select />` stories
  packages/voorbeeld-design-tokens/documentation/select/utrecht-select.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(voorbeeld-design-tokens): add `<Link />` stories
  packages/voorbeeld-design-tokens/documentation/link/utrecht-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(voorbeeld-design-tokens): add `<Image />` story
  packages/voorbeeld-design-tokens/documentation/Image/utrecht.image.stories.tsx
  packages/voorbeeld-design-tokens/documentation/assets/images/photo-nijntje-vuelta.jpg
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore(voorbeeld-design-tokens): integrate assets into storybook
  packages/storybook/config/main.ts
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(voorbeeld-design-tokens): add `<HeadingGroup/>` story
  packages/voorbeeld-design-tokens/documentation/heading-group/utrecht-heading-group.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(voorbeeld-design-tokens): add skip link stories
  packages/voorbeeld-design-tokens/documentation/skip-link/utrecht-skip-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(voorbeeld-design-tokens): add <NumberBadge/> story
  packages/voorbeeld-design-tokens/documentation/number-badge/utrecht-badge-counter.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@8bf1d6939cc1f05688b4f5c264058fc0a03743d2 🚀
  project.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@00a1589226f24ff9eaede8925e8adf3c58dc0526 🚀
  project.json
Due: none

Tokens gelijk getrokken voor headings. https://github.com/nl-design-system/kernteam/issues/798
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Button tokens gelijk getrokken
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Informative naar info
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Paragraph tokens toegevoegd voor margin
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Link tokens (deels) gelijk getrokken
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Tokens voor backdrop zijn nu utrecht.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
