Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Update .changeset/case-card-tokens.md
  .changeset/case-card-tokens.md
Due: markdownlint, prettier --check

Update .changeset/case-card-voorbeeld.md
  .changeset/case-card-voorbeeld.md
Due: markdownlint, prettier --check

Update case-card-tokens.md
  .changeset/case-card-tokens.md
Due: markdownlint, prettier --check

Update case-card-voorbeeld.md
  .changeset/case-card-voorbeeld.md
Due: markdownlint, prettier --check

feat: add ams avatar tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add rhc dot-badge tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add ams figure tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add ams file-input tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: aanvullende design tokens voor todo case card (#1205)
  .changeset/case-card-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

style: aanvullende design tokens voor todo case card - Voorbeeld (#1206)
  .changeset/case-card-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Changed comments to a standardized block to be able to generate an overview of custom css
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Created a script that generates an overview of custom css rules
  proprietary/leiden-design-tokens/custom-css-overview.json
  proprietary/leiden-design-tokens/generate-custom-css-overview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

changed output destination
  proprietary/leiden-design-tokens/custom-css-overview.json
  proprietary/leiden-design-tokens/generate-custom-css-overview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

added build script for the generate custom css overview
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

custom overrides inside .leiden-theme
  proprietary/leiden-design-tokens/src/index.scss
Due: none

collects also the overrides inside the .leiden-theme
  proprietary/leiden-design-tokens/generate-custom-css-overview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

todo: Custom Token overrides inside the .leiden-theme are not added to the json.
  proprietary/leiden-design-tokens/generate-custom-css-overview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(start-design-tokens): wrap token ref path in curly braces
  packages/start-design-tokens/figma/start.tokens.json
Due: none

added more custom css rules
  proprietary/leiden-design-tokens/src/index.scss
Due: none

feat: add denhaag tab tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: wrap token ref path in curly braces
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: wrap token ref path in curly braces - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/curly-braces-fix.md
Due: markdownlint, prettier --check

add changeset
  .changeset/curly-braces-fix-voorbeeld.md
Due: markdownlint, prettier --check

fix: wrap token ref path in curly braces (#1214)
  .changeset/curly-braces-fix.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

fix: wrap token ref path in curly braces - Voorbeeld (#1215)
  .changeset/curly-braces-fix-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/case-card-tokens.md
  .changeset/case-card-voorbeeld.md
  .changeset/curly-braces-fix-voorbeeld.md
  .changeset/curly-braces-fix.md
  .changeset/kind-mangos-pay.md
  .changeset/thin-pumpkins-impress.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs: update prefix to non-dashed
  proprietary/voorne-aan-zee-design-tokens/src/config.json
Due: none

style: spacing block
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add amsterdam tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

update ams values
  packages/start-design-tokens/figma/start.tokens.json
Due: none

ams order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/tabs-design-tokens.md
Due: markdownlint, prettier --check

outline code only
  packages/start-design-tokens/figma/start.tokens.json
Due: none

bottom code only
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add Tabs tokens for Den Haag and Amsterdam (#1213)
  .changeset/tabs-design-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

feat: add Tabs tokens for Den Haag and Amsterdam - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none
