Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

add changeset
  .changeset/tabs-design-tokens-voorbeeld.md
Due: markdownlint, prettier --check

feat: add Tabs tokens for Den Haag and Amsterdam - Voorbeeld (#1217)
  .changeset/tabs-design-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

Added button small
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

feat: add voorne aan zee organisatie (#1216)
  .changeset/swift-geckos-lie.md
  .github/CODEOWNERS
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/voorne-aan-zee-design-tokens/LICENSE.md
  proprietary/voorne-aan-zee-design-tokens/README.md
  proprietary/voorne-aan-zee-design-tokens/documentation/color.mdx
  proprietary/voorne-aan-zee-design-tokens/documentation/component-tokens.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/components.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/design-tokens.mdx
  proprietary/voorne-aan-zee-design-tokens/documentation/readme.mdx
  proprietary/voorne-aan-zee-design-tokens/figma/voorne-aan-zee.tokens.json
  proprietary/voorne-aan-zee-design-tokens/package.json
  proprietary/voorne-aan-zee-design-tokens/src/config.json
  proprietary/voorne-aan-zee-design-tokens/src/font.js
  proprietary/voorne-aan-zee-design-tokens/src/font.scss
  proprietary/voorne-aan-zee-design-tokens/src/tokens.json
  proprietary/voorne-aan-zee-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: enable pnpm audit for critical issues and show a link for more information
  .github/workflows/publish.yml
Due: none

chore: force a transitive dependency to a version without a critical vulnerability
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: put all pnpm configuration in pnpm-workspaces.yaml
  package.json
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Box shadow color adjusted
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

changelog-edits/2.1.0-2.2.0-focusringfix
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

docs: add lux login link (#1158)
  .changeset/red-grapes-travel.md
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-lux.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/login-link/lux-login-link.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add ams figure storybook and visual regression
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/figure/ams-figure.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: empty changeset
  .changeset/ninety-insects-ring.md
Due: markdownlint, prettier --check

docs: add ams figure storybook and visual regression (#1233)
  .changeset/ninety-insects-ring.md
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/figure/ams-figure.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add ams password input storybook and visual regression
  .changeset/cold-actors-count.md
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/password-input/ams-password-input.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add ams file input storybook and visual regression
  .changeset/perfect-kings-kick.md
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/voorbeeld-design-tokens/documentation/file-input/ams-file-input.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add ams file input storybook and visual regression (#1235)
  .changeset/perfect-kings-kick.md
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/voorbeeld-design-tokens/documentation/file-input/ams-file-input.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: merge conflict
  proprietary/amsterdam-design-tokens/src/config.json
Due: none

docs: add ams password input storybook and visual regression (#1234)
  .changeset/cold-actors-count.md
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/password-input/ams-password-input.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/case-card-tokens.md
  .changeset/case-card-voorbeeld.md
  .changeset/cold-actors-count.md
  .changeset/curly-braces-fix-voorbeeld.md
  .changeset/curly-braces-fix.md
  .changeset/kind-mangos-pay.md
  .changeset/ninety-insects-ring.md
  .changeset/perfect-kings-kick.md
  .changeset/red-grapes-travel.md
  .changeset/swift-geckos-lie.md
  .changeset/tabs-design-tokens-voorbeeld.md
  .changeset/tabs-design-tokens.md
  .changeset/thin-pumpkins-impress.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/voorne-aan-zee-design-tokens/CHANGELOG.md
  proprietary/voorne-aan-zee-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: border type from 'borderWidth' to 'dimension'
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix voor voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: border type from 'borderWidth' to 'dimension' (#1238)
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

First draft for Candidate Form Field Label design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: waarde van padding token niet langer None maar 0px
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/data-badge-padding.md
Due: markdownlint, prettier --check

fix: waarde van padding token niet langer None maar 0px - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/data-badge-padding-voorbeeld.md
Due: markdownlint, prettier --check

fix: waarde van padding token niet langer `None` maar `0px` (#1240)
  .changeset/data-badge-padding.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

fix: waarde van padding token niet langer None maar 0px - Voorbeeld (#1241)
  .changeset/data-badge-padding-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

icon tokens eruit
  packages/start-design-tokens/figma/start.tokens.json
Due: none

token value fixes
  packages/start-design-tokens/figma/start.tokens.json
Due: none

token value fix
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix token name
  packages/start-design-tokens/figma/start.tokens.json
Due: none

remove tokens for color
  packages/start-design-tokens/figma/start.tokens.json
Due: none

ci: ensure that the lockfile is present and up-to-date
  .github/workflows/publish.yml
Due: none

Responsive page behavior
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

changelog-edits/2.3.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
