Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

added custom/fa set
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

added max-inline-size custom/utrecht
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

add succes status tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: load missing fonts
  packages/ma-design-tokens/package.json
  packages/ma-design-tokens/src/font.js
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/documentation/components.stories.ts
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/hoeksche-waard-design-tokens/src/font.js
  proprietary/nijmegen-design-tokens/package.json
  proprietary/nijmegen-design-tokens/src/font.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: include correct fonts in voorbeeld-design-tokens
  .changeset/yellow-icons-remember.md
  packages/voorbeeld-design-tokens/package.json
  packages/voorbeeld-design-tokens/src/font.js
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/yellow-icons-remember.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Header tokens Utrecht & OF added
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

changed bg colors for page and pagecontent
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Header BG fix
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

header-color fix
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

change header bg color
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

docs(release): design system packages (#1200)
  .changeset/yellow-icons-remember.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

added custom css
  proprietary/leiden-design-tokens/src/index.scss
Due: none

chore: add NL Design System to trusted packages
  pnpm-workspace.yaml
Due: none

chore: include preprocessor functions from root config
  .changeset/thin-pumpkins-impress.md
  packages/start-design-tokens/style-dictionary.mjs
Due: markdownlint, prettier --check

chore: include preprocessor functions from root config (#1203)
  .changeset/thin-pumpkins-impress.md
  packages/start-design-tokens/style-dictionary.mjs
Due: markdownlint, prettier --check

feat: add voorne aan zee organisatie
  .changeset/swift-geckos-lie.md
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/voorne-aan-zee-design-tokens/LICENSE.md
  proprietary/voorne-aan-zee-design-tokens/README.md
  proprietary/voorne-aan-zee-design-tokens/documentation/color.mdx
  proprietary/voorne-aan-zee-design-tokens/documentation/component-tokens.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/components.stories.ts
  proprietary/voorne-aan-zee-design-tokens/documentation/design-tokens.mdx
  proprietary/voorne-aan-zee-design-tokens/documentation/readme.mdx
  proprietary/voorne-aan-zee-design-tokens/figma/voorne-aan-zee.tokens.json
  proprietary/voorne-aan-zee-design-tokens/package.json
  proprietary/voorne-aan-zee-design-tokens/src/config.json
  proprietary/voorne-aan-zee-design-tokens/src/font.js
  proprietary/voorne-aan-zee-design-tokens/src/font.scss
  proprietary/voorne-aan-zee-design-tokens/src/tokens.json
  proprietary/voorne-aan-zee-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused file
  .changeset/kind-mangos-pay.md
  proprietary/zaanstad-design-tokens/style-dictionary.config.js
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove unused file (#1204)
  .changeset/kind-mangos-pay.md
  proprietary/zaanstad-design-tokens/style-dictionary.config.js
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: aanvullende design tokens voor todo case card
  packages/start-design-tokens/figma/start.tokens.json
Due: none

focus-visible verstekeling
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: aanvullende design tokens voor todo case card - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/case-card-voorbeeld.md
Due: markdownlint, prettier --check

add changeset
  .changeset/case-card-tokens.md
Due: markdownlint, prettier --check

add changeset
  .changeset/status-badge-tokens.md
Due: markdownlint, prettier --check

Added margin-block-end to body.utrecht-page.
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Added margin-block-start 0 to body.utrecht-page
  proprietary/leiden-design-tokens/src/index.scss
Due: none

.
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

First OF config
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

archived token name change
  packages/start-design-tokens/figma/start.tokens.json
Due: none

update changeset
  .changeset/case-card-tokens.md
Due: markdownlint, prettier --check

update changeset
  .changeset/case-card-voorbeeld.md
Due: markdownlint, prettier --check

update archived token name position
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: set codeowners for voorne aan zee
  .github/CODEOWNERS
Due: none

Spell check changes
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

second batch OF tokens
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

typo errors second batch
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Custom css for the following items:
  proprietary/leiden-design-tokens/src/index.scss
Due: none
