Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

fix: subtle button juiste styling gekregen
  proprietary/rotterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/rotterdam-design-tokens/src/index.scss
Due: none

chore: prettier format
  proprietary/rotterdam-design-tokens/src/index.scss
Due: none

Testje met Hidde
  packages/example-theme/figma/example.tokens.json
Due: none

Violet
  packages/example-theme/figma/example.tokens.json
Due: none

Work in progress
  packages/storybook/config/preview.js
  proprietary/overheidnl-design-tokens/package.json
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/typography.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/overheidnl-design-tokens/src/font.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: accordion tokens amsterdam gefixed
  proprietary/amsterdam-design-tokens/src/component/utrecht/accordion.tokens.json
Due: none

Violet (#404)
  packages/example-theme/figma/example.tokens.json
Due: none

docs(release): design system packages
  package-lock.json
  packages/example-theme/package.json
  packages/playroom/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

add: disabled butten toegevoegd
  packages/theme-toolkit/src/component-stories-utrecht.jsx
  proprietary/rotterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/rotterdam-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

font added
  package-lock.json
Due: none

fix: rotterdam thema small fixes
  proprietary/rotterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/rotterdam-design-tokens/src/index.scss
Due: none

chore: prettier formatting
  proprietary/amsterdam-design-tokens/src/component/utrecht/accordion.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/backdrop.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/badge-counter.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/checkbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/emphasis.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/page.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/amsterdam-design-tokens/src/index.scss
  proprietary/haarlem-design-tokens/src/sofia-pro-variable.woff2
  proprietary/rotterdam-design-tokens/src/index.scss
Due: none

fix: amsterdam thema niet andere thema overschrijd
  proprietary/amsterdam-design-tokens/src/index.scss
Due: none

ci: require Prettier formatting
  .prettierignore
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

Work in progress
  proprietary/overheidnl-design-tokens/src/brand/overheidnl/color.tokens.json
  proprietary/overheidnl-design-tokens/src/component/utrecht/textbox.tokens.json
Due: none

style: amsterdam theme improvements
  packages/theme-toolkit/src/component-stories-utrecht.jsx
  proprietary/amsterdam-design-tokens/src/component/utrecht/checkbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/radio-button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/select.tokens.json
  proprietary/amsterdam-design-tokens/src/config.json
  proprietary/amsterdam-design-tokens/src/index.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Nedap
  packages/example-theme/figma/example.tokens.json
Due: none

build: install minor updates
  package-lock.json
  package.json
  packages/example-theme/package.json
  packages/playroom/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: avoid automatic updates of patch versions
  .ncurc.patch.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update to React 18
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install patch updates
  package-lock.json
  package.json
  packages/example-theme/package.json
  packages/playroom/package.json
  packages/theme-toolkit/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: style dictionary dependency
  package-lock.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update design system alpha packages
  package-lock.json
  package.json
  script/generate-component-pages/page-template.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern
