Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: remove unnecessary React imports
  packages/theme-toolkit/src/ColorCard.tsx
  packages/theme-toolkit/src/ColorExample.tsx
  packages/theme-toolkit/src/ColorSearch.tsx
  packages/theme-toolkit/src/ColorTable.tsx
  packages/theme-toolkit/src/ComponentTokensSection.tsx
  packages/theme-toolkit/src/ComponentTokensTable.tsx
  packages/theme-toolkit/src/CopyCode.tsx
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
  packages/theme-toolkit/src/ExampleTokensJSON.tsx
  packages/theme-toolkit/src/component-stories-denhaag.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset template
  .changeset/README.md
  .changeset/config.json
Due: markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@94a8af848fb4a114f856efd349dac7545a3cdd80 🚀
  project.json
Due: none

chore: remove proptypes
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ColorCard.tsx
  packages/theme-toolkit/src/ColorExample.tsx
  packages/theme-toolkit/src/ColorSearch.tsx
  packages/theme-toolkit/src/ColorTable.tsx
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/ComponentTokensSection.tsx
  packages/theme-toolkit/src/ComponentTokensTable.tsx
  packages/theme-toolkit/src/CopyButton.tsx
  packages/theme-toolkit/src/CopyCode.tsx
  packages/theme-toolkit/src/CustomStory.tsx
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
  packages/theme-toolkit/src/ExampleTokensJSON.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: nicer error message when color query cannot be parsed
  packages/theme-toolkit/src/ColorSearch.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: migrate theme-toolkit to TypeScript
  .changeset/rude-birds-tap.md
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ColorCard.tsx
  packages/theme-toolkit/src/ColorExample.tsx
  packages/theme-toolkit/src/ColorSearch.tsx
  packages/theme-toolkit/src/ColorTable.jsx
  packages/theme-toolkit/src/ColorTable.tsx
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/ComponentTokensSection.tsx
  packages/theme-toolkit/src/ComponentTokensTable.tsx
  packages/theme-toolkit/src/CopyButton.tsx
  packages/theme-toolkit/src/CopyCode.tsx
  packages/theme-toolkit/src/CustomStory.tsx
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
  packages/theme-toolkit/src/ExampleTokensJSON.tsx
  packages/theme-toolkit/src/color-util.ts
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/theme-toolkit/src/design-tokens.js
  packages/theme-toolkit/src/design-tokens.ts
  packages/theme-toolkit/src/index.mjs
  packages/theme-toolkit/src/index.tsx
  packages/theme-toolkit/src/util.js
  packages/theme-toolkit/src/util.ts
  packages/theme-toolkit/tsconfig.dist.json
  packages/theme-toolkit/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: allow unused variables that start with _
  .eslintrc.json
Due: none

Icon toegevoegd met bijbehorende tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

commit
  proprietary/groningen-design-tokens/figma/figma.tokens.json
Due: none

Switch tokens zoals toegevoegd tijdens Estafettemodeldag 2
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add utrecht accordion
  packages/voorbeeld-design-tokens/documentation/accordion/utrecht-accordion.stories.tsx
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht alert
  packages/voorbeeld-design-tokens/documentation/alert/utrecht-alert.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht blockquote
  packages/voorbeeld-design-tokens/documentation/blockquote/utrecht-blockquote.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: patch and minor updates for packages
  package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add utrecht form field
  packages/voorbeeld-design-tokens/documentation/form-field/utrecht-form-field.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht table
  packages/voorbeeld-design-tokens/documentation/table/utrecht-table.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update npm-package-json-lint config
  .npmpackagejsonlintrc.json
  npmpackagejsonlint.config.cjs
  package.json
  packages/.npmpackagejsonlintrc.json
  proprietary/.npmpackagejsonlintrc.json
  proprietary/LICENSE.md
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Consistent doorvoeren van common tokens op alle relevante componenten, in plaats van de brand tokens
  proprietary/groningen-design-tokens/figma/figma.tokens.json
Due: none

chore: update formatting configuration
  .editorconfig
  .prettierrc.json
  packages/theme-switcher/src/generate-json.mjs
  packages/theme-toolkit/rollup.config.mjs
  prettier.config.cjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@5f0bf2638b8d9c70e1ea645e299e21981ba42583 🚀
  project.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@867a520f1c45adfe140cbf8f4ecaa20fca1b653b 🚀
  project.json
Due: none

docs: add changelog for adding ColorSearch and ColorTable
  .changeset/witty-deers-bathe.md
Due: markdownlint, prettier --check
