Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

changelog-edits/2.3.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

feat: add breadcrumb component tokens for Amsterdam
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

changelog-edits/2.4.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/2.5.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

fix: assets werken op productie niet (#1236)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/figure/ams-figure.stories.tsx
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: assets werken op productie niet (#1236) (#1244)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/figure/ams-figure.stories.tsx
  packages/voorbeeld-design-tokens/documentation/image/utrecht-img.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: include preview stats (required for Chromatic TurboSnap)
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: enable Chromatic TurboSnap
  .github/workflows/publish.yml
Due: none

changelog-edits/2.7.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/2.8.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

ci: disable TurboSnap when tokens are changed (these are not properly detected by TurboSnap)
  .github/workflows/publish.yml
Due: none

First draft for Candidate Form Field Description design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

font-style is code only
  packages/start-design-tokens/figma/start.tokens.json
Due: none

ci: test chromatic turbosnap
  proprietary/enkhuizen-design-tokens/src/brand/enkhuizen/color.tokens.json
  proprietary/enkhuizen-design-tokens/src/brand/enkhuizen/typography.tokens.json
  proprietary/enkhuizen-design-tokens/src/common/utrecht/space.tokens.json
Due: none

docs(release): design system packages
  .changeset/case-card-tokens.md
  .changeset/case-card-voorbeeld.md
  .changeset/cold-actors-count.md
  .changeset/curly-braces-fix-voorbeeld.md
  .changeset/curly-braces-fix.md
  .changeset/data-badge-padding-voorbeeld.md
  .changeset/data-badge-padding.md
  .changeset/kind-mangos-pay.md
  .changeset/ninety-insects-ring.md
  .changeset/perfect-kings-kick.md
  .changeset/red-grapes-travel.md
  .changeset/swift-geckos-lie.md
  .changeset/tabs-design-tokens-voorbeeld.md
  .changeset/tabs-design-tokens.md
  .changeset/thin-pumpkins-impress.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/voorne-aan-zee-design-tokens/CHANGELOG.md
  proprietary/voorne-aan-zee-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

chore: add @nl-design-system-candidate/link-docs
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: use imported stories for the link candidate
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `ams-avatar` tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add `ams-avatar` tokens and remove `todo-avatar` tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/ams-avatar-tokens
Due: none

feat: add `ams-avatar` tokens and remove `todo-avatar` tokens (#1250)
  .changeset/ams-avatar-tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add ams-avatar tokens and remove todo-avatar tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/ams-avatar-tokens-voorbeeld.md
Due: markdownlint, prettier --check

feat: add ams-avatar tokens and remove todo-avatar tokens - Voorbeeld (#1251)
  .changeset/ams-avatar-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

feat: add rhc-dot-badge tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/rhc-dot-badge.md
Due: markdownlint, prettier --check

feat: add rhc-dot-badge tokens (#1252)
  .changeset/rhc-dot-badge.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

feat: add rhc-dot-badge tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/rhc-dot-badge-voorbeeld.md
Due: markdownlint, prettier --check

feat: add rhc-dot-badge tokens - Voorbeeld (#1253)
  .changeset/rhc-dot-badge-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

changelog-edits/2.11.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

feat: add ams-figure tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs
  .changeset/ams-figure-tokens.md
Due: markdownlint, prettier --check

changelog-edits/2.12.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

feat: add ams-figure tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none
