Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Adjusted spacing between icon and label for the link
  packages/example-theme/figma/example.tokens.json
Due: none

paragraph update
  packages/example-theme/figma/example.tokens.json
Due: none

paragraph update (#200)
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@27818aeb5606da8a6ecb9daa2385cca5006e781e 🚀
  iframe.html
  main.46e28dde.iframe.bundle.js
  main.46e28dde.iframe.bundle.js.LICENSE.txt
  main.46e28dde.iframe.bundle.js.map
  main.80914f2a.iframe.bundle.js
  main.80914f2a.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/example-theme/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/themes@c661ba81b6dd70cfa87f01a0f8076b956f6b467d 🚀
  iframe.html
  main.46e28dde.iframe.bundle.js
  main.46e28dde.iframe.bundle.js.map
  main.53b0bc64.iframe.bundle.js
  main.53b0bc64.iframe.bundle.js.LICENSE.txt
  main.53b0bc64.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Paragraph token update
  packages/example-theme/figma/example.tokens.json
Due: none

Vrijdagmiddag (#201)
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@8355e2ca60088f2742d4253c24f9e030ea9d3ade 🚀
  iframe.html
  main.30e1e20e.iframe.bundle.js
  main.30e1e20e.iframe.bundle.js.LICENSE.txt
  main.30e1e20e.iframe.bundle.js.map
  main.53b0bc64.iframe.bundle.js
  main.53b0bc64.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@c78abe1e4e53c55157463152c859d683bf695758 🚀
  iframe.html
  main.30e1e20e.iframe.bundle.js
  main.30e1e20e.iframe.bundle.js.map
  main.ef9e4ffb.iframe.bundle.js
  main.ef9e4ffb.iframe.bundle.js.LICENSE.txt
  main.ef9e4ffb.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

changed style of gemeente-y
  packages/example-theme/figma/example.tokens.json
Due: none

Avatar tokens toegevoegd
  packages/example-theme/figma/example.tokens.json
Due: none

refactor: simplify transformSource
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add playroom for demonstrating components
  .github/workflows/continuous-deployment.yml
  package-lock.json
  package.json
  packages/playroom/FrameComponent.jsx
  packages/playroom/components.js
  packages/playroom/package.json
  packages/playroom/playroom.config.js
  packages/playroom/themes.js
  packages/storybook/config/main.js
  packages/storybook/config/preview.js
  script/generate-component-pages/page-template.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

ci: 🔥 testing testing
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/themes@2dd1068e81adca65c660f10acdba85b9198743df 🚀
  iframe.html
  main.31f5556e.iframe.bundle.js
  main.31f5556e.iframe.bundle.js.LICENSE.txt
  main.31f5556e.iframe.bundle.js.map
  main.75a2cea3.iframe.bundle.js
  main.75a2cea3.iframe.bundle.js.map
  playroom/168.6e821511559eb686029a.js
  playroom/360.5abc538ce6fa025bf3c0.js
  playroom/429.809439c92f92030c463d.js
  playroom/429.809439c92f92030c463d.js.LICENSE.txt
  playroom/431.5933457632b79466deac.js
  playroom/431.5933457632b79466deac.js.LICENSE.txt
  playroom/431.css
  playroom/452.6870146e838aeea0c93b.js
  playroom/452.6870146e838aeea0c93b.js.LICENSE.txt
  playroom/frame.8cb25a0753dd28e38fdc.js
  playroom/frame.css
  playroom/frame.html
  playroom/index.3b48cfcb88eccc14597a.js
  playroom/index.html
  playroom/playroom/168.6d48407b0a9251d96a8f.js
  playroom/playroom/frame.html
  playroom/playroom/index.html
  playroom/playroom/preview/index.html
  playroom/preview.878833757dbad0bcda5e.js
  playroom/preview.css
  playroom/preview/index.html
  playroom/runtime.4fca903ac92786c05c68.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/themes@e179160ee0b1c0296a4ed2328bcea6a69f6eb992 🚀
  addons/playroom/168.fb16f9c47b43fa090764.js
  addons/playroom/360.5abc538ce6fa025bf3c0.js
  addons/playroom/429.809439c92f92030c463d.js
  addons/playroom/429.809439c92f92030c463d.js.LICENSE.txt
  addons/playroom/431.5933457632b79466deac.js
  addons/playroom/431.5933457632b79466deac.js.LICENSE.txt
  addons/playroom/431.css
  addons/playroom/452.6870146e838aeea0c93b.js
  addons/playroom/452.6870146e838aeea0c93b.js.LICENSE.txt
  addons/playroom/frame.8cb25a0753dd28e38fdc.js
  addons/playroom/frame.css
  addons/playroom/frame.html
  addons/playroom/index.3b48cfcb88eccc14597a.js
  addons/playroom/index.html
  addons/playroom/preview.878833757dbad0bcda5e.js
  addons/playroom/preview.css
  addons/playroom/preview/index.html
  addons/playroom/runtime.4fca903ac92786c05c68.js
  iframe.html
  main.033306bd.iframe.bundle.js
  main.033306bd.iframe.bundle.js.LICENSE.txt
  main.033306bd.iframe.bundle.js.map
  main.31f5556e.iframe.bundle.js
  main.31f5556e.iframe.bundle.js.map
  playroom/168.6e821511559eb686029a.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fixup! feat: add playroom for demonstrating components
  .github/workflows/continuous-deployment.yml
  packages/playroom/playroom.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@cf9f922fa7a6605b0e1f6e015dc56cd1ac1fae74 🚀
  addons/playroom/168.fb16f9c47b43fa090764.js
  addons/playroom/452.6870146e838aeea0c93b.js
  addons/playroom/frame.html
  addons/playroom/index.html
  addons/playroom/preview/index.html
  addons/playroom/runtime.4fca903ac92786c05c68.js
  iframe.html
  main.033306bd.iframe.bundle.js
  main.033306bd.iframe.bundle.js.map
  main.e65cabfd.iframe.bundle.js
  main.e65cabfd.iframe.bundle.js.LICENSE.txt
  main.e65cabfd.iframe.bundle.js.map
  playroom/168.890a64b02080117fdf5c.js
  playroom/360.5abc538ce6fa025bf3c0.js
  playroom/429.809439c92f92030c463d.js
  playroom/429.809439c92f92030c463d.js.LICENSE.txt
  playroom/431.5933457632b79466deac.js
  playroom/431.5933457632b79466deac.js.LICENSE.txt
  playroom/431.css
  playroom/452.c2eada7054388d088e75.js
  playroom/452.c2eada7054388d088e75.js.LICENSE.txt
  playroom/frame.8cb25a0753dd28e38fdc.js
  playroom/frame.css
  playroom/frame.html
  playroom/index.3b48cfcb88eccc14597a.js
  playroom/index.html
  playroom/preview.878833757dbad0bcda5e.js
  playroom/preview.css
  playroom/preview/index.html
  playroom/runtime.08bb28456c9aa747a10a.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add snippets to playroom
  packages/playroom/playroom.config.js
  packages/playroom/snippets/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@f3858a7a0280dc02beeaebeb64d53d8366a6ae0a 🚀
  iframe.html
  main.1f2a1a1d.iframe.bundle.js
  main.1f2a1a1d.iframe.bundle.js.LICENSE.txt
  main.1f2a1a1d.iframe.bundle.js.map
  main.e65cabfd.iframe.bundle.js
  main.e65cabfd.iframe.bundle.js.map
  playroom/168.890a64b02080117fdf5c.js
  playroom/168.bfeb2922884f16dc7a66.js
  playroom/431.5933457632b79466deac.js
  playroom/431.9b5a9917356fb82fec1a.js
  playroom/431.9b5a9917356fb82fec1a.js.LICENSE.txt
  playroom/452.583bb2dd60252cb341cc.js
  playroom/452.583bb2dd60252cb341cc.js.LICENSE.txt
  playroom/452.c2eada7054388d088e75.js
  playroom/frame.html
  playroom/index.2ce11406464e4f730fc3.js
  playroom/index.3b48cfcb88eccc14597a.js
  playroom/index.html
  playroom/preview.878833757dbad0bcda5e.js
  playroom/preview.e0a458652440932bdebd.js
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/example-theme/package.json
  packages/playroom/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/themes@2bddd24f95af5b762f88a89b90932ea7bd63d2bf 🚀
  iframe.html
  main.0c4e7bc9.iframe.bundle.js
  main.0c4e7bc9.iframe.bundle.js.LICENSE.txt
  main.0c4e7bc9.iframe.bundle.js.map
  main.1f2a1a1d.iframe.bundle.js
  main.1f2a1a1d.iframe.bundle.js.map
  playroom/168.2691a00f9ba690ba5a54.js
  playroom/168.bfeb2922884f16dc7a66.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Headings opgesplits
  packages/example-theme/figma/example.tokens.json
Due: none

Headings opgesplits (#213)
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@615982973fdc8f180b2e2abd11b7395a37d5c3d0 🚀
  iframe.html
  main.0c4e7bc9.iframe.bundle.js
  main.0c4e7bc9.iframe.bundle.js.map
  main.17752af1.iframe.bundle.js
  main.17752af1.iframe.bundle.js.LICENSE.txt
  main.17752af1.iframe.bundle.js.map
  playroom/168.2691a00f9ba690ba5a54.js
  playroom/168.e7b14d06ef1202b84f11.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@cfed4bb27e00245fcfad6090aafb1427dde5ad46 🚀
  iframe.html
  main.17752af1.iframe.bundle.js
  main.17752af1.iframe.bundle.js.map
  main.39eef315.iframe.bundle.js
  main.39eef315.iframe.bundle.js.LICENSE.txt
  main.39eef315.iframe.bundle.js.map
  playroom/168.a7859488d001e541995b.js
  playroom/168.e7b14d06ef1202b84f11.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Figma Helpers
  packages/example-theme/figma/example.tokens.json
Due: none

nl.common.transparent.border-color vervangen
  packages/example-theme/figma/example.tokens.json
Due: none

nl.common.transparent.border-color vervangen (#215)
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@bb694d9a84d0f38ab063cee16d68a80adb6a2356 🚀
  iframe.html
  main.39eef315.iframe.bundle.js
  main.39eef315.iframe.bundle.js.map
  main.d13370ed.iframe.bundle.js
  main.d13370ed.iframe.bundle.js.LICENSE.txt
  main.d13370ed.iframe.bundle.js.map
  playroom/168.62e84f13442f762ee9c5.js
  playroom/168.a7859488d001e541995b.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
