Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

fix: task-list icon color
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: todo progress list naam aanpassing naar column-gap
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: todo breadcrumb tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

waarden van basis-tokens pointer-target en form-control omgezet naar relatieve notaties
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Create gemeentegroningen.tokens.json
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Update gemeentegroningen.tokens.json
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

feat: ondersteun dieper niveau in color tokens van colortable (#1080)
  packages/theme-toolkit/src/ColorTable.tsx
  packages/tokens-lib/src/util.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: make default typography flexible instead of hardcoded
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
Due: none

feat: update amsterdam design system packages (#1070) (#1071)
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/tokens-lib/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
  proprietary/amsterdam-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: update amsterdam design system packages (#1070)
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
Due: none

fix: run lint
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
Due: none

feat: add amsterdam page header to themes and visual regression test
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/page-header/ams-page-header.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove unintended merge effect
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
Due: none

fix: undo unintended merge effect
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
Due: none

feat: add amsterdam page header to themes and visual regression test (#1073)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/page-header/ams-page-header.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht action group to themes and visual regression test
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/action-group/utrecht-action-group.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht action group to themes and visual regression test (#1082)
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/action-group/utrecht-action-group.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add amsterdam page footer to themes and visual regression test
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/page-footer/ams-page-footer.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add amsterdam page footer to themes and visual regression test (#1072)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/page-footer/ams-page-footer.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/accordion-muziek-speelt.md
  .changeset/text-in-area.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add ams page-header tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: fix start-design tokens build
  packages/start-design-tokens/figma/start.tokens.json
Due: none

styling/brandtokenscolor
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

chore: disable test to fix build
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: disable test to fix build
  packages/theme-toolkit/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

styling/brand-tokens-swatches
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

chore: xdescribe --> describe.skip
  packages/theme-toolkit/src/style-dictionary.test.ts
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add ams page-footer tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

bg document en default color
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

font-family en font-weight tokens
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

docs: add changeset for ma-design-tokens
  .changeset/abuse-tape-tent.md
Due: markdownlint, prettier --check

common tokens colors
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

docs(release): design system packages
  .changeset/abuse-tape-tent.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

styling/state colors
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Error color fixes + border radius
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

colors/newbranding
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

koppeling/common-accent
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none
