Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add missing token for invalid border-block-end-width (#687)
  .changeset/tail-scale-angle.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align textarea tokens with code (#686)
  .changeset/maid-ditch-shelf.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align unordered-list tokens with code (#685)
  .changeset/shout-wheat-coast.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align textbox tokens with code (#688)
  .changeset/coin-ideal-coal.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: rename prefix for form-control border-width
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

changed prefix radiobutton and removed table row token.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

changed prefix radiobutton and removed table row token. (#693)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Added utrecht tokens from the Breadcrumb navigation.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add code tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: added code, code block and code font tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: import css
  proprietary/basic-theme-design-tokens/src/_responsive.scss
  proprietary/basic-theme-design-tokens/src/custom.scss
  proprietary/basic-theme-design-tokens/src/index.scss
Due: none

feat: add color sample tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add badge data tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: rename tokens theme
  proprietary/basic-theme-design-tokens/src/brand/basic-theme/color.tokens.json
  proprietary/basic-theme-design-tokens/src/brand/basic-theme/typography.tokens.json
  proprietary/basic-theme-design-tokens/src/common/utrecht/focus.tokens.json
  proprietary/basic-theme-design-tokens/src/common/utrecht/space.tokens.json
  proprietary/basic-theme-design-tokens/src/component/utrecht/button.tokens.json
Due: none

fix: rename title
  proprietary/basic-theme-design-tokens/README.md
  proprietary/basic-theme-design-tokens/documentation/color.mdx
  proprietary/basic-theme-design-tokens/documentation/design-tokens.mdx
  proprietary/basic-theme-design-tokens/documentation/readme.mdx
Due: markdownlint, prettier --check

feat: add basic theme
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/basic-theme-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: rename theme
  proprietary/basic-theme-design-tokens/documentation/components.stories.ts
  proprietary/basic-theme-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht drawer tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add mark tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: import font Roboto
  proprietary/basic-theme-design-tokens/src/font.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add pre-heading tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add dynamic theme selector configuration
  proprietary/basic-theme-design-tokens/style-dictionary.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: changed min-block-size
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: changed value of ordered and unordered list tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none
