Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

style: password input tokens amsterdam community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: password input tokens amsterdam community component - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/ams-password-input.md
Due: markdownlint, prettier --check

style: password input tokens amsterdam community component (#1334)
  .changeset/ams-password-input.md
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

changelog-edits/8.2.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/8.3.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

chore: upgrade Node.js to 24
  .nvmrc
Due: none

chore: increase allowed Node.js version range to 24-25
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: upgrade @types/node to match the used Node.js version
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

ci: cleanup workaround
  .github/workflows/publish.yml
Due: none

test: update test to match new value after Node upgrade
  packages/tokens-lib/src/color-util.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Add individual style JSON files for background, border, color, css, dimensions, filter, outline, shadow, spacing, and typography
  proprietary/leiden-design-tokens/src/wordpress/styles/background.json
  proprietary/leiden-design-tokens/src/wordpress/styles/border.json
  proprietary/leiden-design-tokens/src/wordpress/styles/color.json
  proprietary/leiden-design-tokens/src/wordpress/styles/css.json
  proprietary/leiden-design-tokens/src/wordpress/styles/dimensions.json
  proprietary/leiden-design-tokens/src/wordpress/styles/filter.json
  proprietary/leiden-design-tokens/src/wordpress/styles/outline.json
  proprietary/leiden-design-tokens/src/wordpress/styles/root.json
  proprietary/leiden-design-tokens/src/wordpress/styles/shadow.json
  proprietary/leiden-design-tokens/src/wordpress/styles/spacing.json
  proprietary/leiden-design-tokens/src/wordpress/styles/typography.json
Due: none

docs(release): design system packages
  .changeset/ams-password-input.md
  .changeset/date-input-box-shadow.md
  .changeset/denhaag-action-tokens.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

ci: separate codecov workflow
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

style: fieldset tokens utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

changelog-edit/8.4.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/9.0.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

changelog-edits/9.1.0
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Add Open Sans font source dependency at version 5.2.7
  pnpm-lock.yaml
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Add custom styles for openforms-card header to include border and spacing for title and subtitle when not started with a fieldset or no form is inside the openforms-card
  proprietary/leiden-design-tokens/src/index.scss
Due: none

introduce gap in openforms-input-container
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Update openforms-card header styles to include summary form handling
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for openforms-statement-checkboxes to match design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add styles for openforms radio and checkbox fields to match design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for file upload drop zone invalid state to match design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

opslaan en later verdergaan
  packages/start-design-tokens/figma/start.tokens.json
Due: none

opnieuw tussentijds opslaan
  packages/start-design-tokens/figma/start.tokens.json
Due: none

delete todo component tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add form field label suffix todo tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix order
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/form-token-alignment.md
Due: markdownlint, prettier --check

style: form components token alignment
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

tussentijds opslaan
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

suffix again
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

nieuwe toevoegingen
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
