Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: component stories candidate (WIP)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-candidate.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: import css
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: change import syntax
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add color sample
  package.json
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: data badge toevoegen
  package.json
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: nl-heading-1
  package.json
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add tsconfig configuration to support css path
  packages/voorbeeld-design-tokens/tsconfig.json
Due: none

feat: add all remaining candidate components
  package.json
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add candidate stories to regression
  package.json
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-candidate.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: sort alphabetically
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: enable npm publishing with OIDC
  .github/workflows/publish.yml
  .npmrc
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

style: add default variant
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: change purpose default styling
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: update changeset
  .changeset/candidate-button-tokens.md
Due: markdownlint, prettier --check

style: button candidate tokens (#1171)
  .changeset/candidate-button-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/candidate-button-tokens.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

style: button candidate tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/candidate-button-tokens-voorbeeld.md
Due: markdownlint, prettier --check

style: button candidate tokens - Voorbeeld (#1176)
  .changeset/candidate-button-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/candidate-button-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1177)
  .changeset/candidate-button-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: use start-theme instead of basis-theme
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/documentation/skip-link/nl-skip-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Kleuraanpassingen voor primairy colors
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Link list: default underlined
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

fix: improve link and tokens
  packages/theme-toolkit/src/component-stories-candidate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore(tokens): sync with NL Design System v4.1.1
  packages/ma-design-tokens/src/tokens.json
Due: none

chore: remove spaces
  packages/ma-design-tokens/src/tokens.json
Due: none

chore: remove unnecessary option
  .github/workflows/publish.yml
Due: none

fix: build error in json
  packages/ma-design-tokens/src/tokens.json
Due: none

style: change note bg and border-color
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: common focus colors
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/ma-sync-tokens.md
Due: markdownlint, prettier --check

chore(tokens): sync with NL Design System v4.1.1 (#1181)
  .changeset/ma-sync-tokens.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/ma-sync-tokens.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1182)
  .changeset/ma-sync-tokens.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
