Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

build: upgrade style-dictionary build scripts/configs to ESM
  proprietary/bodegraven-reeuwijk-design-tokens/style-dictionary.config.mjs
  proprietary/borne-design-tokens/style-dictionary.config.mjs
  proprietary/buren-design-tokens/style-dictionary.config.mjs
  proprietary/demodam-design-tokens/style-dictionary.config.mjs
  proprietary/dinkelland-design-tokens/style-dictionary.config.mjs
  proprietary/drechterland-design-tokens/style-dictionary.config.mjs
  proprietary/duiven-design-tokens/style-dictionary.config.mjs
  proprietary/duo-design-tokens/style-dictionary.config.mjs
  proprietary/enkhuizen-design-tokens/style-dictionary.config.mjs
  proprietary/haarlem-design-tokens/style-dictionary.config.mjs
  proprietary/haarlemmermeer-design-tokens/style-dictionary.config.mjs
  proprietary/hoorn-design-tokens/style-dictionary.config.mjs
  proprietary/horstaandemaas-design-tokens/style-dictionary.config.mjs
  proprietary/leidschendam-voorburg-design-tokens/style-dictionary.config.mjs
  proprietary/nijmegen-design-tokens/style-dictionary.config.mjs
  proprietary/noaberkracht-design-tokens/style-dictionary.config.mjs
  proprietary/noordoostpolder-design-tokens/style-dictionary.config.mjs
  proprietary/noordwijk-design-tokens/style-dictionary.config.mjs
  proprietary/provincie-zuid-holland-design-tokens/style-dictionary.config.mjs
  proprietary/ridderkerk-design-tokens/style-dictionary.config.mjs
  proprietary/stedebroec-design-tokens/style-dictionary.config.mjs
  proprietary/tilburg-design-tokens/style-dictionary.config.mjs
  proprietary/tubbergen-design-tokens/style-dictionary.config.mjs
  proprietary/venray-design-tokens/style-dictionary.config.mjs
  proprietary/vught-design-tokens/style-dictionary.config.mjs
  proprietary/westervoort-design-tokens/style-dictionary.config.mjs
  proprietary/xxllnc-design-tokens/style-dictionary.config.mjs
  proprietary/zevenaar-design-tokens/style-dictionary.config.mjs
  proprietary/zwolle-design-tokens/style-dictionary.config.mjs
  style-dictionary-config.mjs
Due: none

fix: $value should have precedence when retrieving the value
  style-dictionary-config.mjs
Due: none

feat: add Style Dictionary transform to turn "None" values into "none"
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix syntax for zero/empty values
  proprietary/tubbergen-design-tokens/src/component/conduction/logo.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/voorne-aan-zee-design-tokens/src/tokens.json
Due: none

fix: correct syntax for referencing another token (missing braces)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/xxllnc-design-tokens/src/component/conduction/pagination.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/noordwijk-design-tokens/src/component/utrecht/form-input.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/noordwijk-design-tokens/src/component/conduction/logo.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/epe-design-tokens/src/component/conduction/logo.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/dinkelland-design-tokens/src/component/conduction/logo.tokens.json
Due: none

build: fail the test command if it fails
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: correct syntax for referencing another token (missing braces)
  proprietary/buren-design-tokens/src/component/den-haag/step-marker.tokens.json
Due: none

fix: select the right token value from a group, instead of referencing the group itself
  proprietary/buren-design-tokens/src/component/den-haag/process-steps.tokens.json
  proprietary/buren-design-tokens/src/component/den-haag/step-marker.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/document.tokens.json
Due: none

fix: correct syntax for referencing another token (missing braces)
  proprietary/zaanstad-design-tokens/src/tokens.json
Due: none

docs: add changesets for fixed design tokens
  .changeset/curvy-jobs-repeat.md
  .changeset/loud-flowers-sip.md
  .changeset/nine-radios-boil.md
  .changeset/sharp-pigs-flow.md
  .changeset/silent-seals-train.md
Due: markdownlint, prettier --check

fix: fix syntax for zero/empty values
  proprietary/zaanstad-design-tokens/figma/zaanstad.tokens.json
Due: none

fix: correct filename to be included in build
  proprietary/demodam-design-tokens/src/component/utrecht/heading-5.tokens.json
Due: none

fix: reference without .value suffix (disallowed in SD5)
  proprietary/demodam-design-tokens/src/component/utrecht/heading-5.tokens.json
Due: none

fix: reference without .value suffix (disallowed in SD5)
  proprietary/duo-design-tokens/src/component/utrecht/table.tokens.json
Due: none

docs: add changeset for SD5 upgrade
  .changeset/orange-cows-joke.md
  .changeset/poor-pans-clap.md
Due: markdownlint, prettier --check

checkbox fix
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

build: decouple test-build command from test (and ensure pipeline still calls it)
  .github/workflows/publish.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: revert to using npm-run-all for command
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: restore utrecht.checkbox.* tokens
  .changeset/moody-items-lay.md
Due: markdownlint, prettier --check

Leiden utrecht-checkbox token fix (#1635)
  .changeset/moody-items-lay.md
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: markdownlint, prettier --check

feat: normalize CSS in Style Dictionary output
  package.json
  pnpm-lock.yaml
  style-dictionary-config.mjs
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  .changeset/large-cows-scream.md
  .changeset/moody-items-lay.md
  .changeset/remove-icon-color.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  proprietary/leiden-design-tokens/CHANGELOG.md
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

build: make Sittard-Geleen theme public
  proprietary/sittard-geleen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages (#1632)
  .changeset/large-cows-scream.md
  .changeset/moody-items-lay.md
  .changeset/remove-icon-color.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  proprietary/leiden-design-tokens/CHANGELOG.md
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs: check with community stappenplan
  packages/voorbeeld-design-tokens/documentation/progress-list/denhaag-progress-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Den Haag Progress List to themes (#1542)
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/voorbeeld-design-tokens/documentation/progress-list/denhaag-progress-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: tweaks to Sittard-Geleen design tokens
  .changeset/humble-steaks-eat.md
  proprietary/sittard-geleen-design-tokens/src/generate-theme.mts
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/humble-steaks-eat.md
  proprietary/sittard-geleen-design-tokens/CHANGELOG.md
  proprietary/sittard-geleen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

chore: hergebruik theme-wizard utils voor sittard-geleen thema
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/util.mts
Due: npmPkgJsonLint --allowEmptyTargets
