Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add Checkbox tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename checkbox story
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: add new known extensions
  .changeset/eleven-suits-nail.md
  packages/tokens-lib/src/design-tokens.ts
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Added additional tokens for Heading component. Referenced them from Heading 1/6 components.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: delete pre-heading tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@5fc5e952a1b362ba44a24bc8e7a3973b37ab175d 🚀
  project.json
Due: none

style: add candidate tokens for icon
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: show all `.mdx` files in Storybook, not a selected few
  packages/storybook/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset for Groningen design tokens
  .changeset/mighty-beds-carry.md
Due: markdownlint, prettier --check

docs: show Groningen CHANGELOG in Storybook
  proprietary/groningen-design-tokens/documentation/changelog.mdx
Due: none

style: change color of mark component
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add changeset
  .changeset/rich-horses-occur.md
Due: markdownlint, prettier --check

Feat/purmerend marwa (#835)
  .changeset/rich-horses-occur.md
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: markdownlint, prettier --check

style: adjusted font-size of heading
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

WIP
  packages/radix-design-tokens/documentation/ColorSampleList.css
  packages/radix-design-tokens/documentation/ColorSampleList.tsx
  packages/radix-design-tokens/documentation/basis-tokens.mdx
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/purmerend-design-tokens/documentation/ColorSampleList.css
  proprietary/purmerend-design-tokens/documentation/ColorSampleList.tsx
  proprietary/purmerend-design-tokens/documentation/color-sample.mjs
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

wip
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

style: update nora-figure tokens
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

chore: rename metadata panel to information panel
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

chore: refactor nora-figure tokens
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

feat: Darkmode/Lightmode purmerend color
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: Dark mode/Light mode Stap 1
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: add darkmode text en border colors in basis tokens
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
Due: none

feat: add link focus color and form border color tokens
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

wip: radio-button state color tokens
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: scaling touch up and adding radio button state colors
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: add 8 nl-design-system-candidate components
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  packages/voorbeeld-design-tokens/documentation/color-sample/nl-color-sample.stories.tsx
  packages/voorbeeld-design-tokens/documentation/data-badge/nl-data-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/heading/nl-heading.stories.tsx
  packages/voorbeeld-design-tokens/documentation/mark/nl-mark.stories.tsx
  packages/voorbeeld-design-tokens/documentation/number-badge/nl-number-badge.stories.tsx
  packages/voorbeeld-design-tokens/documentation/paragraph/nl-paragraph.stories.tsx
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
