Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: use correct `role="img"` for Design Tokens Table
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/components-react/design-tokens-table-react/src/FontFamilySample.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use correct `role="img"` for Design Tokens Table
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.test.tsx
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/components-react/design-tokens-table-react/src/FontFamilySample.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: token typo
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/polite-snails-brake.md
  proprietary/purmerend-design-tokens/CHANGELOG.md
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add link tokens to theme builder
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add placeholder link tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add classname to link placeholder
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@a8c50e5b56bc404db317f848f7f29c957952f54d 🚀
  project.json
Due: none

style: fix fieldset legend bold text
  .changeset/shaggy-donkeys-hear.md
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: markdownlint, prettier --check

feat: add 4 new design token types
  packages/components-react/design-tokens-table-react/src/TokenTypeIcon.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add 4 new token types and length icon
  packages/components-react/design-tokens-table-react/src/TokenTypeIcon.tsx
  packages/tokens-lib/src/token-type.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht heading tokens to heading component 1,2 and 3
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht heading tokens to heading component 4,5 and 6
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add margin tokens to all headings
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rename link token
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: removed classname
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add paragraph tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add separator tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add data-badge tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add document tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add select tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add textarea tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add textbox tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add table tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed unnecessary marks
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: add text underline offset to link Purmerend theme
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@d1a4c18c805ada9792841764c121486e2932379a 🚀
  project.json
Due: none

feat: add outline style dashed to purmerend theme
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

refactor: add underline hover states and offset to Basic theme
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: add code block tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add code tokens
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
