Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add den haag case card to themes and visual regression test
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/case-card/denhaag-case-card.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add utrecht link list to themes and visual regression test (#1068)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/link-list/utrecht-link-list.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/accordion-muziek-speelt.md
  .changeset/text-in-area.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: use dutch example text from github discussion for case card
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/voorbeeld-design-tokens/documentation/case-card/denhaag-case-card.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use maxinlinesize instead of maxwidth in case card story
  packages/voorbeeld-design-tokens/documentation/case-card/denhaag-case-card.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add den haag case card to themes and visual regression test (#1066)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/case-card/denhaag-case-card.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: update amsterdam design system packages (#1070)
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/tokens-lib/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
  proprietary/amsterdam-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: run lint
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
Due: none

feat: consider default style in ams typography
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
Due: none

feat(start-theme): add code to build start-theme
  packages/start-design-tokens/LICENSE.md
  packages/start-design-tokens/figma/color-scheme-dark.tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/start-design-tokens/package.json
  packages/start-design-tokens/src/config.json
  packages/start-design-tokens/src/font.js
  packages/start-design-tokens/src/font.scss
  packages/start-design-tokens/src/index.scss
  packages/start-design-tokens/style-dictionary.config.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: support dark mode in stories
  packages/theme-toolkit/src/CustomStory.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use structuredClone for safe modification of object
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(start-theme): add minimal code to build start-theme
  packages/start-design-tokens/LICENSE.md
  packages/start-design-tokens/package.json
  packages/start-design-tokens/src/config.json
  packages/start-design-tokens/style-dictionary.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat(start-theme): add minimal code to build start-theme
  packages/start-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat(start-theme): add minimal code to build start-theme (#1075)
  packages/start-design-tokens/LICENSE.md
  packages/start-design-tokens/package.json
  packages/start-design-tokens/src/config.json
  packages/start-design-tokens/style-dictionary.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: publish start-thema package to npm
  packages/start-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: publish start-thema package to npm
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

refactor: export preprocessor utilities as full preprocessor style dictionary objects
  packages/ma-design-tokens/style-dictionary.mjs
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: fallback for dark mode support using basis tokens to utrecht document token
  packages/theme-toolkit/src/CustomStory.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: re-add `ma` tokens based on Start thema basis tokens (#1052)
  packages/ma-design-tokens/documentation/component-tokens.stories.ts
  packages/ma-design-tokens/documentation/components.stories.ts
  packages/ma-design-tokens/src/color-scheme-dark/tokens.json
  packages/ma-design-tokens/src/tokens.json
  packages/ma-design-tokens/style-dictionary.mjs
  packages/storybook/config/preview.ts
  packages/theme-toolkit/src/CustomStory.tsx
  proprietary/epe-design-tokens/documentation/component-tokens.stories.ts
  proprietary/epe-design-tokens/documentation/components.stories.ts
  proprietary/epe-design-tokens/style-dictionary.mjs
  proprietary/example-design-tokens/src/color-scheme-dark/tokens.json
  proprietary/example-design-tokens/style-dictionary.mjs
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Convert to W3C DTCG format, read more at https://docs.tokens.studio/convert-to-dtcg-format
  proprietary/groningen-design-tokens/figma/figma.tokens.json
Due: none

Create voorbeeld.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Rename voorbeeld.tokens.json to voorbeeld.tokens-old.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens-old.json
Due: none

fix: update style-dictionary.test which tests for voorbeeld-token button properties
  packages/theme-toolkit/src/style-dictionary.test.ts
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Voorbeeld huisstijl doorgevoerd
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Naam token aangepast en breadcrumb token toegevoegd
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

refactor: use new token structure
  packages/voorbeeld-design-tokens/documentation/color.mdx
  packages/voorbeeld-design-tokens/documentation/typography.mdx
  pnpm-lock.yaml
Due: none

build: add dependency to avoid build order issues
  packages/tokens-lib/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

fix: remove cyclic dependency
  packages/tokens-lib/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Action 2 in dark mode naar blauwe tint
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: case-card-update
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Remove name token
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: tokenset skip-link position
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Page number navigation underline
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: column-gap naam en waarde
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: color-scheme-dark setup
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add unit to 0 values
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none
