Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Update default font family to include Arial
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: remove dashboard from start design tokens
  packages/start-design-tokens/documentation/dashboard.mdx
Due: none

fix: select the right token value from a group, instead of referencing the group itself
  proprietary/buren-design-tokens/src/component/den-haag/process-steps.tokens.json
  proprietary/buren-design-tokens/src/component/den-haag/step-marker.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/document.tokens.json
Due: none

fix: correct syntax for referencing another token (missing braces)
  proprietary/buren-design-tokens/src/component/den-haag/step-marker.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/dinkelland-design-tokens/src/component/conduction/logo.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/epe-design-tokens/src/component/conduction/logo.tokens.json
Due: none

fix: correct syntax for referencing another token (missing braces)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/noordwijk-design-tokens/src/component/conduction/logo.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/noordwijk-design-tokens/src/component/utrecht/form-input.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/tubbergen-design-tokens/src/component/conduction/logo.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/voorne-aan-zee-design-tokens/src/tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/xxllnc-design-tokens/src/component/conduction/pagination.tokens.json
Due: none

fix: fix syntax for zero/empty values
  proprietary/zaanstad-design-tokens/figma/zaanstad.tokens.json
Due: none

fix: correct syntax for referencing another token (missing braces)
  proprietary/zaanstad-design-tokens/src/tokens.json
Due: none

docs: add changesets for fixed design tokens
  .changeset/curvy-jobs-repeat.md
  .changeset/loud-flowers-sip.md
  .changeset/nine-radios-boil.md
  .changeset/sharp-pigs-flow.md
  .changeset/silent-seals-train.md
Due: markdownlint, prettier --check

fix: correct filename to be included in build
  proprietary/demodam-design-tokens/src/component/utrecht/heading-5.tokens.json
Due: none

fix: reference without .value suffix (disallowed in SD5)
  proprietary/demodam-design-tokens/src/component/utrecht/heading-5.tokens.json
Due: none

fix: reference without .value suffix (disallowed in SD5)
  proprietary/duo-design-tokens/src/component/utrecht/table.tokens.json
Due: none

add changeset
  .changeset/marieke-eerste-change.md
Due: markdownlint, prettier --check

docs: add changeset for SD5 upgrade
  .changeset/orange-cows-joke.md
  .changeset/poor-pans-clap.md
Due: markdownlint, prettier --check

Update changelog for NL Design System 15.0.0
  .changeset/changelog-1500-disabled.md
Due: markdownlint, prettier --check

test: re-enable Style Dictionary build tests (fixed with recent build output)
  packages/tokens-lib/src/style-dictionary.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

update design tokens based on figma check
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add gemeente losser theme
  proprietary/losser-design-tokens/LICENSE.md
  proprietary/losser-design-tokens/README.md
  proprietary/losser-design-tokens/documentation/changelog.mdx
  proprietary/losser-design-tokens/documentation/color.mdx
  proprietary/losser-design-tokens/documentation/component-tokens.stories.ts
  proprietary/losser-design-tokens/documentation/components.stories.ts
  proprietary/losser-design-tokens/documentation/design-tokens.mdx
  proprietary/losser-design-tokens/documentation/readme.mdx
  proprietary/losser-design-tokens/documentation/typography.mdx
  proprietary/losser-design-tokens/figma/losser.tokens.json
  proprietary/losser-design-tokens/package.json
  proprietary/losser-design-tokens/src/config.json
  proprietary/losser-design-tokens/src/font.js
  proprietary/losser-design-tokens/src/font.scss
  proprietary/losser-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: pnpm i
  pnpm-lock.yaml
Due: none

chore: add missing changelog
  proprietary/losser-design-tokens/CHANGELOG.md
Due: markdownlint, prettier --check

docs: Stappenplan nieuwe organisatie - 2.2 Organisatie thema gebruiken in Storybook
  .changeset/clever-schools-tan.md
  .github/CODEOWNERS
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: sonar duplicate code progress list story
  packages/theme-toolkit/src/component-stories-denhaag.tsx
  packages/voorbeeld-design-tokens/documentation/progress-list/denhaag-progress-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Den Haag Progress List story
  packages/voorbeeld-design-tokens/documentation/progress-list/denhaag-progress-list.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

add margin-block tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add utrecht note to themes and visual regression
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/note/utrecht-note.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add gemeente losser theme (#1553)
  .changeset/clever-schools-tan.md
  .github/CODEOWNERS
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/losser-design-tokens/CHANGELOG.md
  proprietary/losser-design-tokens/LICENSE.md
  proprietary/losser-design-tokens/README.md
  proprietary/losser-design-tokens/documentation/changelog.mdx
  proprietary/losser-design-tokens/documentation/color.mdx
  proprietary/losser-design-tokens/documentation/component-tokens.stories.ts
  proprietary/losser-design-tokens/documentation/components.stories.ts
  proprietary/losser-design-tokens/documentation/design-tokens.mdx
  proprietary/losser-design-tokens/documentation/readme.mdx
  proprietary/losser-design-tokens/documentation/typography.mdx
  proprietary/losser-design-tokens/figma/losser.tokens.json
  proprietary/losser-design-tokens/package.json
  proprietary/losser-design-tokens/src/config.json
  proprietary/losser-design-tokens/src/font.js
  proprietary/losser-design-tokens/src/font.scss
  proprietary/losser-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update utrecht component library
  packages/basis-design-tokens/package.json
  packages/components-react/design-tokens-table-react/package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/documentation/note/utrecht-note.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: revert update utrecht component library
  packages/basis-design-tokens/package.json
  packages/components-react/design-tokens-table-react/package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/note/utrecht-note.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

- Changed colors for Losser.
  proprietary/losser-design-tokens/figma/losser.tokens.json
Due: none

style: card as link - third
  packages/start-design-tokens/figma/start.tokens.json
Due: none

nieuwe spacing
  packages/start-design-tokens/figma/start.tokens.json
Due: none
