Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: rename .ncurc.*.js -> .cjs
  .lintstagedrc.json
  .ncurc.major.cjs
  .ncurc.minor.cjs
  .ncurc.patch.cjs
  .prettierrc.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update minor versions
  package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: install patch updates
  package.json
  packages/storybook/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
  proprietary/dinkelland-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Aanpassingen na bieb sync
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

build: skip Publish to Chromatic for Dependabot PRs
  .github/workflows/continuous-deployment.yml
Due: none

Form field, form field error message en form field description terug naar community status.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

build: remove Storybook 6
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

feat: add MDX files
  packages/storybook/config/main.ts
  packages/theme-toolkit/src/ColorCard.jsx
  packages/theme-toolkit/src/ColorExample.jsx
  packages/theme-toolkit/src/ColorSearch.jsx
  packages/theme-toolkit/src/ColorTable.jsx
  packages/theme-toolkit/src/ComponentStories.jsx
  packages/theme-toolkit/src/ComponentTokensSection.jsx
  packages/theme-toolkit/src/ComponentTokensTable.jsx
  packages/theme-toolkit/src/CopyButton.jsx
  packages/theme-toolkit/src/CopyCode.jsx
  packages/theme-toolkit/src/CustomStory.jsx
  packages/theme-toolkit/src/DesignTokensTable.jsx
  packages/theme-toolkit/src/ExampleTokensCSS.jsx
  packages/theme-toolkit/src/ExampleTokensJSON.jsx
  packages/theme-toolkit/src/component-stories-denhaag.jsx
  packages/theme-toolkit/src/component-stories-utrecht.jsx
  packages/voorbeeld-design-tokens/documentation/color.mdx
  packages/voorbeeld-design-tokens/documentation/design-tokens.mdx
  packages/voorbeeld-design-tokens/documentation/design-tokens.stories.mdx
  packages/voorbeeld-design-tokens/documentation/readme.mdx
  packages/voorbeeld-design-tokens/documentation/readme.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Open dag test
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: exclude Haarlem typography.mdx
  proprietary/haarlem-design-tokens/documentation/typography._mdx
Due: none

fix: remove CSS component library import, use CSS injection instead
  packages/storybook/config/preview.ts
  packages/theme-toolkit/src/component-stories-utrecht.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
