Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs(candidate): boyscout candidate while adding candidate button (#1287)
  packages/theme-toolkit/src/component-stories-candidate.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/link/nl-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

add changeset
  .changeset/form-token-alignment-voorbeeld.md
Due: markdownlint, prettier --check

style: form components token alignment (#1340)
  .changeset/form-token-alignment.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

style: form components token alignment - Voorbeeld (#1341)
  .changeset/form-token-alignment-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: format document to pass linting
  proprietary/groningen-design-tokens/README.md
Due: markdownlint, prettier --check

Update README.md (#1322)
  proprietary/groningen-design-tokens/README.md
Due: markdownlint, prettier --check

fix: rename tokenset data-list to data-summary
  packages/start-design-tokens/figma/start.tokens.json
Due: none

add changeset
  .changeset/data-list-summary.md
Due: markdownlint, prettier --check

fix: rename tokenset data-list to data-summary (#1343)
  .changeset/data-list-summary.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

Add border settings configuration
  proprietary/leiden-design-tokens/src/wordpress/settings/border.json
Due: none

Update color settings to enable various color options and configurations
  proprietary/leiden-design-tokens/src/wordpress/settings/color.json
Due: none

Update dimensions configuration to include minHeight setting
  proprietary/leiden-design-tokens/src/wordpress/settings/dimensions.json
Due: none

Update layout settings to adjust contentSize and wideSize values
  proprietary/leiden-design-tokens/src/wordpress/settings/layout.json
Due: none

Add position settings with sticky option in position.json
  proprietary/leiden-design-tokens/src/wordpress/settings/position.json
Due: none

Add defaultPresets setting to shadow configuration
  proprietary/leiden-design-tokens/src/wordpress/settings/shadow.json
Due: none

Update spacing settings to include blockGap, margin, padding, units, and customSpacingSize
  proprietary/leiden-design-tokens/src/wordpress/settings/spacing.json
Due: none

Add useRootPaddingAwareAlignments setting to configuration
  proprietary/leiden-design-tokens/src/wordpress/settings/useRootPaddingAwareAlignments.json
Due: none

Add initial link.json file for link styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/link.json
Due: none

Add heading.json file for heading styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/heading.json
Due: none

Add h6.json file for h6 element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h6.json
Due: none

Add h5.json file for h5 element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h5.json
Due: none

Add h4.json file for h4 element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h4.json
Due: none

Add h3.json file for h3 element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h3.json
Due: none

Add h2.json file for h2 element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h2.json
Due: none

Add h1.json file for h1 element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h1.json
Due: none

Add cite.json file for cite element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/cite.json
Due: none

Add caption.json file for caption element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/caption.json
Due: none

Add button.json file for button element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/button.json
Due: none

Add core-image.json file for core image element styles
  proprietary/leiden-design-tokens/src/wordpress/styles/blocks/core-image.json
Due: none

Enhance themeJsonFormatter: improve reference resolution and logging for styles loading
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

chore: update since dependency updates in main
  packages/start-design-tokens/documentation/color.mdx
  packages/start-design-tokens/documentation/component-tokens.stories.ts
  packages/start-design-tokens/documentation/components.stories.ts
  packages/start-design-tokens/documentation/dashboard.mdx
  packages/start-design-tokens/documentation/design-tokens.mdx
  packages/start-design-tokens/documentation/readme.mdx
  packages/start-design-tokens/documentation/typography.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update since dependency updates in main
  packages/start-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: remove basis-design-tokens from themes storybook sidebar (#1286)
  .changeset/brown-queens-ring.md
  packages/basis-design-tokens/documentation/color.mdx
  packages/basis-design-tokens/documentation/component-tokens.stories.ts
  packages/basis-design-tokens/documentation/components.stories.ts
  packages/basis-design-tokens/documentation/design-tokens.mdx
  packages/basis-design-tokens/documentation/editor.mdx
  packages/basis-design-tokens/documentation/readme.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/ams-password-input.md
  .changeset/brown-queens-ring.md
  .changeset/data-list-summary.md
  .changeset/date-input-box-shadow.md
  .changeset/denhaag-action-tokens.md
  .changeset/form-token-alignment-voorbeeld.md
  .changeset/form-token-alignment.md
  packages/basis-design-tokens/CHANGELOG.md
  packages/basis-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/epe-design-tokens/CHANGELOG.md
  proprietary/epe-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

ci: separate codecov workflow
  .github/workflows/codecov.yml
  .github/workflows/publish.yml
Due: none

Style: form components token alignment
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Aanpassingen: - Font - Border radius
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Link list: default underlined
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Kleuraanpassingen voor primairy colors
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Checkbox and radiobutton selected colors change
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
