Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: use basis-theme for example-theme
  pnpm-lock.yaml
  proprietary/example-design-tokens/documentation/design-tokens.mdx
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/example-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/example-design-tokens/src/color-scheme-dark/tokens.json
  proprietary/example-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/example-design-tokens/src/tokens.json
  proprietary/example-design-tokens/style-dictionary.config.js
  proprietary/example-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

ci: add jsx to tsconfig to prevent IDE error in ThemeBuilder
  tsconfig.json
Due: none

docs: add table of contents for theme builder page
  proprietary/basis-design-tokens/documentation/ThemeBuilder.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Project Wallace explanation
  proprietary/basis-design-tokens/documentation/ThemeBuilder.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add border radius to theme builder
  proprietary/basis-design-tokens/documentation/ThemeBuilder.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: move datalist elements to the section where they are used
  proprietary/basis-design-tokens/documentation/ThemeBuilder.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: samen met Bryan en Jeff uitgeplozen
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: add community Contact Timeline and Process Steps tokens of den haag
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: restore simplified tokens for Task List component
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: remove storybook version
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Added the utrecht Navigation Bar tokens.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Added dot-badge to components
  packages/voorbeeld-design-tokens/documentation/dot-badge/rhc-dot-badge.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

IND hupaskee
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Added Rijkshuisstijl stories Theme toegevoegd aan preview. Desing tokens pacakge geinstalleerd.
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-rhc.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

changed prefix of blockquote row-gap to utrecht
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
