Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/themes@49dd100775ce55d9e0060aeec0bebd569253fe11 🚀
  iframe.html
  main.92529ef2.iframe.bundle.js
  main.92529ef2.iframe.bundle.js.LICENSE.txt
  main.92529ef2.iframe.bundle.js.map
  main.c2e5691a.iframe.bundle.js
  main.c2e5691a.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/example-theme/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: support Figma Tokens in design token overview pages
  packages/example-theme/figma/example.tokens.json
  packages/theme-toolkit/src/ColorTable.jsx
  packages/theme-toolkit/src/DesignTokensTable.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: improve example theme docs
  .prettierignore
  package-lock.json
  packages/example-theme/.gitignore
  packages/example-theme/documentation/color.stories.mdx
  packages/example-theme/package.json
  packages/example-theme/src/brand/color.tokens.json
  packages/example-theme/src/figma.tokens.json
  packages/example-theme/src/font.js
  packages/storybook/config/preview.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

ci: use GH_TOKEN so we can push version commits
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/themes@80685ce19db0e445e14686faa31a2b351526b47b 🚀
  iframe.html
  main.be51ceb9.iframe.bundle.js
  main.be51ceb9.iframe.bundle.js.map
  main.e977a796.iframe.bundle.js
  main.e977a796.iframe.bundle.js.LICENSE.txt
  main.e977a796.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP
  packages/example-theme/.gitignore
  packages/example-theme/package.json
  packages/example-theme/src/figma.tokens.json
  style-dictionary-config.js
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

go
  packages/example-theme/figma/example.tokens.json
Due: none

Gemeente-x miste nog. Opnieuw toegevoegd
  packages/example-theme/figma/example.tokens.json
Due: none

Nog eens met Gemeente X thema
  packages/example-theme/figma/example.tokens.json
Due: none

go (#180)
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@0c9800d66af0bbf8caacafba171740c64ef2592c 🚀
  iframe.html
  main.4efecd45.iframe.bundle.js
  main.4efecd45.iframe.bundle.js.LICENSE.txt
  main.4efecd45.iframe.bundle.js.map
  main.e977a796.iframe.bundle.js
  main.e977a796.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: tokens for new Amsterdam Design System
  package-lock.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/amsterdam-design-tokens/src/font.scss
Due: npmPkgJsonLint --allowEmptyTargets

style: common tokens for Amsterdam space, viewport and typography
  packages/storybook/config/preview.js
  proprietary/amsterdam-design-tokens/documentation/typography.stories.mdx
  proprietary/amsterdam-design-tokens/src/_responsive.scss
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/typography.tokens.json
  proprietary/amsterdam-design-tokens/src/common/space.tokens.json
  proprietary/amsterdam-design-tokens/src/common/viewport.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/amsterdam-design-tokens/src/custom.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: archive v1 color scheme
  proprietary/amsterdam-design-tokens/documentation/color.stories.mdx
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/color.tokens.json
  proprietary/amsterdam-design-tokens/src/common/action-variant.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/badge-counter.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/badge.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/custom-checkbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: none

style: add new color pallette
  proprietary/amsterdam-design-tokens/documentation/color.stories.mdx
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/color.tokens.json
Due: none

style: button styles
  proprietary/amsterdam-design-tokens/src/component/amsterdam/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/config.json
Due: none

example
  packages/example-theme/figma/example.tokens.json
Due: none

Opsplitsen tokens sets
  packages/example-theme/figma/example.tokens.json
Due: none

Opsplitsen tokens sets (#185)
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@3adcafe3a9720810c3c65c3e517fc0a7b67fb8e4 🚀
  iframe.html
  main.00f9de8a.iframe.bundle.js
  main.00f9de8a.iframe.bundle.js.LICENSE.txt
  main.00f9de8a.iframe.bundle.js.map
  main.4efecd45.iframe.bundle.js
  main.4efecd45.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Split van Gemeente X
  packages/example-theme/figma/example.tokens.json
Due: none

build: include all Figma tokens in example theme
  packages/example-theme/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: remove and ignore generated tokens file in example-theme
  packages/example-theme/.gitignore
  packages/example-theme/src/figma.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@c77d3c13430c2452816ee31dc156f84d04d927b6 🚀
  iframe.html
  main.00f9de8a.iframe.bundle.js
  main.00f9de8a.iframe.bundle.js.map
  main.c931ce55.iframe.bundle.js
  main.c931ce55.iframe.bundle.js.LICENSE.txt
  main.c931ce55.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@862e88ce796bc3696c476811ed7ecdbcdca31801 🚀
  iframe.html
  main.38a4cc1d.iframe.bundle.js
  main.38a4cc1d.iframe.bundle.js.LICENSE.txt
  main.38a4cc1d.iframe.bundle.js.map
  main.c931ce55.iframe.bundle.js
  main.c931ce55.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Nogmaals splitten in sets.
  packages/example-theme/figma/example.tokens.json
Due: none

Plugin liep vast voor de zekerheid nog eens
  packages/example-theme/figma/example.tokens.json
Due: none

Plugin liep vast voor de zekerheid nog eens (#193)
  packages/example-theme/figma/example.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@1680d21771c20b77635a0e9cee0ba06dade88be1 🚀
  iframe.html
  main.38a4cc1d.iframe.bundle.js
  main.38a4cc1d.iframe.bundle.js.map
  main.fc654766.iframe.bundle.js
  main.fc654766.iframe.bundle.js.LICENSE.txt
  main.fc654766.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@a0e33e8bcc04d085ad6071b037823037be669593 🚀
  iframe.html
  main.80914f2a.iframe.bundle.js
  main.80914f2a.iframe.bundle.js.LICENSE.txt
  main.80914f2a.iframe.bundle.js.map
  main.fc654766.iframe.bundle.js
  main.fc654766.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
