Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Common tokens split
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Changeset toegevoegd
  .changeset/2024-08-15--jeff.md
Due: markdownlint, prettier --check

tokens referenties herstelt
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Breadcrumb tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: rename paragraph tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/kwik-kwek-kwak.md
Due: markdownlint, prettier --check

fix: rename counter-badge
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add changeset
  .changeset/appel-banaan-kiwi.md
Due: markdownlint, prettier --check

feat: add link-list tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add-changeset
  .changeset/worst-kaas-salami.md
Due: markdownlint, prettier --check

Convert to W3C DTCG format, read more at https://docs.tokens.studio/convert-to-dtcg-format
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

add-changeset
  .changeset/wee-drie-cee
Due: none

paragraph fix
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

counter-badge to badge-counter
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Update .changeset/wee-drie-cee
  .changeset/wee-drie-cee
Due: none

chore: use `.md` extension
  .changeset/wee-drie-cee.md
Due: markdownlint, prettier --check

feat: add Link list tokens. (#644)
  .changeset/wee-drie-cee.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

ci: stricter TypeScript configuration
  tsconfig.json
Due: none

ci: add Jest + Codecov.com
  .github/workflows/continuous-deployment.yml
  packages/theme-toolkit/jest.config.ts
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/setupJest.ts
  packages/theme-toolkit/tsconfig.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: improve TypeScript typing of theme toolkit
  packages/theme-toolkit/src/ColorSearch.tsx
  packages/theme-toolkit/src/ColorTable.tsx
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/ComponentTokensSection.tsx
  packages/theme-toolkit/src/ComponentTokensTable.tsx
  packages/theme-toolkit/src/CopyButton.tsx
  packages/theme-toolkit/src/CustomStory.tsx
  packages/theme-toolkit/src/DesignTokensTable.tsx
  packages/theme-toolkit/src/ExampleTokensCSS.tsx
  packages/theme-toolkit/src/ExampleTokensJSON.tsx
  packages/theme-toolkit/src/color-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/theme-toolkit/src/design-tokens.ts
  packages/theme-toolkit/src/util.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: add unit tests for theme toolkit
  packages/theme-toolkit/src/util.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: add unit tests for theme toolkit
  packages/theme-toolkit/src/ComponentTokensTable.test.tsx
  packages/theme-toolkit/src/CopyButton.test.tsx
  packages/theme-toolkit/src/CopyCode.test.tsx
  packages/theme-toolkit/src/CustomStory.test.tsx
  packages/theme-toolkit/src/DesignTokensTable.test.tsx
  packages/theme-toolkit/src/ExampleTokensCSS.test.ts
  packages/theme-toolkit/src/ExampleTokensJSON.test.tsx
  packages/theme-toolkit/src/design-tokens.test.ts
  packages/theme-toolkit/src/util.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern
