Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add purmerend theme
  .changeset/beige-beds-approve.md
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/basis-design-tokens/figma/basis.tokens.json
  proprietary/purmerend-design-tokens/README.md
  proprietary/purmerend-design-tokens/documentation/color.mdx
  proprietary/purmerend-design-tokens/documentation/components.stories.ts
  proprietary/purmerend-design-tokens/documentation/design-tokens.mdx
  proprietary/purmerend-design-tokens/documentation/readme.mdx
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
  proprietary/purmerend-design-tokens/package.json
  proprietary/purmerend-design-tokens/src/_responsive.scss
  proprietary/purmerend-design-tokens/src/config.json
  proprietary/purmerend-design-tokens/src/custom.scss
  proprietary/purmerend-design-tokens/src/font.js
  proprietary/purmerend-design-tokens/src/font.scss
  proprietary/purmerend-design-tokens/src/index.scss
  proprietary/purmerend-design-tokens/style-dictionary.mjs
  proprietary/purmerend-design-tokens/tsconfig.json
  style-dictionary-config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add `basis.color.focus.*` and `basis.color.selected.*` tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

chore: update sd and sd transform modules
  pnpm-lock.yaml
  proprietary/nora-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add changeset for NORA
  .changeset/nora-update-modules.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/beige-beds-approve.md
  .changeset/calm-timers-drive.md
  .changeset/nora-update-modules.md
  .changeset/seven-squids.md
  .changeset/six-squids-pump.md
  .changeset/witty-steaks-try.md
  packages/theme-toolkit/CHANGELOG.md
  packages/theme-toolkit/package.json
  packages/tokens-lib/CHANGELOG.md
  packages/tokens-lib/package.json
  proprietary/basis-design-tokens/CHANGELOG.md
  proprietary/basis-design-tokens/package.json
  proprietary/nora-design-tokens/CHANGELOG.md
  proprietary/nora-design-tokens/package.json
  proprietary/purmerend-design-tokens/CHANGELOG.md
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@56d7bc9b1d23ce853211c13511bafaf9f8c3fb77 🚀
  project.json
Due: none

Nieuwe waarde voor enkele tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

wat doet dit?
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Heading 1 to 6 as separate tokensets
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: candidate tokens for heading 1 to 6
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: color en style changes for Hoeksche Waard thema
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
Due: none

chore: add metadata-panel tokens set
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

feat: add candidate code-component tokens
  .changeset/old-insects-own.md
Due: markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@7cd5afb2a9ced8ac32fed83553f667416254ed56 🚀
  project.json
Due: none

docs(release): design system packages
  .changeset/old-insects-own.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@39cda82fd18e73a8d68291b163fdc13a571e04cb 🚀
  project.json
Due: none

feat: add font-family to root component purmerend theme
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

style: add community Contact Timeline and Process Steps tokens of den haag
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

wip
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: Darkmode/Lightmode purmerend color
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: Dark mode/Light mode Stap 1
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

Aanpassingen van donderdag
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Rearranged tokens for better scannability
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset purmerend design token
  .changeset/sour-zoos-lay.md
Due: markdownlint, prettier --check

feat: add darkmode text en border colors in basis tokens
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
Due: none

feat: add link focus color and form border color tokens
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: display design tokens for each component story
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

some todo tokens deleted, some renamed to utrecht prefix
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Wijzigingen tijdens samenwerkdag 4 november
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add lux login link tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: added font tokens and changed focus state to focus-visible
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
