Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add tokens for background-decorator in nora-page-section
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

refactor: rename nora-page-layout to nora-page-body
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

chore: update order of token sets
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

feat: add tokens for nora-page-content
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

Create nora-rename-page-layout
  .changeset/nora-rename-page-layout
Due: none

Create nora-refactor-figure
  .changeset/nora-refactor-figure
Due: none

Create nora-add-page-content
  .changeset/nora-add-page-content
Due: none

feat: add alert scale and error state token
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: add invalid textarea background-color
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

style: use `rem` for typography tokens in voorbeeld theme
  .changeset/beige-camels-think.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

open stad maakt geen gebruik van visited, wel van focus - zorgt nu voor een error bij 'terug' gaan naar pagina.
  proprietary/groningen-design-tokens/figma/figma.tokens.json
Due: none

ci: run `changeset status` in `main` branch CI
  .github/workflows/continuous-deployment.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: changeset changes to fix bug
  .changeset/soul-tempt-tool.md
Due: markdownlint, prettier --check

Update .github/workflows/continuous-deployment.yml
  .github/workflows/continuous-deployment.yml
Due: none

fix: changeset changes to fix bug
  .changeset/patch-fur-pair.md
Due: markdownlint, prettier --check

ci: check changeset in PRs
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: simplify changeset config
  .changeset/config.json
Due: none

feat: tokens for avatar, data-summary, label-link and information-panel
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

Create nora-information-panel.md
  .changeset/nora-information-panel.md
Due: markdownlint, prettier --check

Rename nora-add-page-content to nora-add-page-content.md
  .changeset/nora-add-page-content.md
Due: markdownlint, prettier --check

Rename nora-refactor-figure to nora-refactor-figure.md
  .changeset/nora-refactor-figure.md
Due: markdownlint, prettier --check

Rename nora-rename-page-layout to nora-rename-page-layout.md
  .changeset/nora-rename-page-layout.md
Due: markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@87b2968dc8568ce86479ba3af633df2554a1c16c 🚀
  project.json
Due: none

chore: rename metadata panel to information panel
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

chore: add metadata-panel tokens set
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none
