Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Page number navigation aangepast qua current page tokens
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Adjust pagination number styling for better visibility
  .changeset/pagination-number-styling
Due: none

Wijzigingen conform changelog 17.0.0
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Revise card component and update design tokens
  .changeset/changelog-edit-new.md
Due: markdownlint, prettier --check

Rename pagination-number-styling to pagination-number-styling.mdg
  .changeset/pagination-number-styling.mdg
Due: none

Rename pagination-number-styling.mdg to pagination-number-styling.md
  .changeset/pagination-number-styling.md
Due: markdownlint, prettier --check

Utrecht spotlight component hernoemd naar utrecht note, conform changelog 18.0.0
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

Update component names and colors in changelog
  .changeset/changelog.edtis.1800.md
Due: markdownlint, prettier --check

Update link for breaking changes documentation
  .changeset/README.md
Due: markdownlint, prettier --check

docs: update link for breaking changes documentation (#1567)
  .changeset/README.md
Due: markdownlint, prettier --check

style: update form field tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add utrecht note to themes and visual regression
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/note/utrecht-note.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: revert update utrecht component library
  packages/basis-design-tokens/package.json
  packages/components-react/design-tokens-table-react/package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/note/utrecht-note.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: correct dependencies for note-css because i got confused before
  packages/storybook/package.json
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/note/utrecht-note.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: update utrecht component library
  packages/basis-design-tokens/package.json
  packages/components-react/design-tokens-table-react/package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/documentation/note/utrecht-note.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/hoeksche-waard-design-tokens/package.json
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: pnpm i after rebase
  pnpm-lock.yaml
Due: none

docs: add utrecht note to themes and visual regression (#1554)
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/note/utrecht-note.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

add sittard-geleen theme tokens
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/tokens-lib/src/design-tokens.ts
  packages/tokens-lib/src/util.ts
  pnpm-lock.yaml
  proprietary/sittard-geleen-design-tokens/README.md
  proprietary/sittard-geleen-design-tokens/documentation/color.mdx
  proprietary/sittard-geleen-design-tokens/documentation/component-tokens.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/components.stories.ts
  proprietary/sittard-geleen-design-tokens/documentation/design-tokens.mdx
  proprietary/sittard-geleen-design-tokens/documentation/readme.mdx
  proprietary/sittard-geleen-design-tokens/figma/figma.tokens.json
  proprietary/sittard-geleen-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/src/_responsive.scss
  proprietary/sittard-geleen-design-tokens/src/config.json
  proprietary/sittard-geleen-design-tokens/src/custom.scss
  proprietary/sittard-geleen-design-tokens/src/font.js
  proprietary/sittard-geleen-design-tokens/src/font.scss
  proprietary/sittard-geleen-design-tokens/src/index.scss
  proprietary/sittard-geleen-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs: add start thema
  .changeset/good-buckets-wink.md
  packages/start-design-tokens/documentation/color.mdx
  packages/start-design-tokens/documentation/component-tokens.stories.ts
  packages/start-design-tokens/documentation/components.stories.ts
  packages/start-design-tokens/documentation/dashboard.mdx
  packages/start-design-tokens/documentation/design-tokens.mdx
  packages/start-design-tokens/documentation/readme.mdx
  packages/start-design-tokens/documentation/typography.mdx
  packages/start-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fix: add missing font dependency
  packages/start-design-tokens/package.json
  packages/start-design-tokens/src/font.js
  packages/storybook/config/preview.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: start-design-tokens dark-mode
  packages/start-design-tokens/documentation/component-tokens.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove dashboard from start design tokens
  packages/start-design-tokens/documentation/dashboard.mdx
Due: none

fix: start-design-tokens dark-mode
  packages/storybook/config/preview.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update dependencies and imports
  packages/start-design-tokens/documentation/color.mdx
  packages/start-design-tokens/documentation/component-tokens.stories.ts
  packages/start-design-tokens/documentation/components.stories.ts
  packages/start-design-tokens/documentation/design-tokens.mdx
  packages/start-design-tokens/documentation/readme.mdx
  packages/start-design-tokens/documentation/typography.mdx
  packages/start-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix changeset
  .changeset/changelog.edtis.1800.md
Due: markdownlint, prettier --check

chore: fix changeset heading
  .changeset/pagination-number-styling.md
Due: markdownlint, prettier --check

chore: fix changeset
  .changeset/changelog-edit-new.md
Due: markdownlint, prettier --check

docs: groningen changelog-edits 18.0.0 (#1566)
  .changeset/changelog.edtis.1800.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: groningen style pagination (#1564)
  .changeset/pagination-number-styling.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

docs: theme changes for Gemeente Enschede (#1555)
  proprietary/enschede-design-tokens/figma/enschede.tokens.json
Due: none

docs: groningen changelog-edits 17.0.0 (#1565)
  .changeset/changelog-edit-new.md
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

style: update Accordion tokens Utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Voorbeeld thema
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

M&A thema
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/accordion-todo-utrecht.md
Due: markdownlint, prettier --check

style: update Accordion tokens Utrecht community component (#1572)
  .changeset/accordion-todo-utrecht.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

style: update Checkbox tokens Utrecht community component
  packages/start-design-tokens/figma/start.tokens.json
Due: none

M&A
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/checkbox-todo-utrecht.md
Due: markdownlint, prettier --check
