Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: fix Theme Builder example mapping
  packages/storybook/src/theme-builder/ThemeBuilder.tsx
  packages/storybook/src/theme-builder/steps.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add alertexample
  packages/storybook/src/theme-builder/examples.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add common signaal tokens colors
  packages/storybook/src/theme-builder/steps.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add basic theme tokens to common token laag
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

refactor: rename story to example
  packages/storybook/src/theme-builder/examples.tsx
  packages/storybook/src/theme-builder/steps.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Tokens voor Expandapble Section
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Tussentijdse opslag HW theme
  proprietary/hoeksche-waard-design-tokens/figma/hoekschewaard.tokens.json
Due: none

docs: add changeset for theme-toolkit
  .changeset/old-elephants-count.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/old-elephants-count.md
  packages/theme-toolkit/CHANGELOG.md
  packages/theme-toolkit/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@984bed7025098ec8a48fe103190636a90ae09280 🚀
  project.json
Due: none

refactor: switch to new `component-library-design-tokens` package
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/community-tokens.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add font size scale step
  packages/storybook/src/theme-builder/examples.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add font size scale step
  packages/storybook/src/theme-builder/examples.tsx
  packages/storybook/src/theme-builder/steps.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add custom story wrapper
  packages/storybook/src/theme-builder/ThemeBuilder.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat: add font size scale step
  packages/storybook/src/theme-builder/steps.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Amsterdam and Rijskhuisstijl Community
  packages/storybook/package.json
  packages/storybook/src/theme-builder/ThemeBuilder.tsx
  packages/storybook/src/theme-builder/ThemeBuilderAmsterdam.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderRijkshuisstijlCommunity.stories.tsx
  packages/storybook/src/theme-builder/rhcTheme.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

refactor: tweak font-size token names
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fixup! refactor: tweak font-size token names
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: add example of theme extensions
  packages/storybook/src/theme-builder/ThemeBuilderAmsterdam.stories.tsx
  packages/storybook/src/theme-builder/ThemeBuilderRijkshuisstijlCommunity.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: make first steps work with Amsterdam theme
  packages/storybook/src/theme-builder/ThemeBuilderAmsterdam.stories.tsx
  packages/storybook/src/theme-builder/steps.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: added missing line-height token for Form Field Error Message
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/soul-tempt-tool.md
Due: markdownlint, prettier --check

build: upgrade to new Utrecht component library
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
  proprietary/basis-design-tokens/package.json
  proprietary/hoeksche-waard-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add new Utrecht components
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-utrecht.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add AlertExample
  packages/storybook/src/theme-builder/examples.tsx
  packages/storybook/src/theme-builder/steps.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add basis tokens to common layer
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
