Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat(dot-badge): updated RHC dependencies to latest version
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-rhc.tsx
  packages/voorbeeld-design-tokens/documentation/dot-badge/rhc-dot-badge.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

ci: use GitHub Actions workflow for GitHub Pages
  .github/workflows/continuous-deployment.yml
Due: none

chore: update Node.js tooling
  .github/dependabot.yml
  .ncurc.major.cjs
  .nvmrc
  package.json
  packages/components-react/design-tokens-table-react/src/DesignTokensTable.tsx
  packages/theme-logo/src/index.html
  packages/theme-switcher/src/generate-json.mjs
  packages/theme-switcher/src/index.html
  packages/tokens-lib/src/design-tokens.ts
  packages/tokens-lib/src/util.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: disable Purmerend snapshots
  proprietary/purmerend-design-tokens/documentation/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@5792b051663799f9a2b883ff2f0e5bb27cf3574b 🚀
  project.json
Due: none

Updated Accordion tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Updated Blockquote tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Added Rijkshuisstijl stories Theme toegevoegd aan preview. Desing tokens pacakge geinstalleerd.
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-rhc.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Added dot-badge to components
  packages/voorbeeld-design-tokens/documentation/dot-badge/rhc-dot-badge.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Updated Link List tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Updated Select tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Updated Page Number tokens tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Update Sidenav tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: updated RHC dependencies
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Add Form Field Label community tokens of Utrecht
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

RVO test
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

changed prefix of blockquote row-gap to utrecht
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: rename focus tokens to focus-visible
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Ik heb dingen aangepast
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: Jest esm
  packages/components-react/design-tokens-table-react/package.json
  packages/theme-toolkit/package.json
  packages/tokens-lib/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Feat: Add tokens to support suffix for Form Field Label todo component
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Changed order of tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: npm-package-json-lint
  npmpackagejsonlint.config.cjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
