Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

refactor: use basis-theme for example-theme
  pnpm-lock.yaml
  proprietary/example-design-tokens/documentation/design-tokens.mdx
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/example-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/example-design-tokens/src/color-scheme-dark/tokens.json
  proprietary/example-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/example-design-tokens/src/tokens.json
  proprietary/example-design-tokens/style-dictionary.config.js
  proprietary/example-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: fix dark mode form elements
  proprietary/purmerend-design-tokens/figma/color-scheme-dark.tokens.json
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: fix select padding regressions
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: add border radius to theme builder
  proprietary/basis-design-tokens/documentation/ThemeBuilder.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Ordered common tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

feat: fix focus outline regressions
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

add fontfamily picker
  packages/storybook/src/theme-builder/FontFamily.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: fix light mode purmerend color regressions
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

feat: use token type dimension for sizing, spacing, border-width en border-radius
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

chore: fix things after rebasing
  packages/storybook/src/theme-builder/ColorPicker.stories.tsx
  packages/storybook/src/theme-builder/FontFamily.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add hover/active states to Basis Theme
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

Change token for heading font-weight
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: add `$type` to radix color tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

fix: add `$type` to basis color tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

docs(release): design system packages
  .changeset/violet-mangos-poke.md
  proprietary/basis-design-tokens/CHANGELOG.md
  proprietary/basis-design-tokens/package.json
  proprietary/epe-design-tokens/CHANGELOG.md
  proprietary/epe-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Update .changeset/wit-ruimte-reis.md
  .changeset/wit-ruimte-reis.md
Due: markdownlint, prettier --check

feat(paragraph-tokens): add description (#988)
  .changeset/wit-ruimte-reis.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

refactor: move basis-design-tokens away from `proprietary/`
  packages/basis-design-tokens/CHANGELOG.md
  packages/basis-design-tokens/LICENSE.md
  packages/basis-design-tokens/README.md
  packages/basis-design-tokens/documentation/ThemeBuilder.tsx
  packages/basis-design-tokens/documentation/color.mdx
  packages/basis-design-tokens/documentation/component-tokens.stories.ts
  packages/basis-design-tokens/documentation/components.stories.ts
  packages/basis-design-tokens/documentation/design-tokens.mdx
  packages/basis-design-tokens/documentation/editor.mdx
  packages/basis-design-tokens/documentation/generateRadixColors.ts
  packages/basis-design-tokens/documentation/readme.mdx
  packages/basis-design-tokens/figma/basis.tokens.json
  packages/basis-design-tokens/package.json
  packages/basis-design-tokens/src/config.json
  packages/basis-design-tokens/src/index.scss
  packages/basis-design-tokens/style-dictionary.config.mjs
  pnpm-lock.yaml
  proprietary/epe-design-tokens/style-dictionary.mjs
  proprietary/example-design-tokens/style-dictionary.mjs
  proprietary/purmerend-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style(contact-timeline): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(link): token update
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: update example-design-tokens readme
  proprietary/example-design-tokens/CHANGELOG.md
  proprietary/example-design-tokens/README.md
  proprietary/example-design-tokens/documentation/color.mdx
  proprietary/example-design-tokens/documentation/components.stories.ts
  proprietary/example-design-tokens/documentation/design-tokens.mdx
  proprietary/example-design-tokens/documentation/readme.mdx
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/config.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Mooi & Anders design tokens
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/LICENSE.md
  packages/ma-design-tokens/README.md
  packages/ma-design-tokens/documentation/color.mdx-disabled
  packages/ma-design-tokens/documentation/components.stories.ts
  packages/ma-design-tokens/documentation/design-tokens.mdx
  packages/ma-design-tokens/documentation/readme.mdx
  packages/ma-design-tokens/package.json
  packages/ma-design-tokens/src/color-scheme-dark/tokens.json
  packages/ma-design-tokens/src/config.json
  packages/ma-design-tokens/src/font.js
  packages/ma-design-tokens/src/font.scss
  packages/ma-design-tokens/src/index.scss
  packages/ma-design-tokens/src/tokens.json
  packages/ma-design-tokens/style-dictionary.mjs
  packages/storybook/config/main.ts
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: tweak Mooi & Anders tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: use new component pages for Mooi & Anders
  packages/ma-design-tokens/documentation/color.mdx
  packages/ma-design-tokens/documentation/component-tokens.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove old files in `basic-theme-design-tokens`
  proprietary/basic-theme-design-tokens/src/_responsive.scss
  proprietary/basic-theme-design-tokens/src/custom.scss
  proprietary/basic-theme-design-tokens/src/index.scss
Due: none

docs: add changeset
  .changeset/fresh-students-smash.md
Due: markdownlint, prettier --check

style(data-badge): token update
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(contact-timeline): token update (order)
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(common): token update block and inline spacing
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

style(contact-timeline): token update (values)
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

refactor(link): removed tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

changeset toegevoegd
  .changeset/link-lang-loop.md
Due: markdownlint, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
