Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

update changeset
  .changeset/update-nora-design-tokens.md
Due: markdownlint, prettier --check

Create update-nora-design-tokens.md
  .changeset/update-nora-design-tokens.md
Due: markdownlint, prettier --check

feat: change and add tokens
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

feat: generate large-vw css variables
  proprietary/nora-design-tokens/style-dictionary.config.mjs
Due: none

fix: include theme.css
  proprietary/nora-design-tokens/src/index.scss
Due: none

feat: add tokens for nora-footer component
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

feat: make article section scale down nicely to 992px
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

Create nora-tokens-update-2.md
  .changeset/nora-tokens-update-2.md
Due: markdownlint, prettier --check

feat: add common layer with nora and basic theme typography scaling
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

refactor: token naming convention
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

refactor: rename theme title 'voorbeeld' naar 'purmerend'
  proprietary/purmerend-design-tokens/documentation/color.mdx
  proprietary/purmerend-design-tokens/documentation/components.stories.ts
  proprietary/purmerend-design-tokens/documentation/dashboard.mdx
  proprietary/purmerend-design-tokens/documentation/design-tokens.mdx
  proprietary/purmerend-design-tokens/documentation/readme.mdx
  proprietary/purmerend-design-tokens/documentation/typography.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update dependencies
  pnpm-lock.yaml
Due: none

refactor: basic tokens font-size large
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

chore: update package.json#packageManager
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: align @types/node with node version
  .github/dependabot.yml
  .ncurc.major.cjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@a30f93373cbe9bfad853feeb0c85e97b5a44a807 🚀
  project.json
Due: none

docs(release): design system packages
  .changeset/nora-tokens-update-2.md
  .changeset/update-nora-design-tokens.md
  proprietary/nora-design-tokens/CHANGELOG.md
  proprietary/nora-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/themes@5c2b48e91c1748dbc2d1893787564f5403f4a9f5 🚀
  project.json
Due: none

refactor: add basic theme typography scale to the rest of the font-sizes
  proprietary/purmerend-design-tokens/figma/figma.tokens.json
Due: none

Revert "feat: add basis typography scale to NORA tokens"
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

refactor: revome 'Thema' from title
  proprietary/purmerend-design-tokens/README.md
  proprietary/purmerend-design-tokens/documentation/color.mdx
  proprietary/purmerend-design-tokens/documentation/components.stories.ts
  proprietary/purmerend-design-tokens/documentation/dashboard.mdx
  proprietary/purmerend-design-tokens/documentation/design-tokens.mdx
  proprietary/purmerend-design-tokens/documentation/readme.mdx
  proprietary/purmerend-design-tokens/documentation/typography.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add project-wallace-purmerend-tokens
  packages/storybook/src/theme-builder/project-wallace-purmerend.tokens.json
Due: none

feat: create ColorPickerCombobox
  packages/storybook/src/theme-builder/ColorPicker.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: move nora-breadcrumbs-tools-bar
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none

feat: add tokens for nora-link-overview
  proprietary/nora-design-tokens/figma/figma.tokens.json
Due: none
