Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Waarde van 'focus-outline-color' en 'box-shadow-color' omgekeerd (#1115)
  .changeset/focus-swap-color.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

Waarde van 'focus-outline-color' en 'box-shadow-color' omgekeerd - Voorbeeld (#1116)
  .changeset/focus-color-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: Link List font-weight token hernoemd
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/link-list-weight.md
Due: markdownlint, prettier --check

Token `utrecht.link-list.font-weight` is hernoemd naar `utrecht.link-list.link.font-weight` in Link List component.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/link-list-voorbeeld.md
Due: markdownlint, prettier --check

fix: Link List font-weight token hernoemd (#1117)
  .changeset/link-list-weight.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

fix: Link List font-weight token hernoemd - Voorbeeld (#1118)
  .changeset/link-list-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

feat: add ma card-as-link tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/ma-di-wo.md
Due: markdownlint, prettier --check

feat: add ma card-as-link tokens (#1119)
  .changeset/ma-di-wo.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

feat: add ma tag tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/praat-plaat-daar.md
Due: markdownlint, prettier --check

feat: add ma tag tokens (#1120)
  .changeset/praat-plaat-daar.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

fix: move changeset to root of changeset folder
  .changeset/pilot-fish-drake.md
Due: markdownlint, prettier --check

fix: move changeset to root of changeset folder (#1121)
  .changeset/pilot-fish-drake.md
Due: markdownlint, prettier --check

feat: add utrecht form field label to themes and visual regression test (#1098)
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/form-field-label/utrecht-form-field-label.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update zaanstad.tokens.json (#1114)
  proprietary/zaanstad-design-tokens/figma/zaanstad.tokens.json
Due: none

feat: add utrecht form field description stories
  packages/voorbeeld-design-tokens/documentation/form-field-description/utrecht-form-field-description.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add ma banner tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

test: icon design only tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/fish-and-chips.md
Due: markdownlint, prettier --check

feat: add ma banner tokens (#1123)
  .changeset/fish-and-chips.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/druk-actief-over.md
  .changeset/fish-and-chips.md
  .changeset/focus-color-voorbeeld.md
  .changeset/focus-swap-color.md
  .changeset/icon-insert-block.md
  .changeset/icon-token-adding.md
  .changeset/knee-crowd-uncle.md
  .changeset/link-list-voorbeeld.md
  .changeset/link-list-weight.md
  .changeset/ma-di-wo.md
  .changeset/pilot-fish-drake.md
  .changeset/place-to-be.md
  .changeset/poo-dark-blue.md
  .changeset/praat-plaat-daar.md
  .changeset/pressed-active-button.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1104)
  .changeset/druk-actief-over.md
  .changeset/fish-and-chips.md
  .changeset/focus-color-voorbeeld.md
  .changeset/focus-swap-color.md
  .changeset/icon-insert-block.md
  .changeset/icon-token-adding.md
  .changeset/knee-crowd-uncle.md
  .changeset/link-list-voorbeeld.md
  .changeset/link-list-weight.md
  .changeset/ma-di-wo.md
  .changeset/pilot-fish-drake.md
  .changeset/place-to-be.md
  .changeset/poo-dark-blue.md
  .changeset/praat-plaat-daar.md
  .changeset/pressed-active-button.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

line-height
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add utrecht form field description stories (#1122)
  packages/voorbeeld-design-tokens/documentation/form-field-description/utrecht-form-field-description.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

aanpassing
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: rename button-group to action-group
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/button-to-action.md
Due: markdownlint, prettier --check

fix: rename button-group to action-group
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/button-action-voorbeeld.md
Due: markdownlint, prettier --check

fix: rename button-group to action-group - Voorbeeld (#1126)
  .changeset/button-action-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: rename button-group to action-group (#1125)
  .changeset/button-to-action.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

feat: add ams image tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

feat: add ams image tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/imagine-image-community.md
Due: markdownlint, prettier --check

docsL add changeset
  .changeset/imagine-image-voorbeeld.md
Due: markdownlint, prettier --check

add description for image
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
