Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

Add custom override for edit grid item heading styles
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom padding for multi-select value to align with design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Adjust font size and line height for multi-select value in OpenForms
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Fix font size declaration for multi-select value in OpenForms
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Update font size for multi-select value and add margin for first child in OpenForms
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add column gap to openforms fieldset for improved layout
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for character count component in OpenForms
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add error icon to invalid charcounts in OpenForms
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add padding to table cells in OpenForms for improved spacing
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for read-only textbox fields to match design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for uploaded file and error states in OpenForms
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add hover background style for file upload input in OpenForms
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add max inline size for datepicker textbox to prevent excessive width
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styles for loading indicator and header in OpenForms to match design specifications
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom min-height for openforms-card in openforms-app__body to address styling limitations
  proprietary/leiden-design-tokens/src/index.scss
Due: none

aanpassingen op: - Fieldset errors - Date picker - Text area, counter toegevoegd
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

form control bg color change
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

Comment out padding properties for openforms textbox to refine layout
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Remove margin between checkbox and description in openforms to align with design tokens
  proprietary/leiden-design-tokens/src/index.scss
Due: none

Add custom styling for checkboxes in openforms to align with design
  proprietary/leiden-design-tokens/src/index.scss
Due: none

chore: fix auto fixable lint issues in index.scss
  proprietary/leiden-design-tokens/src/index.scss
Due: none

chore: fix lint issues in index.scss: expected lines to come before others
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: up to date with latest rijkshuisstijl community
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: groningen startthema (#1342)
  packages/storybook/config/preview.ts
  packages/theme-switcher/src/index.js
  pnpm-lock.yaml
  proprietary/groningen-design-tokens/documentation/color.mdx
  proprietary/groningen-design-tokens/documentation/component-tokens.stories.ts
  proprietary/groningen-design-tokens/documentation/components.stories.ts
  proprietary/groningen-design-tokens/documentation/design-tokens.mdx
  proprietary/groningen-design-tokens/documentation/list.json
  proprietary/groningen-design-tokens/documentation/typography.mdx
  proprietary/groningen-design-tokens/figma/figma.tokens.json
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
  proprietary/groningen-design-tokens/package.json
  proprietary/groningen-design-tokens/style-dictionary.config.js
  proprietary/groningen-design-tokens/style-dictionary.mjs
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Merge branch 'main' into style/form-components-token-alignment
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: remove duplicate tokens file with wrong name
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: empty changeset since not released yet
  .changeset/seven-hats-tease.md
Due: markdownlint, prettier --check

Leiden of new renderer (#1382)
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
  proprietary/leiden-design-tokens/src/index.scss
  proprietary/leiden-design-tokens/src/wordpress/base.json
  proprietary/leiden-design-tokens/src/wordpress/settings/border.json
  proprietary/leiden-design-tokens/src/wordpress/settings/color.json
  proprietary/leiden-design-tokens/src/wordpress/settings/custom.json
  proprietary/leiden-design-tokens/src/wordpress/settings/dimensions.json
  proprietary/leiden-design-tokens/src/wordpress/settings/layout.json
  proprietary/leiden-design-tokens/src/wordpress/settings/lightbox.json
  proprietary/leiden-design-tokens/src/wordpress/settings/position.json
  proprietary/leiden-design-tokens/src/wordpress/settings/shadow.json
  proprietary/leiden-design-tokens/src/wordpress/settings/spacing.json
  proprietary/leiden-design-tokens/src/wordpress/settings/typography.json
  proprietary/leiden-design-tokens/src/wordpress/settings/useRootPaddingAwareAlignments.json
  proprietary/leiden-design-tokens/src/wordpress/styles/background.json
  proprietary/leiden-design-tokens/src/wordpress/styles/blocks/core-image.json
  proprietary/leiden-design-tokens/src/wordpress/styles/border.json
  proprietary/leiden-design-tokens/src/wordpress/styles/color.json
  proprietary/leiden-design-tokens/src/wordpress/styles/css.json
  proprietary/leiden-design-tokens/src/wordpress/styles/dimensions.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/button.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/caption.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/cite.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h1.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h2.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h3.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h4.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h5.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/h6.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/heading.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/link.json
  proprietary/leiden-design-tokens/src/wordpress/styles/filter.json
  proprietary/leiden-design-tokens/src/wordpress/styles/outline.json
  proprietary/leiden-design-tokens/src/wordpress/styles/shadow.json
  proprietary/leiden-design-tokens/src/wordpress/styles/spacing.json
  proprietary/leiden-design-tokens/src/wordpress/styles/typography.json
  proprietary/leiden-design-tokens/style-dictionary.mjs
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

fix: code only brackets
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: remove duplicate tokens file with wrong name (#1383)
  .changeset/seven-hats-tease.md
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: markdownlint, prettier --check

fix: up to date with latest utrecht-unordered-list-css
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: Rijkshuisstijl Community casing
  packages/voorbeeld-design-tokens/documentation/dot-badge/rhc-dot-badge.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: up to date with latest utrecht unordered-list-css
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

fix: up to date with latest utrecht unordered-list-css (#1384)
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

push open commits
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

feat: new-basis-tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

chore: upgrade community react components
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

style/form-components-token-alignment
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: remove hardcoded icon color
  .changeset/stale-ears-destroy.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check
