Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  packages/example-theme/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

ci: use frozen lockfile with new pnpm
  .github/workflows/continuous-deployment.yml
  pnpm-lock.yaml
Due: none

feat: add empty Leiden theme
  packages/storybook/config/preview.js
  pnpm-lock.yaml
  proprietary/leiden-design-tokens/LICENSE.md
  proprietary/leiden-design-tokens/README.md
  proprietary/leiden-design-tokens/documentation/color.stories.mdx
  proprietary/leiden-design-tokens/documentation/components.stories.mdx
  proprietary/leiden-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/leiden-design-tokens/documentation/readme.stories.mdx
  proprietary/leiden-design-tokens/package.json
  proprietary/leiden-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/leiden-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/leiden-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/leiden-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/leiden-design-tokens/src/config.json
  proprietary/leiden-design-tokens/src/font.scss
  proprietary/leiden-design-tokens/src/font/.gitignore
  proprietary/leiden-design-tokens/src/index.scss
  proprietary/leiden-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: use frozen lockfile with pnpm 8.3
  .github/workflows/continuous-deployment.yml
  pnpm-lock.yaml
Due: none

feat: add empty Leiden theme
  packages/storybook/config/preview.js
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/leiden-design-tokens/LICENSE.md
  proprietary/leiden-design-tokens/README.md
  proprietary/leiden-design-tokens/documentation/color.stories.mdx
  proprietary/leiden-design-tokens/documentation/components.stories.mdx
  proprietary/leiden-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/leiden-design-tokens/documentation/readme.stories.mdx
  proprietary/leiden-design-tokens/package.json
  proprietary/leiden-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/leiden-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/leiden-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/leiden-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/leiden-design-tokens/src/config.json
  proprietary/leiden-design-tokens/src/font.scss
  proprietary/leiden-design-tokens/src/font/.gitignore
  proprietary/leiden-design-tokens/src/index.scss
  proprietary/leiden-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/example-theme/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add example-design-tokens package and instructions to start your own
  pnpm-lock.yaml
  proprietary/example-design-tokens/LICENSE.md
  proprietary/example-design-tokens/README.md
  proprietary/example-design-tokens/documentation/color.stories.mdx
  proprietary/example-design-tokens/documentation/components.stories.mdx
  proprietary/example-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/example-design-tokens/documentation/readme.stories.mdx
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/example-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/example-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/example-design-tokens/src/config.json
  proprietary/example-design-tokens/src/font.scss
  proprietary/example-design-tokens/src/index.scss
  proprietary/example-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Opsplitsen example.tokens.json
  packages/example-theme/figma/example.tokens.json
Due: none

Update example.tokens.json
  packages/example-theme/figma/example.tokens.json
Due: none

docs(release): design system packages
  packages/example-theme/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Kleur check na opsplitsing
  packages/example-theme/figma/example.tokens.json
Due: none

utrecht.alert.border-width waarde hersteld naar voorbeeld.border-width.md
  packages/example-theme/figma/example.tokens.json
Due: none

Alert border-width token update
  packages/example-theme/figma/example.tokens.json
Due: none

Update voorbeeld-tokens.json
  packages/example-theme/figma/voorbeeld-tokens.json
Due: none

fix: rename `example` to `voorbeeld` to avoid conflict with template package
  packages/example-theme/README.md
  packages/example-theme/src/config.json
  packages/storybook/config/preview.js
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/example-theme/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: rename `example-theme` package to `voorbeeld-design-tokens`
  packages/storybook/config/preview.js
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/README.md
  packages/voorbeeld-design-tokens/documentation/color.stories.mdx
  packages/voorbeeld-design-tokens/documentation/components.stories.mdx
  packages/voorbeeld-design-tokens/documentation/design-tokens.stories.mdx
  packages/voorbeeld-design-tokens/documentation/readme.stories.mdx
  packages/voorbeeld-design-tokens/figma/example.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld-tokens.json
  packages/voorbeeld-design-tokens/package.json
  packages/voorbeeld-design-tokens/src/_responsive.scss
  packages/voorbeeld-design-tokens/src/config.json
  packages/voorbeeld-design-tokens/src/custom.scss
  packages/voorbeeld-design-tokens/src/font.js
  packages/voorbeeld-design-tokens/src/font.scss
  packages/voorbeeld-design-tokens/src/index.scss
  packages/voorbeeld-design-tokens/style-dictionary.config.js
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Alert border width update
  packages/voorbeeld-design-tokens/figma/example.tokens.json
Due: none

:rocket: Added design-tokens to theme
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/color.tokens.json
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/typography.tokens.json
  proprietary/example-design-tokens/package.json
  proprietary/example-design-tokens/src/brand/example/color.tokens.json
  proprietary/example-design-tokens/src/brand/example/typography.tokens.json
  proprietary/example-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/example-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/example-design-tokens/src/common/utrecht/space.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/page-header.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/page.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/spotlight-section.tokens.json
  proprietary/example-design-tokens/src/component/utrecht/surface.tokens.json
  proprietary/example-design-tokens/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets
