Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(release): design system packages
  .changeset/clever-timers-fail.md
  .changeset/eleven-scissors-joke.md
  .changeset/fifty-jars-shave.md
  .changeset/hot-fans-bow.md
  .changeset/shaggy-donkeys-hear.md
  .changeset/stale-jokes-sell.md
  packages/design-tokens-definition/CHANGELOG.md
  packages/design-tokens-definition/package.json
  packages/tokens-lib/CHANGELOG.md
  packages/tokens-lib/package.json
  proprietary/basis-design-tokens/CHANGELOG.md
  proprietary/basis-design-tokens/package.json
  proprietary/purmerend-design-tokens/CHANGELOG.md
  proprietary/purmerend-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: add figure tokens (#744)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: changed not-checked style (#757)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

style: add community tokens for icon (#812)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Fix: Renamed `form-field-label.suffix` to `form-field-label-suffix`.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Removed todo focus-visible token
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: add new case card color tokens (#724)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: renamed token of progress-list
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: tokens for logo
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: tokens for logo (#960)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: tokens for task list
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: tokens for navigation bar
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: tokens for task list (#961)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: tokens for navigation bar (#962)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Rhc/dot badge (#942)
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-rhc.tsx
  packages/voorbeeld-design-tokens/documentation/dot-badge/rhc-dot-badge.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Fix: Button group renamed to Action group
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Removed premature candidate tokens.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: use the dimension token type
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

feat: use the dimension token type (#967)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Testje
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

demo voor rotterdam
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Test met opsplitsen in tokenset per organisatie
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Tussentijdse commit omdat Figma traag is
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Last changes
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Token order meegenomen
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Changeset toegevoegd
  .changeset/hocus-pocus-pas.md
Due: markdownlint, prettier --check

Refactor: split tokens per org (#971)
  .changeset/hocus-pocus-pas.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/hocus-pocus-pas.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: add `$type` to radix color tokens
  proprietary/basis-design-tokens/figma/basis.tokens.json
Due: none

docs: autodetect stories for Basis Thema
  proprietary/basis-design-tokens/documentation/components.stories.ts
  proprietary/basis-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern
