Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

First commit
  packages/start-design-tokens/figma/start.tokens.json
Due: none

second
  packages/start-design-tokens/figma/start.tokens.json
Due: none

third
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: add component tokens (including values) for doc site
  packages/ma-design-tokens/src/tokens.json
Due: none

chore: add changeset
  .changeset/empty-moons-wonder.md
Due: markdownlint, prettier --check

add navigation tokens utrecht
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: groningen styling/button-color/positive (#1465)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen Styling/color-changes-components (#1468)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: groningen Hygiene/link-component (#1467)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

fix: typo - double bracket
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

M&A thema
  packages/ma-design-tokens/src/tokens.json
Due: none

Voorbeeld thema
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: groningen Styling/headings (#1473)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

voorbeeld: offset
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Wat hygiëne toegepast op de brand tokens. We beginnen altijd met donkere kleur eerst, dan achtergrond kleur. Deze qua volgorde aangepast.
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: add groningen changeset
  .changeset/moody-rocks-suffer.md
Due: markdownlint, prettier --check

Hygiene/brand-tokens (#1466)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs: add groningen changeset (#1476)
  .changeset/moody-rocks-suffer.md
Due: markdownlint, prettier --check

add changeset
  .changeset/basis-accent-assist.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/moody-rocks-suffer.md
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1477)
  .changeset/moody-rocks-suffer.md
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

grid amsterdam
  packages/ma-design-tokens/src/tokens.json
Due: none

style: add component tokens (including values) for doc site (#1475)
  .changeset/empty-moons-wonder.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/empty-moons-wonder.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1478)
  .changeset/empty-moons-wonder.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

revert changes to actual themes
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

changeset
  .changeset/heavy-drinks-suffer.md
Due: markdownlint, prettier --check

Style: Wensenlijstje Utrecht Nav-bar toevoegingen
  packages/ma-design-tokens/src/tokens.json
Due: none

Verwijder verdwaalde token
  packages/ma-design-tokens/src/tokens.json
Due: none

fix incorrect colors
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

make changes for MA and Voorbeeld
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: align basis tokens and Start-thema
  packages/basis-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Readme/fix
  proprietary/groningen-design-tokens/README.md
Due: markdownlint, prettier --check

docs: add page body to themes storybook and visual regression
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/page-body/utrecht-page-body.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: incorrect filename of utrecht root stories
  packages/voorbeeld-design-tokens/documentation/root/utrecht-root.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: install correct dependency for page body in theme-toolkit
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets
