Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/themes@0401cd943a325954a82b3e658d4ebd3f0987ec36 🚀
  iframe.html
  main.470a8691.iframe.bundle.js
  main.470a8691.iframe.bundle.js.LICENSE.txt
  main.470a8691.iframe.bundle.js.map
  main.d13370ed.iframe.bundle.js
  main.d13370ed.iframe.bundle.js.map
  playroom/168.218c9f752d1e15cafe9f.js
  playroom/168.62e84f13442f762ee9c5.js
  playroom/frame.html
  playroom/index.html
  playroom/preview/index.html
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: responsive font sizes for Amsterdam
  proprietary/amsterdam-design-tokens/src/_responsive.scss
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/typography.tokens.json
Due: none

font naar Plus Jakarta Sans
  packages/example-theme/figma/example.tokens.json
Due: none

style: more tokens for Amsterdam Design System
  proprietary/amsterdam-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/amsterdam-design-tokens/src/component/amsterdam/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/backdrop.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/custom-checkbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/custom-radio-button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/emphasis.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-field-description.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-field.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: none

fixup! style: responsive font sizes for Amsterdam
  proprietary/amsterdam-design-tokens/src/_responsive.scss
  proprietary/amsterdam-design-tokens/src/custom.scss
  proprietary/amsterdam-design-tokens/src/index.scss
Due: none

build: two phase build for Amsterdam design tokens to include responsive theme
  proprietary/amsterdam-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  packages/example-theme/package.json
  packages/playroom/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: remove and ignore generated tokens file in example-theme
  packages/example-theme/.gitignore
  packages/example-theme/src/figma.tokens.json
Due: none

Headings opgesplits (#213)
  packages/example-theme/figma/example.tokens.json
Due: none

Plugin liep vast voor de zekerheid nog eens (#193)
  packages/example-theme/figma/example.tokens.json
Due: none

feat: add snippets to playroom
  packages/playroom/playroom.config.js
  packages/playroom/snippets/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: include all Figma tokens in example theme
  packages/example-theme/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Opsplitsen tokens sets (#185)
  packages/example-theme/figma/example.tokens.json
Due: none

docs(release): design system packages
  packages/example-theme/package.json
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

paragraph update (#200)
  packages/example-theme/figma/example.tokens.json
Due: none

Split van Gemeente X
  packages/example-theme/figma/example.tokens.json
Due: none

Vrijdagmiddag (#201)
  packages/example-theme/figma/example.tokens.json
Due: none

nl.common.transparent.border-color vervangen (#215)
  packages/example-theme/figma/example.tokens.json
Due: none

refactor: simplify transformSource
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add playroom for demonstrating components
  .github/workflows/continuous-deployment.yml
  package-lock.json
  package.json
  packages/playroom/FrameComponent.jsx
  packages/playroom/components.js
  packages/playroom/package.json
  packages/playroom/playroom.config.js
  packages/playroom/themes.js
  packages/storybook/config/main.js
  packages/storybook/config/preview.js
  script/generate-component-pages/page-template.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

wip
  package-lock.json
  package.json
  packages/playroom/FrameComponent.jsx
  packages/playroom/ThemedHeader/AmsterdamLogo.jsx
  packages/playroom/ThemedHeader/DenHaagLogo.jsx
  packages/playroom/ThemedHeader/UtrechtLogo.jsx
  packages/playroom/ThemedHeader/index.jsx
  packages/playroom/playroom.config.js
  packages/playroom/snippets/amsterdam-halsbandparkiet.js
  packages/playroom/snippets/denhaag-meeuwenoverlast.js
  packages/playroom/snippets/index.js
  packages/playroom/themes.js
  packages/storybook/config/preview.js
  proprietary/amsterdam-design-tokens/src/component/rvo/topnav.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/topnav.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

wip
  packages/playroom/ThemedHeader/index.jsx
  packages/playroom/themes.js
  packages/storybook/config/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: tokens for new Amsterdam Design System
  package-lock.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/amsterdam-design-tokens/src/font.scss
Due: npmPkgJsonLint --allowEmptyTargets

style: common tokens for Amsterdam space, viewport and typography
  packages/storybook/config/preview.js
  proprietary/amsterdam-design-tokens/documentation/typography.stories.mdx
  proprietary/amsterdam-design-tokens/src/_responsive.scss
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/typography.tokens.json
  proprietary/amsterdam-design-tokens/src/common/space.tokens.json
  proprietary/amsterdam-design-tokens/src/common/viewport.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/amsterdam-design-tokens/src/custom.scss
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style: add new color pallette
  proprietary/amsterdam-design-tokens/documentation/color.stories.mdx
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/color.tokens.json
Due: none

style: archive v1 color scheme
  proprietary/amsterdam-design-tokens/documentation/color.stories.mdx
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/color.tokens.json
  proprietary/amsterdam-design-tokens/src/common/action-variant.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/badge-counter.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/badge.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/custom-checkbox.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/page-footer.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/unordered-list.tokens.json
Due: none

style: responsive font sizes for Amsterdam
  proprietary/amsterdam-design-tokens/src/_responsive.scss
  proprietary/amsterdam-design-tokens/src/brand/amsterdam/typography.tokens.json
  proprietary/amsterdam-design-tokens/src/custom.scss
  proprietary/amsterdam-design-tokens/src/index.scss
Due: none

style: button styles
  proprietary/amsterdam-design-tokens/src/component/amsterdam/button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/amsterdam-design-tokens/src/config.json
Due: none

build: two phase build for Amsterdam design tokens to include responsive theme
  packages/storybook/config/preview.js
  proprietary/amsterdam-design-tokens/README.md
  proprietary/amsterdam-design-tokens/package.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/custom-radio-button.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/form-fieldset.tokens.json
  proprietary/amsterdam-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/amsterdam-design-tokens/src/config.json
  proprietary/amsterdam-design-tokens/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

ci: add SCSS linting
  .stylelintrc.json
  package-lock.json
  package.json
  packages/example-theme/src/index.scss
  proprietary/rotterdam-design-tokens/src/index.scss
Due: npmPkgJsonLint --allowEmptyTargets

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
