Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: prefix of heading color (#659)
  .changeset/guide-musical-bloodshed.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align link tokens with code (#661)
  .changeset/spokesperson-tree-offer.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align link-list tokens with code (#662)
  .changeset/elaborate-insist-monkey.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align paragraph tokens with code (#665)
  .changeset/grave-think-goat.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align radio-button tokens with code (#667)
  .changeset/humor-truck-chord.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align select tokens with code (#670)
  .changeset/shoot-forum-era.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align separator tokens with code (#671)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: change prefix of drawer header tokens (#672)
  .changeset/date-plain-sugar.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align skip-link tokens with code (#673)
  .changeset/duke-equal-crash.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: removed margin tokens for headings 1 to 6 (#660)
  .changeset/charm-slump-rubbish.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align ordered-list tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  age-cup-night.md
Due: markdownlint, prettier --check

update: changeset
  .changeset/age-cup-night.md
Due: markdownlint, prettier --check

fix: align ordered-list tokens with code (#663)
  .changeset/age-cup-night.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: align form-field-error-message tokens with code (#658)
  .changeset/enfix-witness-earthflax.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/2024-08-15--jeff.md
  .changeset/age-cup-night.md
  .changeset/appel-banaan-kiwi.md
  .changeset/charm-slump-rubbish.md
  .changeset/date-plain-sugar.md
  .changeset/duke-equal-crash.md
  .changeset/elaborate-insist-monkey.md
  .changeset/enfix-witness-earthflax.md
  .changeset/gap-governor-fiction.md
  .changeset/grave-think-goat.md
  .changeset/guide-musical-bloodshed.md
  .changeset/humor-truck-chord.md
  .changeset/koffie-thee-water.md
  .changeset/kwik-kwek-kwak.md
  .changeset/leave-place-negligence.md
  .changeset/paragraph-choose-mountain.md
  .changeset/quaint-clearance-official.md
  .changeset/shoot-forum-era.md
  .changeset/spokesperson-tree-offer.md
  .changeset/tear-injury-mold.md
  .changeset/tough-trainers-listen.md
  .changeset/wee-drie-cee.md
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: align checkbox tokens with code (#656)
  .changeset/last-perfume-momentum.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

fix: changed name of breadcrumb tokens (#654)
  .changeset/hold-motorist-mug.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

feat: add contrast ratio explainer widget
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/Canvas.css
  packages/theme-toolkit/src/Canvas.tsx
  packages/theme-toolkit/src/ColorContrast.tsx
  packages/theme-toolkit/src/ContrastExplainer.css
  packages/theme-toolkit/src/ContrastExplainer.tsx
  packages/theme-toolkit/src/ContrastRatio.css
  packages/theme-toolkit/src/ContrastRatio.tsx
  packages/theme-toolkit/src/CssVariablePrismTheme.tsx
  packages/theme-toolkit/src/SyntaxHighlightCodeBlock.tsx
  packages/theme-toolkit/src/design-tokens.ts
  packages/theme-toolkit/src/utrecht-design-tokens.d.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

fix: prefix status-badge tokens with `.todo`. (#652)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: changed prefix of table tokens from `utrecht` to `todo` as design and code are to much out of sync.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Aligned unordered-list tokens with code.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/shout-wheat-coast.md
Due: markdownlint, prettier --check

Fix: align textarea tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/maid-ditch-shelf.md
Due: markdownlint, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
