Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

chore: add .nojekyll
  .nojekyll
Due: none

refactor: npm-check-updates config
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

feat: add build script to theme-toolkit
  packages/theme-toolkit/package.json
  packages/theme-toolkit/rollup.config.mjs
  packages/theme-toolkit/src/index.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

Acato test
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

build: allow newer React 18 peerDependencies
  packages/theme-toolkit/package.json
Due: npmPkgJsonLint --allowEmptyTargets

feat: add build script to theme-toolkit (#519)
  packages/theme-toolkit/package.json
  packages/theme-toolkit/rollup.config.mjs
  packages/theme-toolkit/src/index.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/dinkelland-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/epe-design-tokens/package.json
  proprietary/example-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlem-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noaberkracht-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/provincie-zuid-holland-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/xxllnc-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

Referentie naar brand hersteld voor common spacing tokens.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Referentie naar brand hersteld voor common spacing tokens. (#531)
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: remove generated component pages
  packages/storybook/package.json
  packages/storybook/src/components/Badge.jsx
  packages/storybook/src/components/ComponentPage.jsx
  packages/storybook/src/components/designTokenUtils.jsx
  packages/storybook/src/generate-component-pages/index.ts
  packages/storybook/src/generate-component-pages/page-template.ts
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

chore: rename .ncurc.*.js -> .cjs
  .lintstagedrc.json
  .ncurc.major.cjs
  .ncurc.minor.cjs
  .ncurc.patch.cjs
  .prettierrc.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: install patch updates
  package.json
  packages/storybook/package.json
  packages/theme-switcher/package.json
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
  proprietary/dinkelland-design-tokens/package.json
  proprietary/leiden-design-tokens/package.json
  proprietary/noordwijk-design-tokens/package.json
  proprietary/ridderkerk-design-tokens/package.json
  proprietary/tubbergen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: update minor versions
  package.json
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

None hoofdletter zodat connectie met TS en Figma werkt
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Read only border color naar transparant
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
