Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

add changeset
  .changeset/ma-box-shadow.md
Due: markdownlint, prettier --check

style: fancy pancy box-shadow
  packages/ma-design-tokens/src/tokens.json
Due: none

docs(release): design system packages
  .changeset/ma-tokens-update.md
  .changeset/switch-tokens-utrecht.md
  .changeset/update-ma-colors.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: properly remove all instances of @nl-design-system-unstable/amsterdam-design-tokens
  .github/CODEOWNERS
  packages/storybook/package.json
  packages/theme-switcher/package.json
  packages/theme-switcher/src/generate-json.mjs
  packages/theme-switcher/src/index.js
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: update dependencies to fix rhc css contamination
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

refactor: removing amsterdam design tokens from proprietary (#1360)
  .github/CODEOWNERS
  packages/storybook/package.json
  packages/theme-switcher/package.json
  packages/theme-switcher/src/generate-json.mjs
  packages/theme-switcher/src/index.js
  pnpm-lock.yaml
  proprietary/amsterdam-design-tokens/CHANGELOG.md
  proprietary/amsterdam-design-tokens/README.md
  proprietary/amsterdam-design-tokens/documentation/color.mdx
  proprietary/amsterdam-design-tokens/documentation/components.stories.ts
  proprietary/amsterdam-design-tokens/documentation/design-tokens.mdx
  proprietary/amsterdam-design-tokens/documentation/readme.mdx
  proprietary/amsterdam-design-tokens/documentation/tokens.ts
  proprietary/amsterdam-design-tokens/documentation/typography.mdx
  proprietary/amsterdam-design-tokens/package.json
  proprietary/amsterdam-design-tokens/src/config.json
  proprietary/amsterdam-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  .changeset/ma-box-shadow.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: correct heading in ma-design-tokens changelog
  packages/ma-design-tokens/CHANGELOG.md
Due: markdownlint, prettier --check

update default color settings to disable duotone, gradients, and palette
  proprietary/leiden-design-tokens/src/wordpress/settings/color.json
Due: none

feat: enhance themeJsonFormatter with additional logging and font size generation
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

feat: enhance themeJsonFormatter with improved token handling and logging
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

feat: add default button styles including border, color, spacing, and typography
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/button.json
Due: none

feat: add TODO for generating fontFamilies based on prefix tokens
  proprietary/leiden-design-tokens/themeJsonFormatter.mjs
Due: none

feat: add core button styles with outline variation including border, color, spacing, and hover effects
  proprietary/leiden-design-tokens/src/wordpress/styles/blocks/core-button.json
Due: none

feat: add primary button styles including border, color, spacing, and typography
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/button_primary.json
Due: none

feat: enhance core button styles with fill variation and remove deprecated primary button styles
  proprietary/leiden-design-tokens/src/wordpress/styles/blocks/core-button.json
  proprietary/leiden-design-tokens/src/wordpress/styles/elements/button_primary.json
Due: none

ci: in dependabot, group GitHub Actions updates together
  .github/dependabot.yml
Due: none

ci: remove kernteam-dependabot reviewer from dependabot
  .github/dependabot.yml
Due: none

Style: Clippy Page Header
  packages/ma-design-tokens/src/tokens.json
Due: none

style: button
  packages/ma-design-tokens/src/tokens.json
Due: none

style: button trim
  packages/ma-design-tokens/src/tokens.json
Due: none

Typo's Dropzone
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

fix: refer to the correct Status component (ProcessSteps is deprecated)
  packages/storybook/src/denhaag/config.json
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-denhaag.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: show Den Haag stories
  packages/storybook/src/denhaag/components.stories.mdx
  packages/storybook/src/denhaag/components.stories.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: upgrade @gemeente-denhaag/process-steps, move to devDependencies
  package.json
  packages/theme-toolkit/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

chore: remove unused package
  packages/tokens-lib/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

docs: add changeset
  .changeset/clean-otters-dance.md
  .changeset/weak-shoes-greet.md
Due: markdownlint, prettier --check

Create gemeentegroningen.tokens.json
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

styling/state colors
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

common tokens colors
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

font-family en font-weight tokens
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Update gemeentegroningen.tokens.json
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

styling/brand-tokens-swatches
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

bg document en default color
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

styling/brandtokenscolor
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

styling/focusring
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

font weight form field description
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

groningen.color.accent
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Error color fixes + border radius
  proprietary/groningen-design-tokens/figma/gemeentegroningen.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
