Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: add `utrecht.document` tokens to Start Thema
  .changeset/quick-worms-drop.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

fix: remove hardcoded icon color
  .changeset/stale-ears-destroy.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

fix: add document component to Start Thema
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs(release): design system packages
  .changeset/clean-otters-dance.md
  .changeset/ma-box-shadow.md
  .changeset/quick-worms-drop.md
  .changeset/seven-hats-tease.md
  .changeset/stale-ears-destroy.md
  .changeset/weak-shoes-greet.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/theme-toolkit/CHANGELOG.md
  packages/theme-toolkit/package.json
  packages/tokens-lib/CHANGELOG.md
  packages/tokens-lib/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

verwijzing vanuit component tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: code only brackets and typo in value
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

style/form-components-token-alignment (#1387)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

nieuwe basis tokens in voorbeeld thema
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

nieuwe basis tokens in mooi en anders thema
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/basis-tokens-none.md
Due: markdownlint, prettier --check

feat: new-basis-tokens (#1386)
  .changeset/basis-tokens-none.md
  packages/ma-design-tokens/src/tokens.json
  packages/start-design-tokens/figma/start.tokens.json
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

chore: review dot badge documentation and visual regression test (#1196)
  packages/storybook/package.json
  packages/theme-toolkit/package.json
  packages/theme-toolkit/src/ComponentStories.tsx
  packages/voorbeeld-design-tokens/documentation/dot-badge/rhc-dot-badge.stories.tsx
  packages/voorbeeld-design-tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

Merge branch 'main' into marieke/startthema
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

push open commits (#1385)
  proprietary/groningen-design-tokens/figma/groningen.tokens.json
Due: none

docs(release): design system packages
  .changeset/basis-tokens-none.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

fix: broken `[object Object]` box shadow tokens in Leiden theme
  .changeset/cuddly-onions-beg.md
  .changeset/sixty-sloths-type.md
  proprietary/leiden-design-tokens/documentation/design-tokens.mdx
  proprietary/leiden-design-tokens/style-dictionary.mjs
  style-dictionary-config.js
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

style: task list tokens ma
  packages/ma-design-tokens/src/tokens.json
Due: none

docs: add changeset
  .changeset/ma-task-list.md
Due: markdownlint, prettier --check

ci: allow `s` units in CSS files
  .stylelintrc.json
Due: none

build: explicitly use correct build order for Leiden theme
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: use CSS notation conventions for Leiden theme values
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

ci: add `lint-build` script for Leiden theme
  .stylelintrc.dist.json
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: box shadow `-var(...)` negative values and max-inline-size set to hardcoded values
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

fix: update read-only tokens and comment out duplicates
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: remove commented-out max-inline-size and read-only field styles in Leiden theme
  proprietary/leiden-design-tokens/src/index.scss
Due: none

fix: update watch:style-dictionary command to target figma tokens
  proprietary/leiden-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: update color values from rgb to rgba
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none
