Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

docs: add amsterdam modal dialog (#1160)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/modal-dialog/ams-modal-dialog.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add page-number-navigation stories
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/page-number-navigation/utrecht-page-number-navigation.stories.tsx
  packages/voorbeeld-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Add Page number navigation stories (#1162)
  packages/storybook/src/utrecht/config.json
  packages/theme-toolkit/src/component-stories-util.ts
  packages/theme-toolkit/src/component-stories-utrecht.tsx
  packages/voorbeeld-design-tokens/documentation/page-number-navigation/utrecht-page-number-navigation.stories.tsx
  packages/voorbeeld-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add card as link stories
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/card-as-link/amsterdam-card-as-link.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Apply suggestions from code review
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/card-as-link/amsterdam-card-as-link.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: PR feedback
  packages/voorbeeld-design-tokens/documentation/card-as-link/amsterdam-card-as-link.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add card as link stories (#1163)
  packages/theme-toolkit/src/component-stories-ams.tsx
  packages/theme-toolkit/src/component-stories-util.ts
  packages/voorbeeld-design-tokens/documentation/card-as-link/amsterdam-card-as-link.stories.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix identifier
  packages/theme-toolkit/src/component-stories-ams.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Aanpassingen: - Font - Border radius
  proprietary/leiden-design-tokens/figma/leiden.tokens.json
Due: none

build(deps): update to npm-check-updates@19.0.0
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

build: configure a cooldown of 1 day for npm-check-updates
  .ncurc.patch.cjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add a note to keep minimumReleaseAge in sync with ncu cooldown
  pnpm-workspace.yaml
Due: none

feat: add ams card as link design tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/ams-card-tokens.md
Due: markdownlint, prettier --check

feat: add ams card as link design tokens - Voorbeeld
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/card-tokens-voorbeeld.md
Due: markdownlint, prettier --check

feat: add ams card as link design tokens - Voorbeeld (#1168)
  .changeset/card-tokens-voorbeeld.md
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: markdownlint, prettier --check

feat: add ams card as link design tokens (#1167)
  .changeset/ams-card-tokens.md
  packages/start-design-tokens/figma/start.tokens.json
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/ams-card-tokens.md
  .changeset/card-tokens-voorbeeld.md
  .changeset/six-paths-speak.md
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

feat: publish start-thema package to npm
  packages/start-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

fix: spelling mistake
  README.md
Due: markdownlint, prettier --check

revert spelling mistake (#1170)
  README.md
Due: markdownlint, prettier --check

fix: identifier
  packages/theme-toolkit/src/component-stories-ams.tsx
  proprietary/amsterdam-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix identifier (#1164)
  proprietary/amsterdam-design-tokens/src/config.json
Due: none

style: button candidate tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: add secondary and subtle tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

fix: token typo
  packages/start-design-tokens/figma/start.tokens.json
Due: none

docs: add changeset
  .changeset/candidate-button-tokens.md
Due: markdownlint, prettier --check

feat: add nl-code & nl-code-block
  package.json
  packages/storybook/config/main.ts
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: create a working version again without the vite config
  packages/storybook/config/main.ts
  packages/storybook/config/preview.ts
  packages/storybook/package.json
  packages/voorbeeld-design-tokens/documentation/code-block/nl-code-block.stories.tsx
  packages/voorbeeld-design-tokens/documentation/code/nl-code.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove unused dependency
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets

style: add border-color tokens and change reference to general tokens
  packages/start-design-tokens/figma/start.tokens.json
Due: none

style: change pressed state token values
  packages/start-design-tokens/figma/start.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
