Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,cjs,jsx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.css": ["stylelint --allow-empty-input", "prettier --check"]
}

style: customizable-text-input + combobox
  packages/ma-design-tokens/src/tokens.json
Due: none

docs(release): design system packages
  .changeset/candidate-error-message.md
  .changeset/changelog-1500-disabled.md
  .changeset/description-candidate-tokens.md
  .changeset/every-sites-find.md
  .changeset/tidy-groups-tap.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
  proprietary/leiden-design-tokens/CHANGELOG.md
  proprietary/leiden-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/CHANGELOG.md
  proprietary/sittard-geleen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

docs(release): design system packages (#1620)
  .changeset/candidate-error-message.md
  .changeset/changelog-1500-disabled.md
  .changeset/description-candidate-tokens.md
  .changeset/every-sites-find.md
  .changeset/tidy-groups-tap.md
  packages/ma-design-tokens/CHANGELOG.md
  packages/ma-design-tokens/package.json
  packages/start-design-tokens/CHANGELOG.md
  packages/start-design-tokens/package.json
  packages/voorbeeld-design-tokens/CHANGELOG.md
  packages/voorbeeld-design-tokens/package.json
  proprietary/groningen-design-tokens/CHANGELOG.md
  proprietary/groningen-design-tokens/package.json
  proprietary/leiden-design-tokens/CHANGELOG.md
  proprietary/leiden-design-tokens/package.json
  proprietary/sittard-geleen-design-tokens/CHANGELOG.md
  proprietary/sittard-geleen-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check

border-radius niet nodig
  packages/ma-design-tokens/src/tokens.json
Due: none

style: remove token utrecht icon color
  packages/ma-design-tokens/src/tokens.json
Due: none

add changeset
  .changeset/remove-icon-color.md
Due: markdownlint, prettier --check

style: remove token utrecht icon color (#1631)
  .changeset/remove-icon-color.md
  packages/ma-design-tokens/src/tokens.json
Due: markdownlint, prettier --check

style: tokens Customizable Text Input, Combobox, Listbox
  packages/ma-design-tokens/src/tokens.json
Due: none

padding-inline
  packages/ma-design-tokens/src/tokens.json
Due: none

group label margin-inline-start
  packages/ma-design-tokens/src/tokens.json
Due: none

clippy listbox option
  packages/ma-design-tokens/src/tokens.json
Due: none

update listbox option tokens
  packages/ma-design-tokens/src/tokens.json
Due: none

label color
  packages/ma-design-tokens/src/tokens.json
Due: none

order
  packages/ma-design-tokens/src/tokens.json
Due: none

extra commit
  packages/ma-design-tokens/src/tokens.json
Due: none

spacing
  packages/ma-design-tokens/src/tokens.json
Due: none

fix: remove theme selector root
  proprietary/sittard-geleen-design-tokens/style-dictionary.mjs
Due: none

chore: up shell-quote in overrides to 1.11.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: remove shell-quote from minimumReleaseAgeExclude
  pnpm-workspace.yaml
Due: none

chore: upgrade pnpm to 11.28.4
  package.json
Due: npmPkgJsonLint --allowEmptyTargets

build: upgrade style-dictionary build scripts/configs to ESM
  proprietary/bodegraven-reeuwijk-design-tokens/style-dictionary.config.mjs
  proprietary/borne-design-tokens/style-dictionary.config.mjs
  proprietary/buren-design-tokens/style-dictionary.config.mjs
  proprietary/demodam-design-tokens/style-dictionary.config.mjs
  proprietary/dinkelland-design-tokens/style-dictionary.config.mjs
  proprietary/drechterland-design-tokens/style-dictionary.config.mjs
  proprietary/duiven-design-tokens/style-dictionary.config.mjs
  proprietary/duo-design-tokens/style-dictionary.config.mjs
  proprietary/enkhuizen-design-tokens/style-dictionary.config.mjs
  proprietary/haarlem-design-tokens/style-dictionary.config.mjs
  proprietary/haarlemmermeer-design-tokens/style-dictionary.config.mjs
  proprietary/hoorn-design-tokens/style-dictionary.config.mjs
  proprietary/horstaandemaas-design-tokens/style-dictionary.config.mjs
  proprietary/leidschendam-voorburg-design-tokens/style-dictionary.config.mjs
  proprietary/nijmegen-design-tokens/style-dictionary.config.mjs
  proprietary/noaberkracht-design-tokens/style-dictionary.config.mjs
  proprietary/noordoostpolder-design-tokens/style-dictionary.config.mjs
  proprietary/noordwijk-design-tokens/style-dictionary.config.mjs
  proprietary/provincie-zuid-holland-design-tokens/style-dictionary.config.mjs
  proprietary/ridderkerk-design-tokens/style-dictionary.config.mjs
  proprietary/stedebroec-design-tokens/style-dictionary.config.mjs
  proprietary/tilburg-design-tokens/style-dictionary.config.mjs
  proprietary/tubbergen-design-tokens/style-dictionary.config.mjs
  proprietary/venray-design-tokens/style-dictionary.config.mjs
  proprietary/vught-design-tokens/style-dictionary.config.mjs
  proprietary/westervoort-design-tokens/style-dictionary.config.mjs
  proprietary/xxllnc-design-tokens/style-dictionary.config.mjs
  proprietary/zevenaar-design-tokens/style-dictionary.config.mjs
  proprietary/zwolle-design-tokens/style-dictionary.config.mjs
  style-dictionary-config.mjs
Due: none

chore: set up eslint to understand mjs
  .eslintrc.json
Due: none

feat: add Style Dictionary transform to turn "None" values into "none"
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: allow None as a valid design token value but transform it to none when building
  proprietary/leiden-design-tokens/style-dictionary.mjs
Due: none

docs: improve formatting in docs and add types
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: import preprocessor from shared file
  proprietary/leiden-design-tokens/style-dictionary.mjs
  style-dictionary-config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add changeset
  .changeset/large-cows-scream.md
Due: markdownlint, prettier --check

fix: $value should have precedence when retrieving the value
  style-dictionary-config.mjs
Due: none

build: allow capitalized "None" values for all themes
  proprietary/leiden-design-tokens/style-dictionary.mjs
  style-dictionary-config.mjs
Due: none
