Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: add more unit tests
  packages/theme-toolkit/src/util.test.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: rename accordion tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/koffie-thee-water.md
Due: markdownlint, prettier --check

chore: fix lint-staged config
  .husky/pre-commit
  .lintstagedrc.json
  lint-staged.config.cjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@8ea6f498a7ad1d00df523bd09ba0596cfc53fe33 🚀
  project.json
Due: none

feat: added missing form-control tokens and made reference to them
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

chore: remove storybook version
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets

docs: add changeset
  .changeset/consider-constituency-survivor.md
Due: markdownlint, prettier --check

removed unnecessary `.accordion.section.border-width`. Because `.accordion.section.border-block-end-width` will to the trick.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: update changeset
  .changeset/koffie-thee-water.md
Due: markdownlint, prettier --check

Fix: Aligned tokes with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

switched tokens so utrecht goes first
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: reordered tokens so its easier to scan them
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/quaint-clearance-official.md
Due: markdownlint, prettier --check

docs: update changeset
  .changeset/quaint-clearance-official.md
Due: markdownlint, prettier --check

fix: align badge-counter tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: prefix status-badge tokens with `.todo`.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: align blockquote tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

fix: typo
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/gap-governor-fiction.md
Due: markdownlint, prettier --check

docs: add changeset
  .changeset/paragraph-choose-mountain.md
Due: markdownlint, prettier --check

docs: update changeset
  .changeset/gap-governor-fiction.md
Due: markdownlint, prettier --check

fix: changed name of some tokens
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/hold-motorist-mug.md
Due: markdownlint, prettier --check

fix: remove button tokens for margin
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/tear-injury-mold.md
Due: markdownlint, prettier --check

fix: align checkbox tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/last-perfume-momentum.md
Due: markdownlint, prettier --check

fix: focus.color was supported in code of utrecht so get's its `utrecht.` prefix back.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: update changeset
  .changeset/leave-place-negligence.md
Due: markdownlint, prettier --check

Changed order of designtokens so there more easy to scan.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: update changeset
  .changeset/consider-constituency-survivor.md
Due: markdownlint, prettier --check

fix: align form-field-error-message tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/enfix-witness-earthflax.md
Due: markdownlint, prettier --check

Changed prefix of `heading.color` token from `todo` to `utrecht` because it is available in code.
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/guide-musical-bloodshed.md
Due: markdownlint, prettier --check

fix: removed margin tokens for headings 1 to 6
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

docs: add changeset
  .changeset/charm-slump-rubbish.md
Due: markdownlint, prettier --check

fix: align link tokens with code
  packages/voorbeeld-design-tokens/figma/voorbeeld.tokens.json
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,cjs,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,cjs,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
