Repository nl-design-system/themes: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

WIP: additional Buren tokens
  proprietary/buren-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading.tokens.json
Due: none

WIP: fixes and additions to Buren tokens
  proprietary/buren-design-tokens/src/brand/buren/color.tokens.json
  proprietary/buren-design-tokens/src/brand/buren/typography.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/paragraph.tokens.json
Due: none

WIP: Quick fixes for Buren button
  proprietary/buren-design-tokens/src/component/utrecht/button.tokens.json
Due: none

WIP: Buren color tokens
  proprietary/buren-design-tokens/src/brand/buren/color.tokens.json
  proprietary/buren-design-tokens/src/brand/buren/typography.tokens.json
Due: none

WIP Additional Buren design tokens
  proprietary/buren-design-tokens/src/brand/buren/color.tokens.json
  proprietary/buren-design-tokens/src/common/utrecht/focus.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/textarea.tokens.json
Due: none

WIP: Added Buren line-height to paragraph text
  proprietary/buren-design-tokens/src/component/utrecht/paragraph.tokens.json
Due: none

design tokens voor Gemeente Buren (#41)
  proprietary/buren-design-tokens/src/brand/bodegraven-reeuwijk/color.tokens.json
  proprietary/buren-design-tokens/src/brand/bodegraven-reeuwijk/typography.tokens.json
  proprietary/buren-design-tokens/src/brand/buren/color.tokens.json
  proprietary/buren-design-tokens/src/brand/buren/typography.tokens.json
  proprietary/buren-design-tokens/src/common/utrecht/focus.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/textarea.tokens.json
Due: none

feat: design tokens for Gemeente Buren
  package-lock.json
  packages/storybook/config/preview.js
  proprietary/buren-design-tokens/LICENSE.md
  proprietary/buren-design-tokens/README.md
  proprietary/buren-design-tokens/documentation/color.stories.mdx
  proprietary/buren-design-tokens/documentation/components.stories.mdx
  proprietary/buren-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/buren-design-tokens/documentation/readme.stories.mdx
  proprietary/buren-design-tokens/package.json
  proprietary/buren-design-tokens/src/_responsive.scss
  proprietary/buren-design-tokens/src/brand/bodegraven-reeuwijk/color.tokens.json
  proprietary/buren-design-tokens/src/brand/bodegraven-reeuwijk/typography.tokens.json
  proprietary/buren-design-tokens/src/common/utrecht/focus.tokens.json
  proprietary/buren-design-tokens/src/common/utrecht/space.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/buren-design-tokens/src/config.json
  proprietary/buren-design-tokens/src/custom.scss
  proprietary/buren-design-tokens/src/font.js
  proprietary/buren-design-tokens/src/index.scss
  proprietary/buren-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@ea274611a236f9155eac110a2ffc2ad063f34a86 🚀
  0.934789e3.iframe.bundle.js
  0.eca98950.iframe.bundle.js
  4.5006afe4.iframe.bundle.js
  4.5006afe4.iframe.bundle.js.LICENSE.txt
  4.5006afe4.iframe.bundle.js.map
  4.645b914a.iframe.bundle.js
  4.645b914a.iframe.bundle.js.map
  5.ad7814a1.iframe.bundle.js
  5.d99cbd13.iframe.bundle.js
  6.5dcae4b0.iframe.bundle.js
  6.5dcae4b0.iframe.bundle.js.map
  6.fabc950e.iframe.bundle.js
  6.fabc950e.iframe.bundle.js.LICENSE.txt
  6.fabc950e.iframe.bundle.js.map
  7.3f1820fe.iframe.bundle.js
  7.3f1820fe.iframe.bundle.js.map
  7.b1b75a28.iframe.bundle.js
  7.b1b75a28.iframe.bundle.js.LICENSE.txt
  7.b1b75a28.iframe.bundle.js.map
  8.91631068.iframe.bundle.js
  8.ebc16fa7.iframe.bundle.js
  iframe.html
  main.1a67ca76.iframe.bundle.js
  main.1a67ca76.iframe.bundle.js.LICENSE.txt
  main.1a67ca76.iframe.bundle.js.map
  main.62ac7832.iframe.bundle.js
  main.62ac7832.iframe.bundle.js.map
  runtime~main.17064506.iframe.bundle.js
  runtime~main.b87f2ad1.iframe.bundle.js
  vendors~main.9606a190.iframe.bundle.js
  vendors~main.9606a190.iframe.bundle.js.LICENSE.txt
  vendors~main.9606a190.iframe.bundle.js.map
  vendors~main.9ea009c1.iframe.bundle.js
  vendors~main.9ea009c1.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  packages/theme-logo/package.json
  packages/theme-switcher/package.json
  proprietary/amsterdam-design-tokens/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/borne-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/drechterland-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/duo-design-tokens/package.json
  proprietary/enkhuizen-design-tokens/package.json
  proprietary/groningen-design-tokens/package.json
  proprietary/haarlemmermeer-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/horstaandemaas-design-tokens/package.json
  proprietary/leidschendam-voorburg-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/rotterdam-design-tokens/package.json
  proprietary/stedebroec-design-tokens/package.json
  proprietary/tilburg-design-tokens/package.json
  proprietary/venray-design-tokens/package.json
  proprietary/vught-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
  proprietary/zwolle-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

wip
  package-lock.json
  package.json
  packages/theme-switcher/src/index.js
  proprietary/buren-design-tokens/src/brand/buren/typography.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/paragraph.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, prettier --check, eslint --no-error-on-unmatched-pattern

fix: use correct lightness values as design token name
  proprietary/buren-design-tokens/src/brand/buren/color.tokens.json
  proprietary/buren-design-tokens/src/common/utrecht/focus.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/buren-design-tokens/src/component/utrecht/textarea.tokens.json
Due: none

feat: add Gemeente Buren to theme switcher
  packages/theme-switcher/src/generate-json.js
  packages/theme-switcher/src/index.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: correct npm package for Hoorn in theme switcher
  packages/theme-switcher/src/generate-json.js
  proprietary/hoorn-design-tokens/src/config.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@1f12ed794e473ecb35605edc1dde8075c8c89865 🚀
  iframe.html
  main.1a67ca76.iframe.bundle.js
  main.1a67ca76.iframe.bundle.js.map
  main.e30e8153.iframe.bundle.js
  main.e30e8153.iframe.bundle.js.LICENSE.txt
  main.e30e8153.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/themes@13bed1a185e1e54fbef89adc70eedc7b515e4a30 🚀
  iframe.html
  main.e30e8153.iframe.bundle.js
  main.e30e8153.iframe.bundle.js.map
  main.f1b79abb.iframe.bundle.js
  main.f1b79abb.iframe.bundle.js.LICENSE.txt
  main.f1b79abb.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(buren-design-tokens): copy font sizes from _variables.scss
  proprietary/buren-design-tokens/src/brand/buren/typography.tokens.json
Due: none

fixup! style(buren-design-tokens): copy font sizes from _variables.scss
  proprietary/buren-design-tokens/src/brand/buren/typography.tokens.json
Due: none

style(buren-design-tokens): copy font sizes from _variables.scss (#46)
  proprietary/buren-design-tokens/src/brand/buren/typography.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@470147cc5f21e07c186dbf6ed9381690aeaabbfa 🚀
  iframe.html
  main.54f68719.iframe.bundle.js
  main.54f68719.iframe.bundle.js.LICENSE.txt
  main.54f68719.iframe.bundle.js.map
  main.f1b79abb.iframe.bundle.js
  main.f1b79abb.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: update Rotterdam design tokens from Figma source
  proprietary/rotterdam-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/rotterdam-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/rotterdam-design-tokens/src/component/rotterdam/button.tokens.json
  proprietary/rotterdam-design-tokens/src/component/rotterdam/paragraph.tokens.json
  proprietary/rotterdam-design-tokens/src/component/rotterdam/textbox.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/badge-counter.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/badge-data.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/badge.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/form-field.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/textbox.tokens.json
Due: none

fixup! feat: update Rotterdam design tokens from Figma source
  proprietary/rotterdam-design-tokens/src/brand/rotterdam/color.tokens.json
  proprietary/rotterdam-design-tokens/src/brand/rotterdam/typography.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/form-select.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/heading.tokens.json
  proprietary/rotterdam-design-tokens/src/component/utrecht/table.tokens.json
Due: none

Deploying to gh-pages from @ nl-design-system/themes@7282a394de520946f3dc026204b9df30dfe6386e 🚀
  iframe.html
  main.2ba64175.iframe.bundle.js
  main.2ba64175.iframe.bundle.js.LICENSE.txt
  main.2ba64175.iframe.bundle.js.map
  main.54f68719.iframe.bundle.js
  main.54f68719.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: GOV.UK design tokens
  proprietary/govuk-design-tokens/LICENSE.md
  proprietary/govuk-design-tokens/README.md
  proprietary/govuk-design-tokens/documentation/color.stories.mdx
  proprietary/govuk-design-tokens/documentation/components.stories.mdx
  proprietary/govuk-design-tokens/documentation/design-tokens.stories.mdx
  proprietary/govuk-design-tokens/documentation/readme.stories.mdx
  proprietary/govuk-design-tokens/package.json
  proprietary/govuk-design-tokens/src/_responsive.scss
  proprietary/govuk-design-tokens/src/badge.scss
  proprietary/govuk-design-tokens/src/brand/govuk/color.tokens.json
  proprietary/govuk-design-tokens/src/brand/govuk/typography.tokens.json
  proprietary/govuk-design-tokens/src/caption.scss
  proprietary/govuk-design-tokens/src/common/govuk/feedback.tokens.json
  proprietary/govuk-design-tokens/src/common/govuk/spacing.tokens.json
  proprietary/govuk-design-tokens/src/common/utrecht/action.tokens.json
  proprietary/govuk-design-tokens/src/common/utrecht/focus.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/badge.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/button-group.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/button.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/document.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/form-input.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/form-label.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/heading-1.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/heading-2.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/heading-3.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/heading-4.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/link.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/paragraph.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/table.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/textarea.tokens.json
  proprietary/govuk-design-tokens/src/component/utrecht/textbox.tokens.json
  proprietary/govuk-design-tokens/src/config.json
  proprietary/govuk-design-tokens/src/custom.scss
  proprietary/govuk-design-tokens/src/form-field.scss
  proprietary/govuk-design-tokens/src/index.scss
  proprietary/govuk-design-tokens/src/label.scss
  proprietary/govuk-design-tokens/style-dictionary.config.js
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

feat: GOV.UK font
  packages/storybook/config/preview.js
  proprietary/govuk-design-tokens/src/font.js
  proprietary/govuk-design-tokens/src/font/bold-affa96571d-v2.woff
  proprietary/govuk-design-tokens/src/font/bold-b542beb274-v2.woff2
  proprietary/govuk-design-tokens/src/font/bold.css
  proprietary/govuk-design-tokens/src/font/light-94a07e06a1-v2.woff2
  proprietary/govuk-design-tokens/src/font/light-f591b13f7d-v2.woff
  proprietary/govuk-design-tokens/src/font/light.css
Due: prettier --check, eslint --no-error-on-unmatched-pattern, stylelint --allow-empty-input

feat: improved component templates
  packages/theme-toolkit/src/components.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: RVO theme
  documentation/rvo/README.md
  documentation/rvo/color.stories.mdx
  documentation/rvo/components.stories.mdx
  documentation/rvo/config.json
  packages/storybook/config/preview.js
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat: RVO theme
  documentation/rvo/config.json
Due: none

chore: migrate to new Utrecht Design System release
  documentation/utrecht/color.stories.mdx
  packages/storybook/config/preview.js
  packages/theme-toolkit/src/components.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: install patch updates and new alpha releases
  package-lock.json
  package.json
  packages/theme-toolkit/package.json
  proprietary/bodegraven-reeuwijk-design-tokens/package.json
  proprietary/buren-design-tokens/package.json
  proprietary/demodam-design-tokens/package.json
  proprietary/duiven-design-tokens/package.json
  proprietary/hoorn-design-tokens/package.json
  proprietary/nijmegen-design-tokens/package.json
  proprietary/noordoostpolder-design-tokens/package.json
  proprietary/westervoort-design-tokens/package.json
  proprietary/zevenaar-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets

chore: format with new Prettier style
  .github/dependabot.yml
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: ((any of: *.md) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.css)
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
